@charset "utf-8";

/* INITIALIZE */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0;padding:0;border:0;font-size:100%;box-sizing:border-box}
html,body {height:100%}
html {width:100%;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased}
body {-webkit-text-size-adjust:none}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block}
ol,ul {list-style:none}
em,i,address {font-style:normal}
img {max-width:100%;vertical-align:middle}
video {min-width:100%;max-width:100%}
table {width:100%;border-spacing:0;table-layout:fixed;empty-cells:show;text-align:center;word-wrap:break-word}
caption {overflow:hidden;height:0;font-size:1px;line-height:0}
legend {font-size:0}
input,textarea,select,button,label {display:inline-block;vertical-align:top}

/* LINK */
a,a:hover {text-decoration:none}

/* FONT */
body,a,input,textarea,select,button,table,pre {font-family:Arial,Helvetica,'Apple SD Gothic Neo',sans-seri;}
body,a,input,textarea,select,button,table {font-size:13px;line-height:1;color:#333;}
pre {line-height:22px;white-space:pre-line}

/* FORM */
input[type='text'],
input[type='password'],
input[type='tel'],
input[type='search'],
input[type='email'],
input[type='time'],
input[type='month'],
input[type='date'],
input[type='url'],
input[type='image'],
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='file'],
textarea,
select {margin:0;padding:0;width:100%;border:1px solid #ccc;border-radius:0;background:transparent;-webkit-appearance:none;-moz-appearance:none;}
input[type='button'],
input[type='image'],
input[type='file'],
input[type='submit'],
button {cursor:pointer}
input[type='button'],
button {position:relative;border:0;background:transparent}
textarea {resize:none;overflow-y:auto;padding:13px;background-color:#fff;font-size:14px;line-height:1.4;box-sizing:border-box}
input[type='text'][disabled],
input[type='text'][readonly],
input[type='password'][disabled],
input[type='password'][readonly],
textarea[disabled],
textarea[readonly],
select[disabled] {background-color:#ececec;color:#999}
select::-ms-expand {display:none}
button {margin:0;padding:0}
button[disabled] {cursor:default}
input[type='hidden'],
input::-ms-clear,
input::-ms-reveal {display:none}
input[type='button']::-moz-focus-inner {margin:-1px;padding:0}
::-webkit-input-placeholder {color:#999;text-align:left}
::-moz-placeholder {color:#999;text-align:left}
:-moz-placeholder {color:#999;text-align:left}
:-ms-input-placeholder {color:#999;text-align:left}
/*:focus {outline:0}*/
