@charset "utf-8";

/* HIDDEN */
.blind {position:absolute;left:-5000em;top:-5000em;font-size:1px;line-height:1px}
.hide {display:none}

/* ALIGN */
.fl {float:left !important}
.fr {float:right !important}
.al {text-align:left !important}
.ar {text-align:right !important}
.ac {text-align:center !important}

/* MARGIN */
.mt0 {margin-top:0 !important}
.mt5 {margin-top:5px !important}
.mt10 {margin-top:10px !important}
.mt15 {margin-top:15px !important}
.mt20 {margin-top:20px !important}
.mt25 {margin-top:25px !important}
.mt30 {margin-top:30px !important}
.mt35 {margin-top:35px !important}
.mt40 {margin-top:40px !important}
.mt45 {margin-top:45px !important}
.mt50 {margin-top:50px !important}
.mt60 {margin-top:60px !important}
.mt70 {margin-top:70px !important}
.mb0 {margin-bottom:0px !important}
.pb0 {padding-bottom:0px !important}

/* SWIPE */
.slick-dots {text-align:center;}
.slick-dots li {display:inline-block;width:14px;font-size:0;text-align:center;vertical-align:top;}
.slick-dots li + li {margin-left:8px;}
.slick-dots li button {overflow:hidden;display:inline-block;width:5px;height:5px;margin-top:1.5px;-webkit-border-radius:50%;border-radius:50%;background-color:#424346;text-indent:-5000em;vertical-align:top;}
.slick-dots li.slick-active button {width:8px;height:8px;margin:0;background-color:#c70000;}

/* COMMON */
.dim {position:fixed;left:0;top:0;z-index:9999;width:100%;height:100%;background:#000;opacity:0.5}
.bar {height:10px;background-color:#dde2ea;}
.bar.wd {margin:0 -15px;}
.bar.mt {margin-top:40px;}

/* FONT */
.fontB {font-weight:bold !important;}

/* COLOR */
.clr0 {color:#fff !important}
.clr1 {color:#111 !important}
.clr2 {color:#333 !important}
.clr3 {color:#666 !important}
.clr4 {color:#999 !important}
.clr5 {color:#c70000 !important}

/* TITLE */
.tit-ty1 {margin-bottom:25px;font-size:24px;line-height:28px;color:#111;text-align:center;}
.tit-ty2 {margin:37px 0 15px;font-size:18px;line-height:22px;color:#111;}
.tit-ty2:first-child {margin-top:0;}
.tit-ty3 {margin:32px 0 12px;font-size:17px;line-height:22px;color:#111;}
.tit-ty3:first-child {margin-top:0;}
.tit-ty4 {margin:30px 0 12px;font-size:16px;line-height:22px;color:#111;}
.tit-ty4:first-of-type {margin-top:0;}
.tit-txt {font-size:13px;line-height:21px;color:#666;text-align:center;}

.tit-txt + .tit-ty1 {margin-top:6px;}
.box-notice + .tit-ty2 {margin-top:60px;}

[class^='tit-ty'] .ess {margin-left:4px;font-size:17px;color:#c70000;}

/* TEXT */
.txt-ty1 {font-size:15px;line-height:21px;color:#666;}
.txt-ty3 {margin-top:12px;font-size:13px;line-height:16px;color:#666;}
[class^='refer-txt'] {position:relative;margin-top:12px;font-family:notoL;font-size:13px;line-height:18px;color:#666;}
[class^='refer-txt']:before {position:absolute;left:0;top:0}
.refer-txt {padding-left:16px;}
.refer-txt2 {padding-left:12px;}
.refer-txt:before {content:'※';;}
.refer-txt2:before {content:'*';}

.img + .txt-ty1 {margin-top:15px;}

/* ICON */
i[class^='icos'] {display:inline-block;vertical-align:middle;}
.icos-diskette {width:20px;height:18px;margin-left:5px;background:url('../../img/ico/ico_diskette.png') no-repeat 0 0;vertical-align:-3px !important;}
.icos-download {width:12px;height:16px;background:url('../../img/ico/ico_download.png') no-repeat 0 0;background-size:12px auto;}
.icos-pensel {width:10px;height:10px;margin-left:5px;background:url('../../img/ico/ico_pensel.png') no-repeat 0 0;}
.icos-exclamation {width:50px;height:50px;background:url('../../img/ico/ico_exclamation.png') no-repeat 0 0;-webkit-background-size:100% auto;background-size:100% auto;}
.icos-plus {width:7px;height:7px;margin:-3px 0 0 10px;background:url('../../img/ico/ico_plus.png') no-repeat 0 0;-webkit-background-size:100% auto;background-size:100% auto;}

/* BUTTON */
[class^='btns-'] {display:inline-block;padding:0 10px;font-weight:bold;text-align:center;box-sizing:border-box;}
[class^='btns-'].full {width:100%}
[class^='btns-'].lg {padding:0 40px;height:50px;line-height:50px;font-size:16px;}
[class^='btns-'].md {padding:0 15px;height:45px;line-height:45px;font-size:14px;font-weight:normal}
[class^='btns-'].sm {padding:0 15px;height:40px;line-height:40px;font-size:16px;font-weight:normal}
[class^='btns-'].xs {padding:0 15px;height:30px;line-height:30px;font-size:14px;font-weight:normal}
[class^='btns-'].round {min-width:auto}
[class^='btns-'].md.round {padding:0 40px;border-radius:30px;}
[class^='btns-'].sm.round {border-radius:30px}
[class^='btns-line'][disabled] {background-color:#f5f6f8;color:#999;border-color:#babdc3;}
[class^='btns-'].sp {padding:0 7px;height:35px;line-height:35px;font-size:14px;font-weight:normal;letter-spacing:-.5px;}

.btns-solid1 {background-color:#c70000;color:#fff}
.btns-solid2 {background-color:#555;color:#fff}
.btns-solid2[disabled] {background-color:#dde2ea;color:#999}
.btns-solid3 {background-color:#dde2ea;}

.btns-line1 {border:1px solid #babdc3;background-color:#fff;}
.btns-line2 {border:1px solid #c70000;background-color:#fff;color:#c70000}
.btns-line3 {border:1px solid #fff;color:#fff}
.btns-line4 {border:1px solid #00a8b7;background-color:#fff;color:#00a8b7}

.btns-arrow {padding:0 12px 0 0;background:url('../../img/btn/btn_arrow.png') no-repeat 100% 50%;-webkit-background-size:auto 11px;background-size:auto 11px;color:#000;}

.btns {margin-top:30px;}
.btns [class^='btns-'].md {padding:0 30px;}

.btn-round {display:inline-block;width:80px;height:35px;line-height:33px;border:1px #cecece solid;border-radius:50px;background-color:#fff;font-size:16px;color:#666;text-align:center;vertical-align:middle;box-sizing:border-box}
.btn-round[aria-selected='true'] {border-color:#c70000;background-color:#c70000;color:#fff}
.btn-round-big {display:inline-block;min-width:88px;height:60px;line-height:58px;padding:0 20px;border:1px #dde2ea solid;border-radius:30px;font-size:16px;color:#666;background:#fff}
.btn-round-big[aria-selected='true'] {border-color:#be1117;color:#fff;background:#be1117}
.btn-round-big:disabled {color:#999;background:#e3e4e6}
.btn-round-big.plus {min-width:60px;border:0;background:#5c5c5c url('../../img/btn/btn_plus.png') 50% 50% no-repeat}
.btn-round-big.btn-reset {padding-right:60px;border:1px #333 solid;color:#333;background: #fff url('../../img/btn/btn_reset.png') 100% 50% no-repeat}
.btn-round-big + .btn-round-big {margin-left:5px}
.select-group {margin-bottom:10px;}
.select-group ul {display:table;width:100%;border-collapse:collapse;}
.select-group li {display:table-cell;border:1px solid #c9ccd2;}
.select-group li button {width:100%;height:28px;text-align:center;}

.btn-area {display:-webkit-flex;display:flex;margin:40px -2.5px 0;font-size:0;text-align:center}
.btn-area [class^='btns-'] {-webkit-flex:1;flex:1;margin:0 2.5px;padding:0;}
.btn-area [class^='btns-'].full {margin:0}

.btn-area .btns-more{margin:auto;padding:0 15px;width:125px;}
.btns-more {-webkit-flex:inherit !important;flex:inherit !important;border:1px solid #babdc3;}
.btns-more:after {content:'';display:inline-block;width:10px;height:10px;margin:-3px 0 0 15px;background:url('../../img/ico/ico_plus.png') no-repeat 0 0;vertical-align:middle;background-size:100% auto;}

.btn-area > .inner {display:table;width:100%;table-layout:fixed}
.btn-area > .inner [class^='btns-'] {margin:0}
.btn-area > .inner > div {display:table-cell;padding:0 5px}
.btn-area > .inner > div:first-child {padding-left:0}
.btn-area > .inner > div:last-child {padding-right:0}
.btn-area > .inner button {width:100%}

.btn-area.full-type {margin:-8px 0 0;}

[class^="btn-share"] {display:inline-block;overflow:hidden;width:30px;height:30px;margin:-3px 1px 0 5px;background:url('../../img/btn/btn_share.png') no-repeat 0 0;text-indent:-5000em;vertical-align:middle;}
.btn-share-fb{margin-left:0;background:url('../../img/btn/btn_share_fb.png') no-repeat 0 0;background-size:100%;}
.btn-share-insta{margin-left:0;background:url('../../img/btn/btn_share_insta.png') no-repeat 0 0;background-size:100%;}
.btn-share-twitter{margin-left:0;background:url('../../img/btn/btn_share_twitter.png') no-repeat 0 0;background-size:100%;}

/* toggle */
.hidden-cont{display:none;}

/* TAB */
.tab-ty1 {margin-bottom:25px;}
.tab-ty1 ul{flex-wrap:wrap;display:-webkit-flex;display:flex;}
.tab-ty1 li {width:33.33333%;height:38px;}
.tab-ty1 li a{border:solid #dde2ea;border-width:0 1px 1px 0;}
.tab-ty1 li:nth-child(1) a,
.tab-ty1 li:nth-child(2) a,
.tab-ty1 li:nth-child(3) a{border-top:1px solid #dde2ea;}
.tab-ty1 li:nth-child(1) a,
.tab-ty1 li:nth-child(4n) a{border-left:1px solid #dde2ea;}
.tab-ty1 li a {display:block;height:100%;font-size:14px;line-height:18px;color:#666;text-align:center;}
.tab-ty1 li a:after {content:'';display:inline-block;overflow:hidden;width:0;height:100%;vertical-align:middle;}
.tab-ty1 li a[aria-selected='true'] {background-color:#c70000;color:#fff;border-color:#c70000;}
.tab-ty1 li a span {display:inline-block;vertical-align:middle;}
.tab-ty1 ul.taller li {height:56px;}

.tab-ty2 {margin-bottom:25px;}
.tab-ty2 ul {display:table;width:100%;table-layout:fixed;}
.tab-ty2 li {display:table-cell;text-align:center;box-sizing:border-box}
.tab-ty2 li a {display:block;position:relative;top:-1px;height:40px;border-bottom:1px solid #c70000;background-color:#f5f6f8;font-size:16px;line-height:40px;color:#666}
.tab-ty2 li a[aria-selected='true'] {top:0;background-color:#fff;border:1px solid #c70000;border-bottom:1px #fff solid;font-weight:bold;color:#c70000}
.tab-ty2 li:first-child a {border-left:0;}
.tab-ty2 li:last-child a {border-right:0;}
.division .tab-ty2 {margin:0 -15px 25px;}

.tab-ty3 {margin-bottom:25px;}
.tab-ty3 ul {display:table;width:100%;table-layout:fixed}
.tab-ty3 li {display:table-cell}
.tab-ty3 li a {display:block;position:relative;height:39px;border:solid #dde2ea;border-width:1px 1px 1px 0;font-size:14px;line-height:39px;color:#666;text-align:center}
.tab-ty3 li a[aria-selected='true'] {border-color:#c70000;background-color:#c70000;font-weight:bold;color:#fff}
.tab-ty3 li a:before {content:'';position:absolute;left:-1px;top:-1px;bottom:-1px;width:1px;background-color:#dde2ea}
.tab-ty3 li a[aria-selected='true']:before {background-color:#c70000}
.tab-ty3 li:first-child a:before {left:0}

.tab-ty4 {margin:0 -20px 25px;}
.tab-ty4 ol {display:table;width:100%;border-spacing:20px 0;table-layout:fixed;}
.tab-ty4 li {float:left;width:32%;vertical-align:top;margin-right:2%;margin-top:6px;}
.tab-ty4 li:nth-child(1),.tab-ty4 li:nth-child(2),.tab-ty4 li:nth-child(3){margin-top:0;}
.tab-ty4 li:nth-child(3n){margin-right:0;}
.tab-ty4 li a {display:block;height:45px;background-color:#f8f9fa;font-size:14px;line-height:45px;text-align:center;color:#666;}
.tab-ty4 li a[aria-selected='true'] {background-color:#c70000;color:#fff;}

.tab-panel {display:none;}
.tab-panel.on {display:block;}

.tab-swiper-container {border-bottom:1px solid #babdc4;}
.tab-swiper-container li {display:inline-block;width:auto;}
.tab-swiper-container li a {display:block;position:relative;font-family:notoR;font-size:16px;color:#666;text-align:center;}
.tab-swiper-container li span {display:block;position:relative;height:46px;line-height:46px;}
.tab-swiper-container li a[aria-selected='true'] {z-index:2;color:#c00c3f;}
.tab-swiper-container li a[aria-selected='true'] span:before {content:'';position:absolute;left:0;right:0;bottom:-1px;height:2px;background-color:#c00c3f;}
.division .tab-swiper-container {margin:0 -15px;}

/* STEP */
.step-list {overflow:hidden;position:relative;margin:0 -15px;padding:20px 15px;border-bottom:1px solid #dde2ea;}
.step-list ol {float:right;font-size:0;}
.step-list li {display:inline-block;padding-left:10px;background-color:#fff;line-height:24px;vertical-align:top;}
.step-list li em {display:inline-block;position:relative;width:24px;height:24px;border:1px solid #babdc3;background-color:#f8f9fa;font-size:14px;line-height:24px;color:#babdc3;text-align:center;vertical-align:top;}
.step-list li em:before {content:'';position:absolute;left:-11px;top:50%;width:10px;height:1px;background-color:#babdc3;}
.step-list li:first-child em:before {display:none;}
.step-list li em:after {content:'';position:absolute;left:0;right:0;top:0;bottom:0;background:#fff url('../../img/bg/bg_step_finish.png') no-repeat 50% 50%;-webkit-background-size:10px auto;background-size:10px auto;}
.step-list li.on em:after,
.step-list li.on ~ li em:after {display:none;}
.step-list li.on em {border-color:#c70000;background-color:#c70000;color:#fff;}
.step-list li em span {display:none;}
.step-list li strong {position:absolute;left:15px;font-size:16px;line-height:24px;color:#333;opacity:0;}
.step-list li.on strong {opacity:1;}

/* LIST */
.lists-dash {font-size:15px;line-height:21px;color:#666;}
.lists-dash > li {position:relative;padding-left:10px;}
.lists-dash > li + li {margin-top:2px;}
.lists-dash > li:before {content:'';position:absolute;left:0;top:10px;width:5px;height:1px;background-color:#666;}

.lists-dot{font-size:13px;line-height:18px;color:#666;}
.lists-dot > li {position:relative;padding-left:10px;}
.lists-dot > li + li {margin-top:6px;}
.lists-dot > li:before {content:'';position:absolute;left:0;top:6px;width:3px;height:3px;-webkit-border-radius:50%;border-radius:50%;background-color:#9e9e9e;}

.form-cell + .lists-dot {margin-top:25px;}

.lists-num {font-size:15px;line-height:21px;}
.lists-num li {position:relative;padding-left:18px;}
.lists-num li + li {margin-top:5px;}
.lists-num li span {position:absolute;left:0;top:0;}

/* SEARCH */
.search-area dl {padding:24px 0;}
.search-area dt {margin-bottom:15px;font-weight:bold;font-size:16px;}
.search-area dd.type2 {display:-webkit-flex;display:flex;width:100%;}
.search-area dd.type2 > div {-webkit-flex:1;flex:1;}
.search-area dd.type2 .unit {width:5px;opacity:0;}
.search-area dd [class^='btns-'] {width:100%;margin-top:10px;}
.search-area .inner{margin-top:5px;}
.search-area .inner:first-of-type{margin-top:0}

/* BOX */
.box-notice{margin:0 -15px 25px;display:block;background:#f8f9fa;font-size:15px;padding:25px 15px;color:#333;text-align:center;}

/* TABLE */
[class^='tbl-ty'] {margin-top:10px;border-top:2px solid #22242b;font-size:16px}
[class^='tbl-ty'].border {border-top:1px solid #dde2ea;}
[class^='tbl-ty'] .tbl-tit {padding:30px 20px;border-bottom:1px dotted #dde2ea;font-weight:bold;font-size:18px;color:#111;}
[class^='tbl-ty'] table {width:100%;border-bottom:1px solid #dde2ea;border-collapse:collapse;border-spacing:0;table-layout:fixed}
[class^='tbl-ty'] th,
[class^='tbl-ty'] td {padding:18px 14px;font-size:15px;line-height:21px;border-top:1px dotted #dde2ea}
[class^='tbl-ty'] thead th,
[class^='tbl-ty'] thead td {border-bottom:1px solid #dde2ea;}
[class^='tbl-ty'] th {color:#333;background:#f5f6f8}
[class^='tbl-ty'] th:first-child,
[class^='tbl-ty'] td:first-child {border-left:0;}
[class^='tbl-ty'] tr:first-child th,
[class^='tbl-ty'] tr:first-child td {border-top:0;}
[class^='tbl-ty'] td,
[class^='tbl-ty'] td a {color:#666;}
[class^='tbl-ty'] td a:hover {text-decoration:underline;}
[class^='tbl-ty'] td.border-l {border-left:1px solid #dde2ea;}

.tbl-ty1 table {text-align:center}
.tbl-ty1 th,
.tbl-ty1 td {border-left:1px #dde2ea solid}
.tbl-ty1 td .reservation-num + button {margin-top:10px}

.tbl-ty2 table {position:relative;text-align:left}
.tbl-ty2 table + table {margin-top:30px;}
.tbl-ty2 table + table:before {content:'';position:absolute;left:0;right:0;top:-15px;height:1px;border-top:1px dotted #cccfd5;}
/* .tit-ty2 + .tbl-ty2 {margin-top:-10px;} */
.tbl-ty2.form,
.tbl-ty2.form table {border:0;}
.tbl-ty2.form th,
.tbl-ty2.form td {padding:0 0 15px;}
.tbl-ty2.form td {position:relative;padding-top:0;border:0;}
.tbl-ty2.form td + td {padding-left:0}
.tbl-ty2.form tr:last-child td {padding-bottom:0;}
.tbl-ty2.form select {color:#666;}

.tbl-info {position:relative;margin:30px 0 12px;font-size:16px;color:#333}
.tbl-info:after {content:'';display:block;clear:both}
.tbl-info [class^='txt-'] {position:absolute;right:0;bottom:5px;}
.tbl-info .txt-value {font-weight:bold;font-size:14px;}
.tbl-info .txt-byte {font-size:12px;color:#999;}
.tbl-info .txt-unit {bottom:0;font-size:16px;}
.tbl-info .txt-unit em {color:#c70000;}
.tbl-info + .tbl-ty2 {margin-top:-10px;}

/* MAP */
/*.map-area {overflow:hidden}*/
/*.map-area > div {height:557px;box-sizing:border-box}*/
/*.map-area .map-list {float:left;position:relative;width:320px;border:1px solid #dde2ea;background-color:#f8f9fa;box-sizing:border-box}*/
/*.map-area .map-list .inner {overflow-y:auto;max-height:555px;padding-top:84px;outline:0 none}*/
/*.map-area .map-list .choice {position:absolute;left:0;right:0;top:0;padding:30px 30px 20px;background-color:#f8f9fa}*/
/*.map-area .map-list a {display:block;padding:25px 29px;color:#666}*/
.map-area{margin:25px -15px -25px;}
.map-area .map-list li {padding:25px 15px;border-top:1px solid #dde2ea}
.map-area .map-list dt {font-size:18px;font-weight:bold;line-height:21px;color:#111}
.map-area .map-list dd.address {margin-top:8px;font-size:15px;line-height:17px;color:#666;}
.map-area .map-list dd.contact {margin-top:17px;font-size:15px;line-height:17px}
.map-area .map-list dd.contact span{display:inline-block;margin-right:10px;color:#333;}
.map-area .map-list dd.contact span i{display:inline-block;width:15px;height:15px;background:#c70000;font-size:11px;color:#fff;line-height:16px;text-align:center;vertical-align:1px;border-radius:20px;}
.map-area .map-list li .btn-area{margin-top:17px;}

/* DATEPICKER */
.datepicker-box .ui-datepicker .ui-datepicker-calendar {height:295px;margin:0}
.datepicker-box .ui-datepicker .ui-datepicker-title {margin:0;line-height:52px;font-size:28px;font-weight:bold;color:#000}
.datepicker-box .ui-datepicker .ui-datepicker-header {position:relative;border:0;background:none;padding:0}
.datepicker-box .ui-widget.ui-widget-content {width:100%;font-size:14px;padding:20px;box-sizing:border-box;border:0}
.datepicker-box .ui-datepicker th {padding:10px 0 0px;text-align:center;font-size:14px;color:#666}
.datepicker-box .ui-datepicker td {position:relative;padding:10px 0px 0 0 ;text-align:center;font-size:14px}
.datepicker-box .ui-datepicker table th span {color:#666}
.datepicker-box .ui-datepicker table a,
.datepicker-box .ui-datepicker table span {position:relative;display:inline-block;width:28px;height:28px;line-height:23px;color:#999;box-sizing:border-box;border:0;text-align:center;background:none}
.datepicker-box .ui-state-default.ui-state-active {color:#999}
.datepicker-box .ui-state-highlight-start a.ui-state-default,
.datepicker-box .ui-state-highlight-end a.ui-state-default {color:#fff;background:url('../img/bg/bg_day.png') 50% 50% no-repeat}
.datepicker-box .ui-state-highlight:after {content:'';position:absolute;left:0;top:50%;width:100%;height:30px;margin-top:-12px;background:url('../img/bg/bg_datepicker.png') 50% 50%}
.datepicker-box .ui-state-highlight:first-child:after,
.datepicker-box .ui-state-highlight.ui-state-highlight-start:after {border-radius:15px 0 0 15px}
.datepicker-box .ui-state-highlight.ui-state-highlight-start:after {left:8px}
.datepicker-box .ui-state-highlight:last-child:after,
.datepicker-box .ui-state-highlight.ui-state-highlight-end:after {border-radius:0 15px 15px 0}
.datepicker-box .ui-state-highlight.ui-state-highlight-end:after {left:-8px}
.datepicker-box .ui-state-highlight a,
.datepicker-box .ui-widget-content .ui-state-highlight,
.datepicker-box .ui-widget-header .ui-state-highlight {border:0;font-weight:bold;color:#000;overflow:hidden;background:none}
.datepicker-box .ui-state-disabled,
.datepicker-box .ui-widget-content .ui-state-disabled,
.datepicker-box .ui-widget-header .ui-state-disabled {opacity:1}
.datepicker-box .ui-datepicker .ui-datepicker-prev {top:10px;left:40px;width:35px;height:35px;background:url('../img/btn/btn_datepicker_prev.png') 0 0 no-repeat;border:0}
.datepicker-box .ui-datepicker .ui-datepicker-next {top:10px;right:40px;width:35px;height:35px;background:url('../img/btn/btn_datepicker_next.png') 0 0 no-repeat;border:0}
.datepicker-table {padding:22px 24px}
.datepicker-time {padding:30px;border-top:1px #dde2ea solid;background:#f8f9fa}
.datepicker-time dt {margin-bottom:10px;font-size:14px;color:#666}
.datepicker-time dd strong {display:block;margin-bottom:30px;font-size:24px;color:#000}

div.ui-datepicker.ui-widget.ui-widget-content {/*bottom:-169px;*/width:320px;font-size:14px;padding:20px;box-sizing:border-box}
div.ui-datepicker.ui-widget.ui-widget-content .ui-datepicker-calendar {height:295px;margin:0}
div.ui-datepicker.ui-widget.ui-widget-content .ui-datepicker-title {margin:0;line-height:52px;font-size:28px;font-weight:bold;color:#000}
div.ui-datepicker.ui-widget.ui-widget-content .ui-datepicker-header {position:relative;border:0;background:none;padding:0}
div.ui-datepicker.ui-widget.ui-widget-content th {padding:10px 0 0px;text-align:center;font-size:14px;color:#666}
div.ui-datepicker.ui-widget.ui-widget-content td {position:relative;padding:10px 0px 0 0 ;text-align:center;font-size:14px}
div.ui-datepicker.ui-widget.ui-widget-content table th span {color:#666}
div.ui-datepicker.ui-widget.ui-widget-content table a,
div.ui-datepicker.ui-widget.ui-widget-content table span {position:relative;display:inline-block;width:28px;height:28px;line-height:23px;color:#999;box-sizing:border-box;border:0;text-align:center;background:none}
div.ui-datepicker.ui-widget.ui-widget-content .ui-state-highlight-start a.ui-state-default,
div.ui-datepicker.ui-widget.ui-widget-content .ui-state-highlight-end a.ui-state-default {color:#fff;background:url('../img/bg/bg_day.png') 50% 50% no-repeat}
div.ui-datepicker.ui-widget.ui-widget-content .ui-datepicker-prev {top:10px;left:40px;width:35px;height:35px;background:url('../img/btn/btn_datepicker_prev.png') 0 0 no-repeat;border:0}
div.ui-datepicker.ui-widget.ui-widget-content .ui-datepicker-next {top:10px;right:40px;width:35px;height:35px;background:url('../img/btn/btn_datepicker_next.png') 0 0 no-repeat;border:0}
div.ui-datepicker.ui-widget.ui-widget-content td.ui-datepicker-today span {display:inline-block;position:relative;width:28px;height:28px;border:1px solid #eb333a;-webkit-border-radius:50%;border-radius:50%;}
div.ui-datepicker.ui-widget.ui-widget-content td.ui-datepicker-today span:before {content:'TODAY';position:absolute;left:-6px;bottom:-26px;font-size:13px;color:#eb333a;}
div.ui-datepicker.ui-widget.ui-widget-content td.choose span {-webkit-border-radius:50%;border-radius:50%;background-color:#eb333a;font-weight:bold;color:#fff;}

.ipt-calender {position:relative;box-sizing:border-box}
.ipt-calender button {position:absolute;right:0;top:0;width:54px;height:100%;}
.ipt-calender .ui-datepicker-trigger {position:absolute;right:0;top:0;padding:17px;width:40px;height:100%;background:url('../../img/btn/btn_calender.png') no-repeat 50% 50%;-webkit-background-size:12px auto;background-size:12px auto;text-indent:-9999em;cursor:pointer}

/* BOARD LIST */
.board-list {margin-top:20px;border-top:1px solid #dde2ea;font-size:16px}
.board-list .accor-tab a {display:table;position:relative;width:100%;/* min-height:100px; */border-bottom:1px #dde2ea solid;color:#666;}
.board-list .accor-tab span {text-overflow:ellipsis;white-space:nowrap;}
.board-list .accor-tab p {overflow:hidden;font-size:17px;font-weight:bold;line-height:22px;color:#111;white-space:initial;vertical-align:top}
.board-list .ico-new {position:relative;top:-5px}
.board-list .sort,
.board-list .num,
.board-list .day,
.board-list .name,
.board-list .result {display:table-cell;width:130px;font-size:16px;color:#666;text-align:center;vertical-align:top}
.board-list .sort {float:left;width:47px;height:47px;margin:0 20px 0 0;background-color:#111;font-size:14px;line-height:47px;color:#fff;}
.board-list .num {width:80px;padding:0 16px;}
.board-list .num + p {padding-left:0}
.board-list .result {color:#c70000}
.board-list p.txt {display:table-cell;width:787px;padding:0 10px;box-sizing:border-box;}
.board-list .num.ty2 {width:95px;}
.board-list .day.ty2 {width:124px;}
.board-list .cate {display:table-cell;width:104px;}
.board-list .cate .tag {display:inline-block;width:85px;height:30px;padding:0 10px;border:1px solid #c70000;font-size:14px;line-height:26px;color:#c70000;box-sizing:border-box;}
.board-list .accor-content {display:none;padding:30px 15px;border-bottom:1px #dde2ea solid;background:#f5f6f8;font-size:13px;line-height:18px;color:#666;box-sizing:border-box;}
.board-list .accor-content .tit-ty3 {font-size:14px;line-height:14px;}
.board-list .accor-content a {color:#3a9dde;}
.board-list .accor-content li {margin-top:0;font-size:13px;}
.board-list .accor-content .brd-attach .inner {margin:55px 0 0;}
.board-list .accor-content .movie-view {display:table;width:100%;margin-top:20px;}
.board-list .accor-content .movie-view dl {overflow:hidden;padding:5px 15px 15px;border:1px solid #dde2ea;}
.board-list .accor-content .movie-view dt,
.board-list .accor-content .movie-view dd {margin-top:10px;vertical-align:top;}
.board-list .accor-content .movie-view dt {float:left;font-weight:bold;font-size:13px;color:#333;}
.board-list .accor-content .movie-view dt:after {content:'';display:inline-block;width:1px;height:14px;margin:-3px 15px 0;background-color:#babdc3;vertical-align:middle;}
.board-list .accor-content .movie-view dd + dt {clear:both;}
.board-list .accor-content .movie-view dd {display:block;overflow:hidden;font-size:13px;color:#555;}
.board-list .accor-content .movie-view .btn {margin-top:10px;}
.board-list .accor-content .movie-view .btn a {width:100%;text-align:center;}
.board-list [class^='tbl-ty'] {border-top:2px solid #555;}
.board-list [class^='tbl-ty'] th,
.board-list [class^='tbl-ty'] td {padding:12px 0;}
.board-list [class^='tbl-ty'] th {font-size:13px;color:#666;text-align:left;}
.board-list [class^='tbl-ty'] td {border-left:0;text-align:right;}
.board-list [class^='tbl-ty'] td li {line-height:18px;}
.board-list.faq .accor-tab a:before,
.board-list.faq .accor-content:before {float:left;width:32px;height:32px;font-weight:bold;line-height:32px;color:#fff;text-align:center;}
.board-list.faq .accor-tab a:before {content:'Q';margin:35px 40px 0;background-color:#111;}
.board-list.faq .accor-content {padding:60px 40px;}
.board-list.faq .accor-content:before {content:'A';margin-right:40px;background-color:#babdc3;}
.board-list.faq .accor-content p {overflow:hidden;}
.board-list.hire .accor-tab a {padding:25px 40px 25px 15px;vertical-align:top;}
.board-list.hire .accor-tab a div {overflow:hidden;margin-top:-8px;line-height:34px;}
.board-list.hire .accor-tab a .sort,
.board-list.hire .accor-tab a .basic-tx {display:table-cell;vertical-align:middle;}
.board-list.hire .accor-tab a .basic-tx {width:100%;margin-top:0;}
.board-list.hire .accor-tab a div span {font-size:15px;}
.board-list.hire .accor-tab a div span + span:before {content:'';display:inline-block;width:1px;height:12px;margin:0 9px;background-color:#babdc3;}
.division .board-list {margin:20px -15px 0;}

.btn-accordion:after {content:'';position:absolute;right:0;top:50%;width:48px;height:48px;margin-top:-24px;background-image:url('../../img/btn/btn_accordion_down.png');background-repeat:no-repeat;background-position:50% 50%;-webkit-background-size:17px auto;background-size:17px auto;}
.btn-accordion.on:after {background-image:url('../../img/btn/btn_accordion_up.png')}

/* BOARD VIEW */
.board-view {border-top:2px solid #22242b;width:100%;color:#333;font-size:16px}
.board-view dt {display:table;width:100%;padding:37px 0 37px 30px;position:relative;background-color:#fff;border-bottom:1px solid #ddd;box-sizing:border-box}
.board-view dt > p,
.board-view dt > span {display:table-cell}
.board-view dt > p {font-size:24px;font-weight:normal;color:#333}
.board-view dt > span {color:#666;font-size:16px;text-align:center}
.board-view dt .cate {display:inline-block;top:auto;right:auto;position:relative;padding-right:10px;color:#c70000;vertical-align:top}
.board-view dt .name {width:136px}
.board-view dt .tel {width:166px}
.board-view dt .date {width:136px}
.board-view dd .brd-detail {min-height:370px;margin:50px 0 80px;line-height:26px;color:#666}
.board-view dd .brd-detail img {max-width:100%;margin-bottom:50px}
.board-view dd .brd-detail .brd-attach .inner {margin-bottom:25px;text-align:left;}
.board-view dd .brd-detail .brd-attach {display:table;width:100%;vertical-align:top;}
.board-view dd .brd-detail .brd-attach li strong {width:11%;color:#111;}
.board-view dd .btn-area {margin-bottom:60px;}
.board-view-box {padding:70px 0;background-color:#f5f6f8;text-align:center;}
.board-view-box .tit {font-size:20px;line-height:30px;color:#111;}
.board-view-box .txt {font-size:16px;line-height:26px;color:#333;}
.board-view-box .txt a {color:#c70000;text-decoration:underline;}
.board-view-box .tit + .txt {margin-top:42px;}
.board-view .brd-move {overflow:hidden;position:relative;padding-top:36px;border-top:1px solid #dde2ea}
.board-view .brd-move .control {position:relative}
.board-view .brd-move .control.prev {float:left;padding-left:120px}
.board-view .brd-move .control.next {float:right;padding-right:120px}
.board-view .brd-move .control .item {position:absolute}
.board-view .brd-move .control.prev .item {left:0;padding-left:30px;background:url('../../img/btn/btn_control_prev.png') no-repeat 0 50%}
.board-view .brd-move .control.next .item {right:0;padding-right:30px;background:url('../../img/btn/btn_control_next.png') no-repeat 100% 50%}
.board-view .brd-move .control .article {width:316px;color:#888}
.board-view .brd-move .control.next .article {text-align:right}
.board-view .brd-move .control .article a {display:inline-block;overflow:hidden;position:relative;top:-3px;max-width:100%;line-height:22px;color:#666;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle}
.board-view .brd-move .btn-list {position:absolute;left:50%;top:32px;margin-left:-25px;padding-left:25px;font-size:18px;font-weight:bold;line-height:24px;color:#111}
.board-view .brd-move .btn-list:before {content:'';position:absolute;left:0;top:4px;width:16px;height:16px;background:url('../../img/btn/btn_board_list.png') no-repeat 0 0}

.brd-attach {position:relative}
.brd-attach .inner {overflow:hidden;margin-bottom:80px;padding:30px;border:1px solid #ddd;background-color:#f5f6f8;line-height:26px}
.brd-attach .tbl-info + .inner {padding:20px 20px 20px 30px}
.brd-attach .tit {float:left;display:block;margin-right:25px;font-size:18px;color:#111}
.brd-attach.waiting .tit {float:none;padding:18px 0;text-align:center}
.brd-attach .txt {clear:both;padding-top:10px}
.brd-attach .file {overflow:hidden;}
.brd-attach .file a {display:inline-block;margin-right:30px;font-size:16px;text-decoration:underline;color:#3a9dde;vertical-align:middle;}
.brd-attach [class^='tit-ty'] {margin:0 0 25px}
.brd-attach .tbl-info {margin:0 0 25px}
.brd-attach .tbl-info [class^='tit-ty'] {margin:0}
.brd-attach .tbl-info [class^='btns-'] {position:static}
.brd-attach .tbl-info .position {position:absolute;right:0;bottom:-5px}
.brd-attach .tbl-info .position label {top:10px;margin-right:20px}
.brd-attach .parti-box {background-color:#f5f6f8;line-height:54px}
.brd-attach .parti-box label {margin-right:40px;font-size:18px;font-weight:bold;color:#111}
.brd-attach .parti-box .fl input {width:295px}
.brd-attach .parti-box .fr {font-size:0}
.brd-attach .parti-box .fr select,
.brd-attach .parti-box .fr input {width:140px;margin-right:10px}
.brd-attach .parti-box .fr select {line-height:normal}
.brd-attach .parti-box .fr button {width:150px}
.brd-attach .list {display:table;width:100%;margin:-5px 0;border-spacing:0 5px}
.brd-attach .list li {display:table-row}
.brd-attach .list li strong,
.brd-attach .list li em,
.brd-attach .list li span {display:table-cell}
.brd-attach .list li strong {width:52px;font-size:18px}
.brd-attach .list li em {width:110px}
.brd-attach .list-ty-dash {position:absolute;left:0;bottom:-30px}
.brd-attach .list-ty-dash li {color:#666}

/* PAGING */
.pagination {position:relative;margin:40px auto;text-align:center}
.pagination:after {content:'';display:block;clear:both}
.pagination a {display:inline-block;overflow:hidden;padding:0 2px;font-size:15px;line-height:34px;color:#999;text-align:center;box-sizing:border-box;}
.pagination a:active {text-decoration:underline}
.pagination a.on {font-weight:bold;color:#fff;color:#111;}
.pagination a.control {position:relative;width:34px;height:34px;padding:0;background-color:inherit}
.pagination a.control.prev {margin-right:13px;}
.pagination a.control.next {margin-left:13px;}
.pagination a.prev:before,
.pagination a.next:before {content:'';display:inline-block;clear:both;width:34px;height:34px;background-repeat:no-repeat;background-position:0 0;-webkit-background-size:34px auto;background-size:34px auto;}
.pagination a.prev:before {background-image:url('../../img/btn/btn_pagination_left.png');}
.pagination a.next:before {background-image:url('../../img/btn/btn_pagination_right.png');}
.pagination [class^='btns-solid'] {position:absolute;right:0;bottom:-9px;width:210px;font-weight:bold}
.tbl-ty2.post .pagination {margin:20px auto;}

/* ANIMATE */
.animate.A,
.animate.B {opacity:0;}
.animate.animated {-webkit-animation:slide-up .75s ease forwards;-moz-animation:slide-up .75s ease forwards;animation:slide-up .75s ease forwards;}
.animate.A.animated {-webkit-animation:slide-up .75s .2s ease forwards;-moz-animation:slide-up .75s .2s ease forwards;animation:slide-up .75s .2s ease forwards;}
.animate.B.animated {-webkit-animation:slide-up .75s .4s ease forwards;-moz-animation:slide-up .75s .4s ease forwards;animation:slide-up .75s .4s ease forwards;}

@-webkit-keyframes slide-up {
	0% {-webkit-transform:translateY(50px);opacity:0;}
	100% {-webkit-transform:translateY(0);opacity:1;}
}
@-moz-keyframes slide-up {
	0% {-moz-transform:translateY(50px);opacity:0;}
	100% {-moz-transform:translateY(0);opacity:1;}
}
@keyframes slide-up {
	0% {transform:translateY(50px);opacity:0;}
	100% {transform:translateY(0);opacity:1;}
}

/* FORM */
input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='date'],
input[type='number'] {width:100%;height:45px;line-height:45px;padding-left:15px;border:1px solid #c9ccd2;background-color:#fff;font-size:14px;color:#333;box-sizing:border-box;}
input[type='text']::placeholder,
input[type='password']::placeholder {color:#999}
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='search']:focus,
input[type='number']:focus,
input[type='tel']:focus,
input[type='number']:focus {border:1px #333 solid}
input[type='text']:disabled,
input[type='password']:disabled,
input[type='email']:disabled,
input[type='search']:disabled,
input[type='number']:disabled,
input[type='tel']:disabled,
input[type='date']:disabled,
input[type='number']:disabled {border-color:#c9ccd2;color:#999;box-sizing:border-box;background:#f5f6f8}
input.input-point {border:1px #c70000 solid}
textarea {padding:10px 15px;font-size:14px;color:#333;}
select {overflow:hidden;width:100%;height:45px;padding:4px 8px 5px 15px;border:1px solid #c9ccd2;border-radius:0;font-size:14px;color:#333;cursor:pointer;-webkit-appearance:none;-moz-appearance:none;-webkit-padding-end:30px;background:#fff url('../../img/ico/ico_select.png') no-repeat right 15px center;-webkit-background-size:7px auto;background-size:7px auto;line-height:normal}

/* RADIO */
input[type='radio'] {position:absolute;width:0;height:0}
input[type='radio']+label {position:relative;padding-left:28px;color:#333;font-size:16px;display:inline-block;line-height:18px;vertical-align:top}
input[type='radio']+label:before {position:absolute;left:0;top:0;display:inline-block;width:18px;height:18px;content:'';background:url('../../img/ico/ico_radio.png') 0 0 no-repeat;vertical-align:middle}
input[type='radio']:checked+label:before {background-position:0 50%}
input[type='radio']:disabled+label:before {background-position:0 100%}
input[type='radio']+label.type2 {padding-left:32px;font-size:20px;line-height:24px;}
input[type='radio']+label.type2:before {width:24px;height:24px;background-image:url('../../img/ico/ico_radio_big.png');-webkit-background-size:24px;background-size:24px;}
input[type='radio']+label.type3 {padding-left:40px;font-weight:bold;font-size:16px;line-height:30px;}
input[type='radio']+label.type3:before {width:30px;height:30px;background-image:url('../../img/ico/ico_check_big02.png');-webkit-background-size:100% auto;background-size:100% auto;}
input[type='radio']:checked+label.type3:before {background-position:0 100%}

/* CHECKBOX */
input[type='checkbox'] {position:absolute;width:0;height:0}
input[type='checkbox']+label {position:relative;padding-left:26px;color:#333;font-size:16px;display:inline-block;line-height:18px;vertical-align:middle}
input[type='checkbox']+label:before {position:absolute;left:0;top:0;display:inline-block;vertical-align:middle;width:18px;height:18px;content:'';background:url('../../img/ico/ico_check.png') 0 0 no-repeat}
input[type='checkbox']:checked+label:before {background-position:0 50%}
input[type='checkbox']:disabled+label:before {background-position:0 100%}
input[type='checkbox']+label.type2 {padding-left:32px;font-size:20px;line-height:24px;}
input[type='checkbox']+label.type2:before {width:24px;height:24px;background-image:url('../../img/ico/ico_check_big.png');-webkit-background-size:24px;background-size:24px;}
input[type='checkbox']+label.type3 {padding-left:40px;font-weight:bold;font-size:16px;line-height:30px;}
input[type='checkbox']+label.type3:before {width:30px;height:30px;background-image:url('../../img/ico/ico_check_big02.png');-webkit-background-size:100% auto;background-size:100% auto;}
input[type='checkbox']:checked+label.type3:before {background-position:0 100%}

.cell {display:block;position:relative}
.cell[class*='btn'] {padding-left:5px;font-size:0}
.cell[class*='btn'] button {padding:0;}
.cell[class*='btn'] button + button {margin-left:8px}
.cell.inline {display:inline-block;vertical-align:middle;}
.cell.inline + span {margin-left:10px;}
.cell.btn1 {width:60px}
.cell.btn1 button {width:55px}
.cell.btn2 {width:175px}
.cell.btn2 button {width:165px}
.cell.btn3 {width:193px}
.cell.btn3 button {width:90px}
.cell.unit span {position:absolute;right:0;top:0;bottom:0;padding:0 20px;line-height:54px}
.cell.unit .btn-clear {right:55px}
.cell.hyphen {width:5px;text-align:center}
.cell.mail-id {width:225px}
.cell-radio {display:table-cell;}
.cell-radio {padding:0 2.5px;}
.cell-radio:first-child {padding:0 2.5px 0 0;}
.cell-radio:last-child {padding:0 0 0 2.5px;}
.cell-radio input[type='radio'] {position:absolute;}
.cell-radio input[type='radio'] + label {width:100%;height:45px;padding:0;border:1px solid #f8f9fa;background-color:#f8f9fa;line-height:45px;color:#999;text-align:center;}
.cell-radio input[type='radio']:checked + label {border-color:#c70000;background-color:#fff;color:#c70000;}
.cell-radio input[type='radio']+label:before {display:none;}
.cell input[readonly] + .btn-clear,
.cell input[disabled] + .btn-clear {display:none;}
.cell.search .btn-search {position:absolute;right:1px;top:1px;bottom:1px;width:43px;background:url('../../img/btn/btn_search.png') no-repeat 50% 50%;-webkit-background-size:14px;background-size:14px;}
.cell.reg .btn-reg {position:absolute;right:1px;top:1px;bottom:1px;width:78px;border-left:1px solid #babdc3;background-color:#f8f9fa;font-size:14px;color:#111;text-align:center;}
.cell .btn-clear {position:absolute;right:14px;top:50%;z-index:5;width:18px;height:18px;margin-top:-9px;text-indent:-999999px;overflow:hidden;background:url('../../img/btn/btn_clear.png') 50% 50% no-repeat}
.cell.search .btn-clear {right:45px}
.cell.reg .btn-clear {right:90px}

.form-cell .inner {display:table;width:100%;table-layout:fixed}
.form-cell .inner + .inner {margin-top:15px;}
.form-cell .cell {display:table-cell;vertical-align:middle}
.form-cell .cell.br {width:3px;text-align:center}
.form-cell select.cell {width:100%;height:40px}
.form-cell .cell.email-id {width:324px}
.form-cell .cell select + textarea {margin-top:10px;}
.form-cell.full .cell {display:block;width:auto;}
.form-cell.full .cell.hyphen {height:5px;}
.form-cell.full .cell[class*='btn'] {width:auto;margin:5px 0 0;padding:0;}
.form-cell.full .cell[class*='btn'] button {width:100%;}
.form-cell.mail .cell {display:inline-block;width:100%;}
.form-cell.mail .cell:first-child {width:55%;}
.form-cell.mail .cell:first-child + .cell.at {width:6%;font-size:14px;color:#999;text-align:center}
.form-cell.mail .cell.at + .cell {width:39%;}
.form-cell.mail .cell.hyphen {display:block;height:5px;}

.form-calender {display:table;width:100%;}
.form-calender .cell {display:table-cell;}

.form-etc .inner {display:table;width:100%;}
.form-etc .inner + .inner {margin-top:10px;}
.form-etc .cell {display:table-cell;}
.form-etc .cell:first-child {width:180px;}
.form-etc .cell .btn-search {background-color:#f5f6f8;}
.form-etc input {background-color:#f5f6f8;}

.form-grades {display:table;width:100%;table-layout:fixed;}
.form-grades .cell {display:table-cell;vertical-align:middle;}
.form-grades .cell.hyphen {width:5px;}

.message-bg-box + .form-cell {margin-top:30px;}

.select-list {display:none;}

/* TABLE SCROLL */
.scroll-x.size1 {overflow-x:auto;width:100%;}
.scroll-x table {min-width:800px;}

/* TERMS */
.agree-box {overflow:hidden;margin-top:30px;}
.agree-box > input[type='radio'] + label,
.agree-box > input[type='checkbox'] + label {font-size:16px;line-height:26px;}
.agree-box > input[type='radio'] + label span,
.agree-box > input[type='checkbox'] + label span {display:inline-block;padding-top:5px;}
.agree-box .left strong {display:block;/* margin-top:9px; */font-size:16px;line-height:21px;}
.agree-box .right {margin-top:15px;}
.agree-box .right label + input {margin-left:30px;}
.agree-box .right label + input + label {margin-left:90px;}

.terms-all {margin-bottom:20px}
.terms-all input[type='checkbox'] + label {font-size:18px;font-weight:bold;color:#333}
.terms-list {margin:25px -15px 0;border:solid #dde2ea;border-width:1px 0 0;}
.terms-list li,
.terms-list .accor-tab {position:relative}
.terms-list input + label.type3 {width:100%;min-height:80px;line-height:78px;padding:0 94px 0 55px;border-bottom:1px solid #dde2ea;font-size:16px;font-weight:bold;color:#333;box-sizing:border-box}
.terms-all + .terms-list input + label.type3 {font-weight:normal}
.terms-list input + label.type3:before {left:15px;top:22px}
.terms-all input + label.type3 span,
.terms-list input + label.type3 span {display:inline-block;padding:10px 0 12px;;line-height:21px;vertical-align:middle;}
.terms-list label p {padding:30px 30px 30px 0;line-height:26px}
.terms-list [class^='btn-'] {position:absolute;right:0;top:0;display:inline-block;width:45px;height:100%;text-indent:-9999px}
.terms-list .terms-link {position:absolute;right:15px;top:50%;width:64px;height:35px;margin-top:-18px;border:1px solid #babdc3;background-color:#fff;font-size:13px;line-height:33px;color:#333;text-align:center;}
.terms-list .terms-link.on {border-color:#c70000;color:#c70000;}
.terms-list .accor-content {display:none;height:310px;padding:30px;border-bottom:1px #ddd solid;font-size:16px;overflow-y:auto;box-sizing:border-box}
.terms-list .accor-content dt {margin:30px 0 10px;color:#333}
.terms-list .accor-content dt:first-child {margin-top:0}
.terms-list .btn-accordion:after {position:absolute;left:0;top:0;bottom:0;width:100%;}
.terms-list .btn-list-link {background:url('../../img/btn/btn_accordion_arrow.png') no-repeat 50% 50%;-webkit-background-size:6px auto;background-size:6px auto;}

/* LAYER */
.layer i[class^='ico-info-mark'] {margin-bottom:40px}
.layer .terms-box {overflow-y:auto;overflow-x:hidden;height:100%;line-height:21px;}
.layer .line-box {padding:46px 0;border:1px solid #e0e5ec}
.layer .correct-txt {margin:5px 0 25px;}
.layer .correct-txt span {color:#c70000;}
.layer .correct-txt em {color:#3a9dde;}
.layer .correct-txt em:before {content:'에서';display:inline-block;overflow:hidden;width:6px;height:11px;margin:0 10px;background:url('../../img/bg/bg_correct_arrow.png') no-repeat 0 0;text-indent:-5000em;}
.layer .list-search-area {margin-top:15px;}
.layer .list-search-area .list-search {padding:25px;border:1px solid #dde2ea;}
.layer .list-search-area .no-data {padding-bottom:20px;text-align:center;}
.layer .list-search-area .no-data i {margin-bottom:25px;}
.layer .list-search-area .no-data .tit {font-weight:bold;font-size:16px;color:#333;}
.layer .list-search-area .no-data .txt {margin-top:15px;font-size:13px;line-height:18px;color:#666;}
.layer .list-search-area ul {overflow-y:auto;height:253px;margin:-25px;padding:15px 0;}
.layer .list-search-area li a {display:block;font-size:15px;line-height:36px;color:#333;text-align:center;}

.layer .reply-box .message {padding:25px 0;border-top:1px solid #dde2ea;}
.layer .reply-box .message pre {font-size:15px;line-height:26px;color:#666;}
.layer .reply-box .tag {padding:25px 0;border-top:1px solid #dde2ea;}
.layer .reply-box .tag span {display:inline-block;margin-right:10px;font-weight:bold;font-size:15px;line-height:26px;vertical-align:top;color:#333;}
.layer .reply-box .link {padding:25px 0;border-top:1px solid #dde2ea;}
.layer .reply-box .link span {display:block;}
.layer .reply-box .link span + span {margin-top:10px;}
.layer .reply-box .link a {color:#3a9dde;text-decoration:underline;font-size:15px;}
.layer .layer-swipe-area {margin:-15px -15px 0;}
.layer .reply-swipe {position:relative;}
.layer .reply-swipe .slick-prev,
.layer .reply-swipe .slick-next {overflow:hidden;position:absolute;top:50%;z-index:2;width:28px;height:28px;margin-top:-14px;text-indent:-5000em;}
.layer .reply-swipe .slick-prev {left:15px;background-image:url('../../img/btn/btn_slide_prev.png');background-size:100%;}
.layer .reply-swipe .slick-next {right:15px;background-image:url('../../img/btn/btn_slide_next.png');background-size:100%;}
.layer .reply-swipe .slick-dots {position:absolute;left:0;right:0;bottom:15px;z-index:2;}

.layer .reply-swipe.mice .swiper-inner-info{padding:30px 15px 0;}
.layer .reply-swipe.mice .slick-dots{top:184px;top:28.75vh;bottom:inherit;}