@charset "utf-8";

/* VISUAL */
.visual-area {position:relative;text-align:center;}
.visual-area h1 {font-weight:bold;font-size:35px;line-height:41px;color:#fff;}
.visual-area h1 + .txt {margin-top:20px;font-weight:bold;font-size:15px;line-height:21px;}
.visual-area .tit-txt {margin-top:80px;}
.visual-area .txt-ty1 {width:1240px;margin:50px auto 0;text-align:left;}
.visual-area .lists-dash {margin:25px auto 0;padding:0 15px;text-align:left;}
.visual-area .img {overflow:hidden;height:230px;background-repeat:no-repeat;background-position:50% 0;text-align:center;}
.visual-area .img .tit-ty2,
.visual-area .img .tit-txt {color:#fff;text-align:left;}
.visual-area .img .tit-ty2 {margin-top:5px;font-size:40px;line-height:52px;}
.visual-area .movie {margin:0 auto;text-align:center;}
.visual-area .movie > .inner {display:inline-block;vertical-align:top;}

.visual-area .sub-tit-wrap {position:absolute;left:0;top:0;width:100%;height:100%;}
.visual-area .bg-img {overflow:hidden;max-height:300px;}
.visual-area .bg-img img {width:100%;}
.visual-area .sub-tit-wrap h1 {display:table;width:100%;height:100%;padding-bottom:65px;}
.visual-area .sub-tit-wrap h1 span {display:table-cell;vertical-align:middle;}
.visual-area .sub-tit-wrap h1 .stxt {font-size:30px;}

.visual-area .dep-menu {position:absolute;left:0;right:0;bottom:15px;z-index:9;margin:0 15px;box-sizing:border-box;}
.visual-area .dep-menu .menu {display:block;position:relative;padding:0 20px;background:rgba(0,0,0,.5);font-size:17px;color:#fff;text-align:left;line-height:50px;}
.visual-area .dep-menu .menu[aria-expanded='true'] {border:solid #333;border-width:1px 1px 0;background-color:#fff;color:#333;}
.visual-area .dep-menu .menu:after {display:inline-block;content:'';position:absolute;top:50%;right:20px;width:14px;height:8px;margin-top:-4px;background:url('../../img/content/bg_dep_menu.png') no-repeat 0 0;background-size:100% auto}
.visual-area .dep-menu .menu[aria-expanded='true']:after {background-image:url('../../img/content/bg_dep_menu_on.png');}
.visual-area .dep-menu .dep-list {display:none;position:absolute;left:0;right:0;top:50px;padding-bottom:25px;border:solid #333;border-width:0 1px 1px;background-color:#fff;}
.visual-area .dep-menu .dep-list li {padding:5px 0;}
.visual-area .dep-menu .dep-list li a {display:block;padding:5px 20px;color:#666;text-align:left;}

.visual-area.type01 .sub-tit-wrap h1 {padding-bottom:0;}
.visual-area.business {max-height:none;background:url('../../img/content/img_visual_business.jpg') no-repeat 50% 0;-webkit-background-size:100% auto;background-size:100% auto;}
.visual-area.business h1 {padding-top:35px;}
.visual-area.technology {max-height:none;padding-top:40px;background:url('../../img/content/img_visual_technology.jpg') no-repeat 50% 0;-webkit-background-size:100% auto;background-size:100% auto;}
.visual-area.technology .tit-txt {margin-top:0;}
.visual-area.technology h1 {padding-top:18px;font-size:24px;line-height:28px;color:#111;}

.visual-area.consulting {height:720px;background:url('../../img/content/img_visual_consulting.jpg') no-repeat 50% 0;}
.visual-area.consulting > .inner {width:1240px;margin:0 auto;padding:114px 0;color:#fff;text-align:left;}
.visual-area.consulting .txt {font-size:18px;line-height:26px;}
.visual-area.consulting h1 {margin-top:17px;}
.visual-area.consulting .link-list {margin-top:118px;}
.visual-area.consulting .link-list ul {display:table;width:100%;}
.visual-area.consulting .link-list li {display:table-cell;}
.visual-area.consulting .link-list li:nth-child(1) {width:365px;}
.visual-area.consulting .link-list li:nth-child(2) {width:380px;}
.visual-area.consulting .link-list li:nth-child(3) {width:285px;}
.visual-area.consulting .link-list li a {color:#fff;}
.visual-area.consulting .link-list li strong a {font-weight:bold;font-size:32px;line-height:42px;}
.visual-area.consulting .link-list li .dep2 {margin-top:12px;}
.visual-area.consulting .link-list li .dep2 a {font-size:18px;line-height:30px;text-decoration:underline;}

/* IMAGE */
.img {text-align:center;}
.img img[src*='img_diagram01'] {width:237px;}
.img img[src*='img_technology_chart01'] {width:342px;}
.img img[src*='img_technology_chart02'] {width:292px;}
.img img[src*='img_cs_chart'] {width:265px;}

/* LIST */
.share-list > div [class^='tit-ty'] {margin-top:37px;}
.share-list .logo-img {margin:15px 0;text-align:center;}
.logo-box li {padding:40px 0;border:1px solid #dde2ea;text-align:center;}
.logo-box li + li {margin-top:-1px;}
.logo-box li img {width:216px;}
.logo-box li .txt {display:none;}

.diagram-list {padding:25px 0;border-top:1px dashed #d4d8e0;}
.diagram-list:first-of-type {padding-top:39px;border-top:none;}
.diagram-list .tit-ty3 {font-size:17px;line-height:1;color:#111;}
.diagram-list .tit-ty4 {font-size:16px;line-height:1;color:#111;font-weight:bold;}
.diagram-list .cont-area {margin-top:17px;}
.diagram-list .cont-area > li {margin-top:20px;}
.diagram-list .cont-area > li:first-child {margin-top:0;}
.diagram-list .cont-area .basic-list li {margin-top:5px;font-size:15px;color:#666;}
.diagram-list .cont-area .basic-list li:first-child {margin-top:10px;}
.diagram-list .cont-area .basic-list li:before {content:'-';padding-right:3px;display:inline-block;vertical-align:2px;line-height:1;}
.diagram-list .cont-area .tit-list li {margin-top:5px;font-size:16px;color:#111;font-weight:bold;}
.diagram-list .cont-area .tit-list li:first-child {margin-top:10px;}
.diagram-list .cont-area .tit-list li:before {content:'-';padding-right:3px;display:inline-block;vertical-align:2px;line-height:1;}

.member-list > ul {margin:0 -15px;}
.member-list > ul > li {overflow:hidden;padding:25px 15px;border-bottom:1px solid #ddd;}
.member-list > ul > li:first-of-type {padding-top:0;}
.member-list > ul > li .img {margin-right:15px;float:left;width:85px;height:95px;}
.member-list > ul > li .list-box {overflow:hidden;}
.member-list > ul > li .list-box .tit {display:block;font-size:17px;line-height:1;color:#111;}
.member-list > ul > li .list-box .list {overflow:hidden;position:relative;}
.member-list > ul > li .list-box .list li {padding-top:15px;font-size:15px;}
.member-list > ul > li .list-box .list li em {color:#333;}
.member-list > ul > li .list-box .list li p {margin-top:8px;color:#666;}
.member-list > ul > li .list-box .list li p span {display:block;line-height:24px;}

.report-list ul {margin:0 -15px;}
.report-list li {padding:25px 15px;border-bottom:1px solid #dde2ea;}
.report-list li:first-of-type {padding-top:0;}
.report-list li .tit {display:block;margin-bottom:15px;font-weight:bold;font-size:17px;line-height:21px;color:#111;}
.report-list li .list {}
.report-list li .list a {margin-top:10px;width:100%;}
.report-list li .list a:first-of-type {margin-top:0;}
.report-list li .list a i {margin-right:10px;}

.contact-list {margin:10px 0;}
.contact-list ul {width:100%;}
.contact-list li {position:relative;padding:30px 0 30px 92px;box-sizing:border-box;}
.contact-list li + li {border-top:1px solid #dde2ea;}
.contact-list li:before {content:'';position:absolute;left:0;top:50%;display:block;width:70px;height:70px;margin-top:-35px;background-repeat:no-repeat; background-size:70px;}
.contact-list li:nth-child(1):before {background-image:url('../../img/ico/ico_contact01.png');}
.contact-list li:nth-child(2):before {background-image:url('../../img/ico/ico_contact02.png');}
.contact-list li:nth-child(3):before {background-image:url('../../img/ico/ico_contact03.png');}
.contact-list li strong {display:block;margin-bottom:6px;line-height:26px;}
.contact-list li p span {display:block;color:#666;font-weight:normal;}

.hire-list {margin:0 -15px;}
.hire-list li {position:relative;padding:25px 15px;}
.hire-list li .tit {font-size:15px;line-height:21px;color:#666;}
.hire-list li .tit:before {content:'';position:absolute;left:0;right:0;top:0;height:1px;background-color:#dde2ea;}
.hire-list li .txt {margin-top:8px;font-size:17px;line-height:22px;color:#111;}
.hire-list li .btn {margin-top:10px;}
.hire-list li .btn button {width:100%;}
.hire-list li .no-data {margin:-25px 0;padding:23px 0;border:1px solid #dde2ea;text-align:center;}
.hire-list li .no-data strong {display:block;margin-top:13px;font-weight:bold;font-size:16px;line-height:15px;}
.hire-list li .no-data button {margin-top:25px;padding:0 55px;}

.basic-list li {margin-top:3px;color:#666;font-size:15px;line-height:24px;}
.basic-list li:first-of-type {margin-top:0}

/* BOX */
.customer-box {margin-top:37px;padding:23px;background-color:#f8f9fa;}
.customer-box .tit {margin-bottom:8px;font-weight:bold;font-size:17px;line-height:22px;color:#111;}
.customer-box .list {overflow:hidden;}
.customer-box .list dt,
.customer-box .list dd {float:left;margin-top:5px;font-size:15px;line-height:24px;}
.customer-box .list dd a {font-size:15px;line-height:24px;}
.customer-box .list dt {width:117px;color:#333;}
.customer-box .list dd + dt {clear:both;}
.customer-box .list dd {color:#666;}
.customer-box .list dd .mail {color:#3a9dde;}

.half-bg-box {}
.half-bg-box .box-row {width:100%;border-spacing:24px 0;table-layout:fixed;}
.half-bg-box .box-row + .box-row {margin-top:10px;}
.half-bg-box .box-col {padding:25px 20px;background-color:#f8f9fa;vertical-align:top;}
.half-bg-box .box-col + .box-col {margin-top:10px;}
.half-bg-box .lists-dash {margin-top:12px;}
.half-bg-box.consulting {text-align:center;}
.half-bg-box.consulting .box-col {position:relative;height:608px;vertical-align:middle;}
.half-bg-box.consulting .box-col a {position:absolute;left:0;top:0;width:100%;height:100%;padding-top:42%;vertical-align:middle;}
.half-bg-box.consulting .tit-ty2,
.half-bg-box.consulting .txt-ty1,
.half-bg-box.consulting .lists-dash {color:#fff;}
.half-bg-box.consulting .lists-dash {margin-top:55px;}
.half-bg-box.consulting .lists-dash > li:before {display:inline-block;position:static;margin:-3px 4px 0 0;background-color:#fff;vertical-align:middle;}
.half-bg-box.consulting .box-row:nth-child(1) .box-col:nth-child(1) {background:url('../../img/content/img_consulting01.jpg') no-repeat 0 0;}
.half-bg-box.consulting .box-row:nth-child(1) .box-col:nth-child(2) {background:url('../../img/content/img_consulting02.jpg') no-repeat 0 0;}
.half-bg-box.consulting .box-row:nth-child(2) .box-col:nth-child(1) {background:url('../../img/content/img_consulting03.jpg') no-repeat 0 0;}
.half-bg-box.consulting .box-row:nth-child(2) .box-col:nth-child(2) {background:url('../../img/content/img_consulting04.jpg') no-repeat 0 0;}

.half-box > div + div {margin-top:37px;}

.half-box2 .tit {margin:25px 0 10px;font-weight:bold;font-size:17px;line-height:22px;color:#333;}
.half-box2 .txt p {font-size:15px;line-height:21px;color:#666;}
.half-box2 .txt p:first-child {color:#333;}
.half-box2 .txt p + p {margin-top:10px;}
.half-box2 .right {margin-top:38px;}

.tbl-ty2 + .half-box {margin-top:37px;}

.stock-box .total {margin-bottom:15px;font-size:24px;line-height:26px;}
.stock-box .total strong {margin-right:10px;font-weight:normal;}
.stock-box .total em span {font-weight:bold;}
.stock-box .stock-img {text-align:center;}
.stock-box .stock-img img {width:210px;}
.stock-box .half {overflow:hidden;}
.stock-box .left {float:left;margin-right:40px;border:1px solid #dde2ea;}
.stock-box .right {overflow:hidden;}
.stock-box .right [class^='tbl-ty'] {margin-top:0;}

.btm-box {position:relative;margin-top:19px;}
.btm-box .right {margin-top:25px;text-align:center;}
.btm-box .right select,
.btm-box .right [class^='btns-'] {-webkit-flex:1;flex:1;}
.btm-box .right [class^='btns-'] {padding:0 20px;}
.btm-box .right select + [class^='btns-'] {margin-left:5px;}
.btm-box .refer-txt {margin-top:0;color:#999;}

.category-box {display:table;width:100%;border:1px solid #dde2ea;}
.category-box > div {display:table-cell;vertical-align:top;}
.category-box .category-tab {width:310px;border-right:1px solid #dde2ea;background-color:#f8f9fa;}
.category-box .category-tab ul {padding:39px 29px;}
.category-box .category-tab li + li {margin-top:20px;}
.category-box .category-tab li a {display:block;position:relative;height:45px;padding:0 20px;-webkit-border-radius:45px;border-radius:45px;line-height:45px;}
.category-box .category-tab li a[aria-selected='true'] {background-color:#c70000;-webkit-box-shadow:3px 3px 10px rgba(0,0,0,.2);box-shadow:3px 3px 10px rgba(0,0,0,.2);color:#fff;}
.category-box .category-tab li a[aria-selected='true']:after {content:'';position:absolute;right:20px;top:50%;width:8px;height:13px;margin-top:-6px;background:url('../../img/bg/bg_assets_arrow.png') no-repeat 0 0;}
.category-box .category-con .category-panel {display:none;}
.category-box .category-con .category-panel.on {display:block;}

.step-consulting-box {margin:0 -38px;}
.step-consulting-box ol {display:table;width:100%;border-spacing:38px 0;table-layout:fixed;}
.step-consulting-box li {display:table-cell;padding:80px 0;background-color:#fff;text-align:center;}
.step-consulting-box li .tit {display:block;margin-bottom:42px;font-weight:bold;font-size:32px;color:#111;}
.step-consulting-box li .txt {font-size:18px;line-height:26px;color:#666;}
.step-consulting-box li .txt em {font-weight:bold;color:#111;}

.map-box {border:1px solid #dde2ea;-webkit-box-shadow:20px 20px 2px rgba(248,248,249,1);box-shadow:20px 20px 2px rgba(248,248,249,1);}
.message-bg-box {padding:25px 10px;background-color:#f8f9fa;font-size:15px;line-height:21px;}
.step-list + .message-bg-box {margin-top:15px;}

.btms-system {position:relative;margin:25px 15px 0;}
.btms-system:after {content:'';position:absolute;left:15px;bottom:0;z-index:-1;width:100%;height:1px;background-color:#f8f9fb;}
.btms-system .slider-nav {margin-top:25px;table-layout:fixed;}
.btms-system .slider-nav .slick-slide {position:relative;width:20% !important;border-bottom:1px solid #e8ebf0;opacity:.3;}
.btms-system .slider-nav .slick-slide div {vertical-align:top;}
.btms-system .slider-nav .slick-slide a {display:block;overflow:hidden;padding:0 0 25px 20px;}
.btms-system .slider-nav .slick-slide:first-child a {padding-left:0;}
.btms-system .slider-nav .slick-slide em {display:block;font-weight:bold;font-size:17px;line-height:20px;color:#111;text-align:left;}
.btms-system .slider-nav .slick-slide a > span {display:block;position:relative;margin-top:10px;font-size:12px;color:#333;text-align:left;}
.btms-system .slider-nav .slick-slide.slick-current {opacity:1;}
.btms-system .slider-nav .slick-slide.slick-current:after {content:'';position:absolute;left:0;right:0;bottom:-1px;height:2px;background-color:#c4112d;}

.award-box {margin-top:40px;padding:30px 19px;background-color:#fff;}
.award-box .tit-ty2 {font-size:21px;}
.award-box dt {margin-top:18px;border-top:1px dashed #d9dde4;font-weight:bold;}
.award-box dt:first-child {margin-top:0;border-top:0;}
.award-box dt {padding:18px 0 12px;font-size:17px;color:#333;}
.award-box dd {overflow:hidden;}
.award-box dd .lists-dash > li {overflow:hidden;}
.award-box dd .lists-dash > li a {float:right;}

.branch-map-box .map-tab {margin:25px -6px 0;}
.branch-map-box .map-tab ul {display:table;width:100%;margin-top:-6px;border-spacing:3px;}
.branch-map-box .map-tab li {display:inline-table;width:50%;}
.branch-map-box .map-tab li a {display:block;height:45px;background-color:#f8f9fa;font-size:14px;line-height:45px;color:#333;text-align:center;}
.branch-map-box .map-tab li a[aria-selected='true'] {background-color:#c70000;color:#fff;}
.branch-map-box .map-panel {margin-top:20px;}
.branch-map-box .map-panel li {display:none;}
.branch-map-box .map-panel li.on {display:block;}
.branch-map-box .map-panel li .address {margin-top:15px;font-size:14px;line-height:22px;color:#666;}
.branch-map-box .map-panel li .address strong {float:left;width:48px;font-weight:normal;color:#333;}
.branch-map-box .map-panel li .address span {display:block;overflow:hidden;}

.branch-map-box .img {margin-top:25px;text-align:center;}
.branch-map-box .overseas-box {margin-top:15px;}
.branch-map-box .overseas-box .tit {margin-bottom:5px;font-weight:bold;font-size:18px;}
.branch-map-box .overseas-box .tit img {display:inline-block;margin:2px 19px 0 0;vertical-align:top;}
.branch-map-box .overseas-box dl {overflow:hidden;}
.branch-map-box .overseas-box dt,
.branch-map-box .overseas-box dd {margin-top:15px;font-size:15px;line-height:24px;}
.branch-map-box .overseas-box dd + dt {clear:both;}
.branch-map-box .overseas-box dt {float:left;width:64px;font-weight:bold;}
.branch-map-box .overseas-box dd {overflow:hidden;color:#666;}
.branch-map-box .overseas-box dd a {font-size:15px;color:#3a9dde;}
.branch-map-box .layer-map {position:absolute;left:50%;top:245px;margin-left:-260px;}
.branch-map-box .layer-map .inner {overflow:hidden;width:520px;padding:0 40px 40px;-webkit-box-shadow:0 7px 18px rgba(0,0,0,.1);box-shadow:0 7px 18px rgba(0,0,0,.1);background-color:#fff;box-sizing:border-box;}
.branch-map-box .layer-map dt {height:100px;font-weight:bold;font-size:24px;line-height:100px;color:#111;}
.branch-map-box .layer-map dd .tab-ty {margin-bottom:22px;}
.branch-map-box .layer-map dd .tab-ty ul {overflow:hidden;}
.branch-map-box .layer-map dd .tab-ty li {float:left;margin-right:30px;}
.branch-map-box .layer-map dd .tab-ty li a {position:relative;font-size:16px;line-height:28px;color:#333;}
.branch-map-box .layer-map dd .tab-ty li a[aria-selected='true'] {font-weight:bold;}
.branch-map-box .layer-map dd .tab-ty li a[aria-selected='true']:before {content:'';position:absolute;left:0;right:0;bottom:-1px;height:2px;background-color:#333;}
.branch-map-box .layer-map .close {overflow:hidden;position:absolute;right:0;top:0;width:100px;height:100px;background:url('../../img/btn/btn_close01.png') no-repeat 50% 50%;text-indent:-5000em;}

.portfolio-box {position:relative;margin-bottom:-100px;}
.portfolio-box > ul {display:table;width:100%;table-layout:fixed;}
.portfolio-box > ul > li {display:table-cell;position:relative;height:1020px;vertical-align:top;}
.portfolio-box > ul > li:nth-child(1) {text-align:left;}
.portfolio-box > ul > li:nth-child(2) {text-align:right;}
.portfolio-box > ul > li .default {position:absolute;top:0;width:100%;height:100%;}
.portfolio-box > ul > li.off [class^='default'] {visibility:hidden;}
.portfolio-box > ul > li.on [class^='default'] {visibility:visible;}
.portfolio-box > ul > li:nth-child(1) .default {background:url('../../img/content/bg_portfolio01.jpg') no-repeat 100% 0;}
.portfolio-box > ul > li:nth-child(2) .default {background:url('../../img/content/bg_portfolio02.jpg') no-repeat 0 0;}
.portfolio-box > ul > li .default .inner {position:absolute;top:0;width:542px;padding-top:228px;-webkit-transition: all .7s ease;-moz-transition: all .7s ease;-o-transition: all .7s ease;transition: all .7s ease;}
.portfolio-box > ul > li.on .default .inner {padding-top:118px;}
.portfolio-box > ul > li:nth-child(1) .default .inner {right:0;}
.portfolio-box > ul > li:nth-child(2) .default .inner {left:0;}
.portfolio-box > ul > li .default a {display:inline-block;}
.portfolio-box > ul > li:nth-child(1) .default a:after,
.portfolio-box > ul > li:nth-child(2) .default a:after {content:'';display:inline-block;width:147px;height:22px;margin-top:40px;background-repeat:no-repeat;background-position:0 0;}
.portfolio-box > ul > li:nth-child(1) .default a:after {background-image:url('../../img/content/bg_portfolio_arrow01.png');}
.portfolio-box > ul > li:nth-child(2) .default a:after {background-image:url('../../img/content/bg_portfolio_arrow02.png');}
.portfolio-box > ul > li.on .default a:after {display:none;}
.portfolio-box > ul > li .default .tit {display:block;margin-top:19px;font-weight:bold;font-size:60px;line-height:72px;color:#fff;}
.portfolio-box > ul > li .default .txt {display:block;font-size:18px;line-height:26px;color:#fff;}
.portfolio-box > ul > li:nth-child(1) .default .txt {text-align:left;}
.portfolio-box > ul > li:nth-child(2) .default .txt {text-align:right;}
.portfolio-box > ul > li .default .btn {display:none;}
.portfolio-box > ul > li .default .btn a {display:inline-block;width:110px;height:40px;margin-top:60px;border:2px solid #fff;font-size:16px;line-height:36px;color:#fff;text-align:center;box-sizing:border-box;}
.portfolio-box > ul > li.on .default .btn {display:block;}
.portfolio-box > ul > li .shortcuts {display:none;position:absolute;top:0;z-index:10;width:60px;height:100%;}
.portfolio-box > ul > li.off .shortcuts {display:block;}
.portfolio-box > ul > li:nth-child(1) .shortcuts {left:0;background:url('../../img/content/bg_portfolio01.jpg') no-repeat right 0;}
.portfolio-box > ul > li:nth-child(2) .shortcuts {right:0;background:url('../../img/content/bg_portfolio02.jpg') no-repeat 0 0;}
.portfolio-box > ul > li .shortcuts a {display:block;height:100%;padding-top:188px;color:#fff;text-align:center;}
.portfolio-box > ul > li .shortcuts a span {display:inline-block;writing-mode:tb-rl;}

.portfolio-box > ul > li .default-view {visibility:hidden;position:absolute;top:0;z-index:5;width:700px;padding-top:70px;-webkit-transition: all .6s ease;-moz-transition: all .6s ease;-o-transition: all .6s ease;transition: all .6s ease;}
.portfolio-box > ul > li.off .default-view {visibility:hidden;-webkit-transition: all 0s ease;-moz-transition: all 0s ease;-o-transition: all 0s ease;transition: all 0s ease;}
.portfolio-box > ul > li.on .default-view {visibility:visible;}
.portfolio-box > ul > li:nth-child(1) .default-view {right:-460px;}
.portfolio-box > ul > li:nth-child(1).on .default-view {right:-620px;}
.portfolio-box > ul > li:nth-child(1) .default-view .txt {padding:38px 0 0 140px;}
.portfolio-box > ul > li:nth-child(2) .default-view {left:-460px;}
.portfolio-box > ul > li:nth-child(2).on .default-view {left:-620px;}
.portfolio-box > ul > li:nth-child(2) .default-view .txt {padding:38px 140px 0 0;}
.portfolio-box > ul > li .default-view .img {width:700px;}
.portfolio-box > ul > li .default-view .txt {text-align:left;}
.portfolio-box > ul > li .default-view .txt dt {font-weight:bold;font-size:28px;line-height:72px;}
.portfolio-box > ul > li .default-view .lists-dash > li + li {margin-top:4px;}
.portfolio-box .portfolio-swipe .slick-disabled {opacity:.5;}
.portfolio-box .portfolio-swipe .slick-prev,
.portfolio-box .portfolio-swipe .slick-next {overflow:hidden;position:absolute;top:508px;z-index:2;width:16px;height:30px;text-indent:-5000em;}
.portfolio-box .portfolio-swipe .slick-prev {background-image:url('../../img/btn/btn_slide_prev03.png');}
.portfolio-box .portfolio-swipe .slick-next {background-image:url('../../img/btn/btn_slide_next03.png');}
.portfolio-box > ul > li:nth-child(1) .portfolio-swipe .slick-prev {right:61px;}
.portfolio-box > ul > li:nth-child(1) .portfolio-swipe .slick-next {right:0;}
.portfolio-box > ul > li:nth-child(2) .portfolio-swipe .slick-prev {right:201px;}
.portfolio-box > ul > li:nth-child(2) .portfolio-swipe .slick-next {right:140px;}

.finish-box {margin-top:40px;text-align:center;}
.finish-box .ico {display:block;margin-bottom:15px;text-align:center;}
.finish-box .ico:before {content:'';display:inline-block;width:50px;height:50px;background:url('../../img/ico/ico_finish.png') no-repeat 50% 0;-webkit-background-size:100% auto;background-size:100% auto;vertical-align:top;}
.finish-box .tit {display:block;font-size:16px;font-weight:bold;line-height:15px;color:#111;}
.finish-box .txt {margin-top:15px;font-size:13px;line-height:15px;color:#555;}
.finish-box .info {margin-top:25px;padding:22px;background-color:#f8f9fa;font-size:13px;line-height:18px;color:#666;}

.top-search-box {margin:10px 0 25px;}
.top-search-box dt {font-size:16px;font-weight:bold;line-height:44px;}

.gray-box {margin-top:10px;padding:25px 19px;background:#f8f9fa;}
.gray-box:first-of-type {margin-top:0;}
.gray-box .cont-tit {display:block;margin-bottom:10px;font-size:17px;font-weight:bold;color:#111;}
.gray-box .cont-tx {font-size:15px;color:#666;line-height:21px;}
.gray-box .cont-list li {margin-top:8px;font-size:15px;color:#666;line-height:21px;}
.gray-box .cont-list li:first-of-type {margin-top:0;}

/* EVENT */
.event-list {margin:0 15px;}
.event-list li + li {margin-top:20px;}
.event-list li a {display:block;}
.event-list li .img,
.event-list li strong {display:block;}
.event-list li .img {position:relative;}
.event-list li strong {margin-top:10px;font-size:16px;line-height:21px;color:#111;}
.event-list li p {margin-top:10px;font-size:13px;line-height:17px;color:#666;}
.event-list .end-txt {display:none;position:absolute;left:0;top:0;width:100%;height:100%;font-size:24px;color:#fff;text-align:center;background:rgba(0,0,0,.5);}
.event-list .end-txt em {position:absolute;left:0;right:0;top:50%;margin-top:-10px;}
.event-list .movie {display:none;position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,.5);font-size:24px;color:#fff;text-align:center;}
.event-list .end-txt em {position:absolute;left:0;right:0;top:50%;margin-top:-10px;}
.event-list .movie em {overflow:hidden;position:absolute;left:50%;top:50%;width:45px;height:45px;margin:-22px 0 0 -22px;background:url('../../img/btn/btn_movie.png') no-repeat 0 0;background-size:100%;text-indent:-5000em;}
.event-list.type01 ul {overflow:hidden;}
.event-list.type01 ul li {margin-top:25px;float:left;width:50%;}
.event-list.type01 ul li:nth-child(even) {padding-left:12px;}
.event-list.type01 ul li:nth-child(odd) {padding-right:12px;}
.event-list.type01 ul li:first-child,
.event-list.type01 ul li:nth-child(2) {margin-top:0;}
.event-list.type01 ul li a {display:block;position:relative;}
.event-list.type01 ul li img {width:100%;height:100%;}

/* TIME */
.time-list {overflow:hidden;}
.time-list .tit {margin-bottom:40px;}
.time-list .tit strong {font-size:17px;color:#111;}
.time-list .tit span {padding-left:9px;font-size:13px;color:#666;}
.time-list .img {height:270px;}
.time-list .img a {display:block;height:100%;}
.time-list .img a img {width:auto;height:100%;}

/* PAGING */
.paging-area {margin-top:20px}
.paging {margin:0 auto;font-size:0;text-align:center}
.paging a,
.paging span {display:inline-block;font-size:15px;line-height:34px;color:#999;white-space:nowrap;vertical-align:top;}
.paging a {width:34px;height:34px;}
.paging > span {margin:0 18px;}
.paging > span strong {color:#111;}
.paging > a span {position:absolute;left:-5000em;top:-5000em;font-size:1px;line-height:1px}
.paging > a {margin:0 2px;border:1px solid #babdc3;background-repeat:no-repeat;background-position:50% 50%;-webkit-background-size:auto 13px;background-size:auto 13px;}
.paging > a.prev {background-image:url('../../img/btn/btn_paging_prev.png');}
.paging > a.next {background-image:url('../../img/btn/btn_paging_next.png');}

/* TABLE */
.tbl-finance {margin-top:20px;border-top:2px solid #111;}
.tbl-finance th,
.tbl-finance td {height:70px;padding:0 20px;border:solid #dde2ea;border-width:0 0 1px 1px;}
.tbl-finance th:first-child,
.tbl-finance td:first-child {border-left:0;}
.tbl-finance thead th {background-color:#f5f6f8;font-size:18px;font-weight:bold;line-height:28px;}
.tbl-finance tbody th,
.tbl-finance tbody td {font-size:16px;}
.tbl-finance tbody th {text-align:left;}
.tbl-finance tbody td {text-align:right;}
.tbl-finance tbody td img {margin-right:8px;}
.tbl-finance tbody tr.bg1 th,
.tbl-finance tbody tr.bg1 td {background-color:#f2fbfb;}
.tbl-finance tbody tr.bg2 th,
.tbl-finance tbody tr.bg2 td {background-color:#f8f9fa;}

.gallery-swipe .slick-track {height:200px;}
.gallery-swipe .slick-slide {transform:scale(0.9);transition:1s;opacity:.5;}
.gallery-swipe .slick-slide.slick-center {transform:scale(1);opacity:1;}
.gallery-swipe .slick-slide div {height:100%;}
.gallery-swipe .slick-slide img {height:100%;}
.gallery-swipe .slick-prev,
.gallery-swipe .slick-next {display:none !important;}
.gallery-swipe .slick-dots {margin-top:25px;}

/* CEO 인사말 */
.ceo-massage {padding-top:40px;text-align:center;line-height:35px;background-color:#f8f9fa}
.ceo-massage p {font-size:35px;font-weight:bold;color:#111}
.ceo-massage p span {font-size:16px;color:#666}
.ceo-massage .txt {display:block;padding:0 15px;margin-top:30px;font-size:15px;line-height:21px;color:#666;}
.ceo-massage .txt br {display:none;}
.ceo-img {padding-top:15px;background-color:#f8f9fa;text-align:center;}

/* 연혁 */
.history-list {position:relative;margin-top:30px;padding-left:25px;}
.history-list:before {content:'';position:absolute;left:5px;top:2px;bottom:0;width:1px;border-left:1px dashed #d4d8e0;}
.history-list h2 {clear:both;position:relative;margin-top:38px;font-size:17px;font-weight:bold;color:#c70000;}
.history-list h2:first-child {margin-top:0;}
.history-list h2:before {display:inline-block;content:'';position:absolute;top:2px;left:-25px;width:10px;height:10px;border:2px solid #c70000;-webkit-border-radius:50%;border-radius:50%;background-color:#fff;box-sizing:border-box;}
.history-list dl {display:inline-block;position:relative;width:100%;}
.history-list dl:last-child:before {content:'';position:absolute;left:-25px;top:-5px;bottom:0;z-index:2;width:10px;background-color:#fff;}
.history-list dt,
.history-list dd {margin-top:18px;line-height:20px;}
.history-list dt {float:left;width:42px;font-size:15px;font-weight:bold;}
.history-list dt strong {float:left;width:43px;color:#111;}
.history-list dd + dt {clear:both;}
.history-list dd {overflow:hidden;color:#666;}

/* 약관 */
.mem-rule .tit-ty1 {margin:40px 0 0;font-size:17px;text-align:left;line-height:1;color:#111;}
.mem-rule .tit-ty2 {margin:25px 0 0;font-size:16px;line-height:1;color:#333;}
.mem-rule .txt {margin:12px 0 0;font-size:15px;color:#666;line-height:21px;}
.mem-rule .txt + .txt {margin-top:2px;}
.mem-rule .tx-list li {margin-top:5px;font-size:15px;color:#666;line-height:21px;}
.mem-rule .tx-list li:first-child {margin-top:12px;}
.mem-rule .tx-list ul {padding:5px 0 5px 15px;}
.mem-rule .tx-list ul li:first-child {margin-top:0;}
.mem-rule .tb-wrap {margin:0 -15px;}
.mem-rule table {margin-top:20px;border-top:1px solid #22242b;}
.mem-rule table tr th {padding:17px 5px;font-size:15px;font-weight:bold;color:#333;background:#f5f6f8;border-right:1px solid #dde2ea;border-bottom:1px solid #dde2ea;}
.mem-rule table tr td {padding:17px 5px;font-size:15px;font-weight:normal;color:#666;border-right:1px solid #dde2ea;border-bottom:1px solid #dde2ea;}
.mem-rule table tr th:last-child,
.mem-rule table tr td:last-child {border-left:none;}
.mem-rule .index-list {margin-top:15px;padding:25px 15px;background:#f8f9fa;}
.mem-rule .index-list .colm ul {margin-top:12px;}
.mem-rule .index-list .colm ul li {padding-top:5px;font-size:15px;color:#666;}
.mem-rule .index-list .colm ul li:first-child {padding-top:0;}
.mem-rule .index-list .colm ul li em {font-weight:normal;color:#666;}

/* 조직도 */
.org-chart li {display:inline-block;width:100%;font-size:15px;}
.org-chart li strong {display:inline-block;padding:16px 0;font-family:notoB;font-size:16px;text-align:center;}
.org-item1>li>strong {position:relative;width:calc(50% - 3px);color:#fff;background:#c70000;}
.org-item1>li>strong:before {content:"";position:absolute;left:49%;top:27px;z-index:-1;display:block;width:1px;height:100%;background:#dde2ea;}
.org-item2 {}
.org-item2>li {position:relative;margin-top:25px;}
.org-item2>li:before {content:"";position:absolute;left:24%;top:27px;z-index:-1;display:block;width:1px;height:100%;background:#dde2ea;}
.org-item2>li:last-child:before {display:none;}
.org-item2>li:after {content:"";display:block;clear:both;}
.org-item2>li>strong {float:left;padding:15px 0;width:calc(50% - 5px);color:#333;background:#f5f6f8;border:1px solid #dde2ea;font-size:15px;}
.org-item-detail {position:relative;float:right;width:calc(50% - 5px);text-align:center;}
.org-item-detail>li {display:block;padding:15px 0;font-family:notoL;border:1px solid #dde2ea;background:#fff;position:relative;}
.org-item-detail>li:first-child:before {content:"";position:absolute;left:-11px;top:50%;z-index:-1;display:block;width:11px;height:1px;background:#dde2ea;}
.org-item-detail>li+li {margin-top:5px;}
.org-item-detail>li+li:before {content:"";position:absolute;left:50%;top:-6px;z-index:-1;display:block;width:1px;height:5px;background:#dde2ea;}

.item-comp{background-color:#f8f9fa;padding:40px 0;margin:0 -15px;}
.item-comp .tit-ty3{margin-top:0;}
.item-list {}
.item-list ul {display:table;width:100%;}
.item-list ul li {display:inline-table;width:50%;margin-top:30px;text-align:center;}
.item-list ul li:first-child,
.item-list ul li:nth-child(2) {margin-top:10px;}
.item-list ul li span {display:block;padding-top:5px;font-size:15px;line-height:21px;color:#333;}
.item-list ul li i {display:inline-block;width:90px;height:90px;background:#fff url('../../img/content/ico_mice.png') no-repeat 0 0;background-size:500px auto;border:1px solid #e4e4e4;border-radius:50%;-webkit-border-radius:50%;}
.item-list ul li i.item-obj01 {background-position:0 0;}
.item-list ul li i.item-obj02 {background-position:-100px 0;}
.item-list ul li i.item-obj03 {background-position:-200px 0;}
.item-list ul li i.item-obj04 {background-position:-300px 0;}
.item-list ul li i.item-obj05 {background-position:0 -100px;}
.item-list ul li i.item-obj06 {background-position:-100px -100px;}
.item-list ul li i.item-obj07 {background-position:-200px -100px;}
.item-list ul li i.item-obj08 {background-position:-300px -100px;}

.mice-comp .comp-list .count-num{font-size:30px;letter-spacing:-1px;font-weight:600;}
.mice-comp .comp-list li:first-child{width:30%;}
.mice-comp .comp-list li .sub-tit{font-size:13px;letter-spacing:-1px;}
.mice-comp > strong{display:block;margin-top:15px;color:#333;font-size:13px;text-align:center;}

.collaboration-comp{margin:20px 0 35px;}
.collaboration-comp ul{display:flex;flex-wrap:wrap}
.collaboration-comp ul li{flex:0 50%;padding:10px 5px 0 0;box-sizing:border-box;}
.collaboration-comp ul li:nth-child(even){padding:10px 0 0 5px;}
.collaboration-comp ul li img{width:100%;}

.full-display .tbl-ty2 table tbody th{vertical-align:top;}

.tit-group {margin:27px 0 24px;text-align:center}
.work-chk-list ul {flex-wrap:wrap;display:-webkit-flex;display:flex;width:100%;}
.work-chk-list ul li {position:relative;width:calc(50% - 5px);height:168px;margin-bottom:10px;padding:15px 13px 0 15px;background:#fff;border:1px solid #dde2ea;transition:all .4s ease-out;box-sizing:border-box;}
.work-chk-list ul li:nth-child(even) {margin-left:10px;}
.work-chk-list ul li.on {background:#c70000;}
.work-chk-list ul li:after {content:'';width:32px;height:28px;margin-bottom:10px;background:url('../../img/ico/ico_cont_chk.png') no-repeat;background-position:0 -29px;background-size:32px auto;position:absolute;bottom:15px;right:15px;}
.work-chk-list ul li.on:after {background-position:0 0;}
.work-chk-list ul li [class^="ico"] {display:block;height:21px;background-position:0 -21px;}
.work-chk-list ul li.on [class^="ico"] {background-position:0 0;}
.work-chk-list ul li .ico01 {width:21px;background-image:url('../../img/ico/ico_work01.png');background-size:21px auto;}
.work-chk-list ul li .ico02 {width:21px;background-image:url('../../img/ico/ico_work02.png');background-size:21px auto;}
.work-chk-list ul li .ico03 {width:30px;background-image:url('../../img/ico/ico_work03.png');background-size:30px auto;}
.work-chk-list ul li .ico04 {width:25px;background-image:url('../../img/ico/ico_work04.png');background-size:25px auto;}
.work-chk-list ul li .ico05 {width:22px;background-image:url('../../img/ico/ico_work05.png');background-size:22px auto;}
.work-chk-list ul li .ico06 {width:23px;background-image:url('../../img/ico/ico_work06.png');background-size:23px auto;}
.work-chk-list ul li .txt {display:inline-block;margin-top:15px;font-size:15px;line-height:21px;color:#333;} 
.work-chk-list ul li.on .txt {color:#fff;}

.cont-btm {padding:40px 0 0;background:#fff;}
.cont-btm .tit-ty2 {text-align:center;color:#111;}
.comp-list {display:table;margin:auto;padding-top:23px;width:100%;table-layout:fixed;}
.comp-list li {display:table-cell;text-align:center;color:#c70000;}
.comp-list li .line {border-left:1px solid #ddd;}
.comp-list li:first-child .line {border:0;}
.comp-list li .sub-tit {display:block;font-size:15px;}
.comp-list li .count-num {display:block;padding:0 0 6px;font-size:40px;}
.comp-list li .sub-txt {display:block;padding-top:12px;font-size:13px;color:#333;letter-spacing:-1px;}

#tabBusiness2 .imgs {position:relative;}
#tabBusiness2 .imgs:before {content:"";position:absolute;left:0;top:73px;z-index:1;display:block;width:100%;height:1px;background:#333;}
#tabBusiness2 .imgs img {position:relative;z-index:2;width:100%;}
#tabBusiness2 .slider-container {margin:0 -15px;text-align:center}
#tabBusiness2 .slider-container .txt-ty1 {letter-spacing:-1px}
#tabBusiness2 .slider-container .slide-links {display:inline-block;margin-top:30px;padding-right:10px;background:url('../../img/content/bg_branch_arrow.png') right 3px no-repeat;background-size:4px auto;font-size:14px;color:#333;}
#tabBusiness2 .slider-container .slick-dots li + li {margin-left:1px;}

#technology1 .tabs-swiper-container {border:0;}
#technology1 .tabs-swiper-container li {width:auto !important;margin-left:10px;}
#technology1 .tabs-swiper-container li:first-child {margin-left:0;}
#technology1 .tabs-swiper-container li a {display:block;height:36px;background:#f5f6f8 url('../../img/content/tech_nav.png') 0 -36px no-repeat;background-size:560px;-webkit-border-radius:18px;border-radius:18px;font-size:0;line-height:36px;color:transparent;}
#techTab1 .tabs-swiper-container li a {background:#f5f6f8 url('../../img/content/tech_nav.png') 0 -36px no-repeat;background-size:560px;}
#techTab2 .tabs-swiper-container li a {background:#f5f6f8 url('../../img/content/tech_nav2.png') 0 -36px no-repeat;background-size:380px;}
#technology1 .tabs-swiper-container li a[aria-selected='true'] {background-color:#c70000;}
#techTab1 .tabs-swiper-container li:nth-child(1) a {width:143px !important;background-position:0 -36px;}
#techTab1 .tabs-swiper-container li:nth-child(2) a {width:36px !important;background-position:-143px -36px;}
#techTab1 .tabs-swiper-container li:nth-child(3) a {width:94px !important;background-position:-179px -36px;}
#techTab1 .tabs-swiper-container li:nth-child(4) a {width:143px !important;background-position:-273px -36px;}
#techTab1 .tabs-swiper-container li:last-child a {width:145px !important;background-position:-416px -36px;}
#techTab1 .tabs-swiper-container li:nth-child(1) a[aria-selected='true'] {width:143px !important;background-position:0 0;}
#techTab1 .tabs-swiper-container li:nth-child(2) a[aria-selected='true'] {width:36px !important;background-position:-143px 0;}
#techTab1 .tabs-swiper-container li:nth-child(3) a[aria-selected='true'] {width:94px !important;background-position:-179px 0;}
#techTab1 .tabs-swiper-container li:nth-child(4) a[aria-selected='true'] {width:143px !important;background-position:-273px 0;}
#techTab1 .tabs-swiper-container li:last-child a[aria-selected='true'] {width:145px !important;background-position:-416px 0;}
#techTab2 .tabs-swiper-container li:nth-child(1) a {width:94px !important;background-position:0 -36px;}
#techTab2 .tabs-swiper-container li:nth-child(2) a {width:143px !important;background-position:-94px -36px;}
#techTab2 .tabs-swiper-container li:last-child a {width:145px !important;background-position:-237px -36px;}
#techTab2 .tabs-swiper-container li:nth-child(1) a[aria-selected='true'] {width:94px !important;background-position:0 0;}
#techTab2 .tabs-swiper-container li:nth-child(2) a[aria-selected='true'] {width:143px !important;background-position:-94px 0;}
#techTab2 .tabs-swiper-container li:last-child a[aria-selected='true'] {width:145px !important;background-position:-237px 0;}
.tech-lists{margin:0 -15px;padding:30px 15px 103px;background-position:center bottom;background-repeat:no-repeat;background-size:375px 86px;}
.select-list .tech-cont {margin:0 -15px;padding:30px 15px 0;background-position:center bottom;background-repeat:no-repeat;background-size:375px 86px;}
.select-list .accor-content .tech-cont {padding-top:0;}
#consulting2 .tech-lists{padding-bottom:0;}
#techTab1 .tech-lists {background-image:url('../../img/content/bg_swiper_panel01.png');}
#techTab2 .tech-lists {background-image:url('../../img/content/bg_swiper_panel02.png');}
#technology2 .tech-lists {background-image:url('../../img/content/bg_select_lists01.png');}
#technology3 .tech-lists {padding-bottom:135px;background-image:url('../../img/content/bg_select_lists02.png');background-size:375px 101px;}
#cs1 .tech-cont {padding-bottom:103px;background-image:url('../../img/content/bg_select_lists03.png');}
#cs2 .tech-cont {padding-bottom:103px;background-image:url('../../img/content/bg_select_lists04.png');}
#network1 .tech-cont {padding-bottom:103px;background-image:url('../../img/content/bg_select_lists05.png');}
#network2 .tech-cont {padding-bottom:103px;background-image:url('../../img/content/bg_select_lists06.png');}
#network3 .tech-cont {padding-bottom:103px;background-image:url('../../img/content/bg_select_lists07.png');}
.tech-lists > strong{display:block;margin-bottom:10px;font-size:17px;line-height:22px;color:#111;}
.tech-lists ul + strong{margin-top:30px;}
.tech-solid-box{margin-top:15px;padding:21px 15px;background:#f8f9fa;color:#111;font-size:14px;line-height:18px;text-align:center;}
.tech-solid-box span {line-height:21px;}
.tech-cont > .txt-info {color:#666;font-size:14px;letter-spacing:-1px;}
.tech-cont .tbl-ty2{margin-top:8px;}
.tech-cont .tbl-ty2.wd {margin:8px -15px 0;}
.tech-cont .tbl-ty2 th{padding:15px; background:#ebebeb;color:#333; font-size:13px;vertical-align:top;}
.tech-cont .tbl-ty2 td{padding:15px; text-align:left;}
.tech-cont .img + strong{margin-top:22px;}
.tech-cont .tbl-ty1.wd{margin:0 -15px;}
.tech-cont .tbl-ty1.tbl-blur{margin:15px -15px 0;border-top:0;}
.tech-cont .tbl-ty1.tbl-blur table {border-bottom:0;}
.tech-cont .tbl-ty1 th,
.tech-cont .tbl-ty1 td{text-align:left;letter-spacing:-.5px;}
.tech-cont .tbl-ty1.tbl-blur td {border:0;padding:15px 15px 0;}
.tech-cont .terms-list + .btn-area{margin-top:25px;}

.layer .reply-swipe.mice .swiper-inner-info .tbl-ty2 table td .lists-dash li{font-size:13px;}
.layer .reply-swipe.mice .swiper-inner-info .tbl-ty2 table td .lists-dash > li + li{margin-top:5px}