@charset "utf-8";

/* LAYOUT */
.wrap {
  overflow: hidden;
  padding-top: 50px;
}

/* HEADER */
.header .header-inr {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  height: 50px;
  border-bottom: 1px solid #dde2ea;
  line-height: 50px;
  background: #fff;
}
.header h1 {
  font-size: 16px;
  text-align: center;
}
.header h1 a {
  display: inline-block;
  vertical-align: middle;
}
.header h1 img {
  height: 24px;
}
.header [class^="menu-"] {
  overflow: hidden;
  position: absolute;
  top: 0;
}
.header .menu-l {
  left: 0;
}
.header .menu-r {
  right: 0;
}
.header [class^="btn-"] {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-size: 0;
  vertical-align: top;
}
.header .btn-menu {
  position: relative;
  text-align: center;
}
.header .btn-menu span {
  position: absolute;
  left: 14px;
  width: 20px;
  height: 2px;
  background-color: #22242b;
}
.header .btn-menu span:nth-child(1) {
  top: 17px;
}
.header .btn-menu span:nth-child(2) {
  top: 24px;
}
.header .btn-menu span:nth-child(3) {
  top: 31px;
}
.header .btn-prev {
  background-image: url("../../img/layout/btn_prev.png");
  -webkit-background-size: auto 20px;
  background-size: auto 20px;
}

/* CONTENT */
.division {
  margin-top: 25px;
  padding-bottom: 40px; /* border-bottom:10px solid #dde2ea; */
}
.division.bg {
  margin-top: 0;
  padding: 38px 0;
  background-color: #f8f9fa;
}
.division.bg-dark {
  margin-top: -5px;
  padding: 23px 20px;
  background-color: #dde1ea;
}
.division-inr {
  margin: 0 15px;
}
.division.pb {
  padding-bottom: 40px;
}
.division-bar {
  margin-bottom: 40px;
  border-top: 10px solid #dde2ea;
}
.division-bar.mt {
  margin-top: 40px;
}
.division.full-display {
  margin: 0 -15px;
}

/* FOOTER */
.footer {
  padding-bottom: 20px;
  border-top: 10px solid #dde2ea;
  text-align: center;
}
.footer .redcap-sns {
  overflow: hidden;
  border-bottom: 1px solid #dde2ea;
}
.footer .redcap-sns a {
  display: inline-block;
  height: 45px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  vertical-align: top;
}
.footer .redcap-sns a.naverblog {
  width: 45px;
  background-image: url("../../img/layout/footer_sns01.png");
  -webkit-background-size: 19px auto;
  background-size: 19px auto;
}
.footer .redcap-sns a.facebook {
  width: 32px;
  background-image: url("../../img/layout/footer_sns02.png");
  -webkit-background-size: 6px auto;
  background-size: 6px auto;
}
.footer .redcap-sns a.kakaostory {
  width: 40px;
  background-image: url("../../img/layout/footer_sns03.png");
  -webkit-background-size: 14px auto;
  background-size: 14px auto;
}
.footer .foot-menu {
  padding-top: 7px;
}
.footer .foot-menu a {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  color: #999;
  vertical-align: top;
}
.footer .foot-menu a strong {
  color: #c70000;
}
.footer .foot-menu p span + span:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  margin: 0 10px;
  background-color: #dde2ea;
  vertical-align: bottom;
}
.footer .foot-info {
  padding-top: 9px;
}
.footer .foot-info p {
  margin-top: 5px;
  font-size: 11px;
  color: #999;
}
.footer .foot-info p:nth-child(3) {
  margin-top: 14px;
}
.footer .foot-info p span + span {
  margin-left: 9px;
}
.footer .foot-info .copyright {
  margin-top: 14px;
}

/* QUICK */
.page-top {
  display: none;
  overflow: hidden;
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 34px;
  height: 34px;
  border: 1px solid #babdc3;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: #fff url("../../img/layout/btn_top.png") no-repeat 50% 50%;
  -webkit-background-size: 14px auto;
  background-size: 14px auto;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);
  text-indent: -5000em;
}

/* MENU */
.slidemenu-wrap {
  position: fixed;
  /* right: -100%; */ /*JHS*/
  left: -100%;
  top: 0;
  bottom: 0;
  z-index: 99999;
  width: 100%;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.slidemenu-wrap.on {
  /* right: 0; */ /*SJH*/
  left: 0;
}
.slidemenu-wrap.on .dimmed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.slidemenu-wrap .btn-home,
.slidemenu-wrap .btn-mypage {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-indent: -5000em;
}
.slidemenu-wrap .btn-home {
  left: 0;
  background-image: url("../../img/layout/btn_home.png");
  -webkit-background-size: 15px auto;
  background-size: 15px auto;
}
.slidemenu-wrap .btn-mypage {
  right: 35px;
  background-image: url("../../img/layout/bg_my.png");
  -webkit-background-size: 23px auto;
  background-size: 23px auto;
}
.slidemenu-wrap .slidemenu {
  position: relative;
  z-index: 2;
  height: 100%;
  background-color: #fff;
}
.slidemenu-wrap .slidemenu div[class^="slidemenu-"] {
  border-top: 10px solid #dde2ea;
}
.slidemenu-wrap
  .slidemenu
  .slidemenu-navi-center
  .nav-menu
  .nav-1dep
  > ul
  > li
  > a {
  text-align: center;
  font-weight: bold;
}
.slidemenu-wrap .slidemenu-top {
  border-top: 0 !important;
}
.slidemenu-wrap .slidemenu-top .member {
  padding: 58px 0 40px;
  text-align: center;
}
.slidemenu-wrap .slidemenu-top .member .txt {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: #111;
}
.slidemenu-wrap .slidemenu-top .member .btn {
  margin-top: 13px;
}
.slidemenu-wrap .slidemenu-top .member-link ul {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.slidemenu-wrap .slidemenu-top .member-link li {
  display: table-cell;
  background-color: #c70000;
}
.slidemenu-wrap .slidemenu-top .member-link li a {
  display: block;
  padding: 17px 0;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #fff;
}
.slidemenu-wrap .slidemenu-top .member-link li a:before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 22px;
  height: 21px;
  vertical-align: middle;
}
.slidemenu-wrap .slidemenu-top .member-link li.menu1 a:before {
  background-image: url("../../img/layout/bg_slidemenu_link01.png");
  -webkit-background-size: 22px auto;
}
.slidemenu-wrap .slidemenu-top .member-link li.menu2 a:before {
  background-image: url("../../img/layout/bg_slidemenu_link02.png");
  -webkit-background-size: 21px auto;
}
.slidemenu-wrap .slidemenu-top .member-link li a span {
  display: inline-block;
  vertical-align: -3px;
}
.slidemenu-wrap .slidemenu .scroll {
  overflow-y: auto;
  background-color: #eef0f4;
}
.slidemenu-wrap .slidemenu .nav-menu a {
  display: block;
  height: 60px;
  padding: 0 15px;
  background-color: #fff;
  font-size: 17px;
  line-height: 60px;
  color: #111;
}
.slidemenu-wrap .slidemenu .nav-menu li {
  border-bottom: 1px solid #dde2ea;
}
.slidemenu-wrap .slidemenu .nav-menu .nav-2dep,
.slidemenu-wrap .slidemenu .nav-menu .nav-3dep {
  display: none;
  border-top: 1px solid #dde2ea;
}
.slidemenu-wrap .slidemenu .nav-menu .nav-2dep li {
  border-top: 1px solid #dde2ea;
  border-bottom: 0;
}
.slidemenu-wrap .slidemenu .nav-menu .nav-2dep li:first-child {
  border-top: 0;
}
.slidemenu-wrap .slidemenu .nav-menu .nav-1dep > ul > li > a,
.slidemenu-wrap .slidemenu .nav-menu .nav-2dep > ul > li > a {
  background-repeat: no-repeat;
  background-position: right 15px center;
  -webkit-background-size: 10px auto;
  background-size: 10px auto;
}
.slidemenu-wrap .slidemenu .nav-menu .nav-1dep > ul > li > a {
  background-color: #fff;
}
.slidemenu-wrap .slidemenu .nav-menu .nav-2dep > ul > li > a {
  padding: 0 21px;
  background-color: #f5f6f8;
  font-size: 16px;
  color: #333;
}
.slidemenu-wrap .slidemenu .nav-menu .nav-3dep > ul > li > a {
  height: 50px;
  padding: 0 25px;
  background-color: #ebeef2;
  font-size: 15px;
  line-height: 50px;
  color: #333;
}
.slidemenu-wrap .slidemenu .nav-menu .depth {
  background-image: url("../../img/bg/bg_slidemenu_acco_arrow.png");
}
.slidemenu-wrap .slidemenu .nav-menu .depth.on {
  background-image: url("../../img/bg/bg_slidemenu_acco_arrow_on.png");
}
.slidemenu-wrap .btn-close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  width: 50px;
  height: 50px;
  text-align: center;
}
.slidemenu-wrap .btn-close span {
  position: absolute;
  left: 15px;
  width: 20px;
  height: 1px;
  background-color: #000;
  vertical-align: top;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: all 0.4s;
}
.slidemenu-wrap .btn-close span:nth-child(1) {
  top: 17.5px;
  -webkit-transform: translateY(6px) rotate(-45deg);
  transform: translateY(6px) rotate(-45deg);
}
.slidemenu-wrap .btn-close span:nth-child(2) {
  top: 24px;
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.slidemenu-wrap .btn-close span:nth-child(3) {
  opacity: 0;
}

/* LAYER */
.layer {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
}
.layer .dimmed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.layer .layer-inner {
  position: relative;
  height: 100%;
  background-color: #fff;
}
.layer .btn-layer-close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 15;
  width: 50px;
  height: 50px;
  background: url("../../img/btn/btn_close01.png") 50% 50% no-repeat;
  -webkit-background-size: 16px auto;
  background-size: 16px auto;
  text-indent: -9999em;
}
.layer .layer-head .layer-tit {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #dde2ea;
  background-color: #fff;
  text-align: center;
}
.layer .layer-head .layer-tit strong {
  display: block;
  font-size: 16px;
  color: #111;
}
.layer .layer-cont {
  overflow-y: auto;
  height: 100%;
  min-height: 100%;
  padding: 65px 15px 75px;
}
.layer .layer-cont .layer-cont-inner {
  margin: 0 -15px;
}
.layer .layer-cont [class^="tit-ty"] {
  padding: 0;
}
.layer .layer-cont [class^="tit-ty"]:first-child {
  margin-top: 0;
}
.layer .layer-cont.layer-certif {
  padding: 60px 0 75px;
}
.layer .layer-cont.layer-num {
  padding: 60px 15px 75px;
}
.layer .layer-cont.layer-certif .tbl-ty2 {
  border: none;
}
.layer .layer-cont.layer-certif .tbl-ty2 td {
  border: none;
}
.layer .layer-cont.layer-search {
  padding: 75px 0 75px;
}
.layer .btn-area {
  /* height:60px; */
  margin: 25px 0 0;
}
.layer .layer-inner > .btn-area {
  display: -webkit-flex;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.layer .layer-inner > .btn-area button {
  -webkit-flex: 1;
  flex: 1;
  min-width: inherit;
  margin: 0;
}
.layer .btn-area button {
  width: 100%;
  padding: 0;
  line-height: normal;
}

.layer:after {
  content: "";
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.layer .layer-inner.flexible {
  display: inline-block;
  width: 92%;
  height: auto;
  margin-left: 4%;
  vertical-align: middle;
}
.layer .layer-inner.flexible .layer-head .layer-tit {
  position: absolute;
}
.layer .layer-inner.flexible .layer-cont.type2 {
  padding: 66px 15px 15px;
}

.layer .layer-inner.notice {
  display: inline-block;
  width: 92%;
  height: auto;
  margin-left: 4%;
  vertical-align: middle;
}
.layer .layer-inner.notice .layer-cont {
  padding: 0 0 50px;
  background-color: #eef0f4;
}
.layer .layer-inner.notice .btn-area button {
  height: 50px;
  border-top: 1px solid #dde2ea;
  font-size: 13px;
  background-color: #fff;
}
.layer .layer-inner.notice .btn-area button + button {
  border-left: 1px solid #dde2ea;
}
.layer .layer-inner.notice .btn-area .btn-today {
  color: #999;
}
.layer .layer-inner.notice .btn-area .btn-close {
  color: #333;
}
