@charset "utf-8";

/* LAYOUT */
html, body, .wrap, .wrap-inr, .main, .container, .contents {height:100%;}
html {overflow-y:auto;}
.wrap {padding:0;}
.header,
.footer {position:fixed;left:0;right:0;z-index:2;}
.header {top:0;}
.header h1{font-size:0;}
.header .header-inr{border-bottom:none;background:transparent;}
.header .gnb a {color:#fff;}
.header .btn-menu span{background-color:#fff;}
.footer {bottom:0;/* background:rgba(0,0,0,.3); */background-color:#fff;}
.footer .family > a {border-bottom:1px solid rgba(255,255,255,.3);}

/* SWIPER */
.swiper-wrapper .bg-img{overflow:hidden;}
/* .swiper-wrapper .bg-img img{height:100%;-ms-transform: scale(1.4,1.4);-webkit-transform:scale(1.4,1.4);transform: scale(1.4,1.4);} */
.swiper-wrapper .swiper-slide {position:relative;z-index:2;}
.swiper-wrapper .swiper-slide .inner{position:absolute;left:0;top:0;width:100%;}
.swiper-wrapper .swiper-slide .inner .bt-wrap{position:absolute;left:0;bottom:30px;z-index:5;width:100%;padding:0 12px 0 12px;}
.swiper-wrapper .swiper-slide .inner .bt-link{display:block;width:100%;height:44px;border:1px solid #fff;text-align:center;font-size:11px;font-weight:bold;line-height:42px;color:#fff;opacity:0;}
.swiper-wrapper .swiper-slide .inner .bt-link em{font-size:12px;}
.swiper-wrapper .swiper-slide .inner .txt {position:absolute;left:0;right:0;top:0;z-index:2;color:#fff;margin-top:196px;padding-left:12px;font-weight:bold;font-size:35px;line-height:41px;font-weight:bold;}
.swiper-wrapper .swiper-slide .inner .txt span{opacity:0;}
.swiper-wrapper .swiper-slide.swiper-slide-active img{-ms-transform: scale(1,1);-webkit-transform: scale(1,1);transform: scale(1,1);}
.swiper-wrapper .swiper-slide.swiper-slide-active .bg-img img{height:100%;width:100%;/* -webkit-animation:slide-zoom 1.1s ease-out;-ms-animation:slide-zoom 1.1s ease-out;animation:slide-zoom 1.1s ease-out; */}
.swiper-wrapper .swiper-slide.swiper-slide-active .bt-link{opacity:1;}
.swiper-wrapper .swiper-slide.swiper-slide-active .txt {overflow:hidden;/* height:81px; */}
.swiper-wrapper .swiper-slide.swiper-slide-active .txt span {display:block;opacity:1;/* -webkit-animation:slide-up .85s .3s ease forwards;animation:slide-up .85s .3s ease forwards; */}
.main .swiper-container .swiper-pagination{bottom:95px;bottom:14.25vh;}
.main .swiper-container .swiper-pagination .swiper-pagination-bullet{width:13px;height:13px;opacity:.2;background-color:#fff;box-shadow:1px 1px 3px 0 rgba(0,0,0,.3);-webkit-box-shadow:1px 1px 3px 0 rgba(0,0,0,.3);}
.main .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background-color:#fff;opacity:1;}

/* @-webkit-keyframes slide-zoom {
	from {
		-ms-transform: scale(1.4,1.4);
		-webkit-transform: scale(1.4,1.4);
		transform: scale(1.4,1.4);
	}
	to {
		-ms-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
	}
}
@keyframes slide-zoom {
	from {
		-ms-transform: scale(1.4,1.4);
		-webkit-transform: scale(1.4,1.4);
		transform: scale(1.4,1.4);
	}
	to {
		-ms-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
	}
} */
/* @-webkit-keyframes slide-up {
	from {-webkit-transform:translateY(80px);}
	to {-webkit-transform:translateY(0);opacity:1;}
}
@keyframes slide-up {
	from {transform:translateY(80px);}
	to {transform:translateY(0);opacity:1;}
} */
