/* overriding.css v1.0 | 2020.04.18 | UX/UI, HyunHyun Lee */

/* Fonts 
====================================================================*/
@font-face {
  font-family: noto;
  font-style: normal;
  font-weight: 300;
  src: url("../../inc/font/NotoSansCJKkr-Light.eot");
  src: local(☺), url("../../inc/font/NotoSansCJKkr-Light.woff") format("woff");
}
@font-face {
  font-family: noto;
  font-style: normal;
  font-weight: 400;
  src: url("../../inc/font/NotoSansCJKkr-Regular.eot");
  src: local(☺), url("../../inc/font/NotoSansCJKkr-Regular.woff") format("woff");
}
@font-face {
  font-family: noto;
  font-style: normal;
  font-weight: 500;
  src: url("../../inc/font/NotoSansCJKkr-Medium.eot");
  src: local(☺), url("../../inc/font/NotoSansCJKkr-Medium.woff") format("woff");
}
@font-face {
  font-family: noto;
  font-style: normal;
  font-weight: 700;
  src: url("../../inc/font/NotoSansCJKkr-Bold.eot");
  src: local(☺), url("../../inc/font/NotoSansCJKkr-Bold.woff") format("woff");
}
@font-face {
  font-family: noto;
  font-style: normal;
  font-weight: 300;
  src: url("../../inc/font/Roboto-Light.eot");
  src: local(☺), url("../../inc/font/Roboto-Light.woff") format("woff");
  unicode-range: U+0020-007E;
}
@font-face {
  font-family: noto;
  font-style: normal;
  font-weight: 400;
  src: url("../../inc/font/Roboto-Regular.eot");
  src: local(☺), url("../../inc/font/Roboto-Regular.woff") format("woff");
  unicode-range: U+0020-007E;
}
@font-face {
  font-family: noto;
  font-style: normal;
  font-weight: 500;
  src: url("../../inc/font/Roboto-Medium.eot");
  src: local(☺), url("../../inc/font/Roboto-Medium.woff") format("woff");
  unicode-range: U+0020-007E;
}
@font-face {
  font-family: noto;
  font-style: normal;
  font-weight: 700;
  src: url("../../inc/font/Roboto-Bold.eot");
  src: local(☺), url("../../inc/font/Roboto-Bold.woff") format("woff");
  unicode-range: U+0020-007E;
}

/* Main 
====================================================================*/
a:focus,
a:hover {
  text-decoration: none;
}
.wrap {
  position: relative;
  overflow-y: auto;
}
.wrap-inr {
  padding-bottom: 0;
}
.header {
  position: absolute;
  height: 60px;
  background-color: rgba(51, 51, 51, 0.1);
}
.header .header-inr {
  position: relative;
  height: 60px;
  border-bottom: 1.11803px solid rgba(255, 255, 255, 0.35);
}
.header h1 {
  height: 60px;
  margin: 0;
  padding-top: 18px;
}
.header h1 a {
  height: 24px;
  background: url("../../img/main/logo_redcap.png") no-repeat;
  background-size: contain;
}
.header h1 a img {
  visibility: hidden;
}
.header .btn-menu {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
.header .btn-menu span {
  position: static;
  left: auto;
  width: 16px;
  height: 2px;
  margin: 2px 0;
  border-radius: 1px;
}
.main {
  height: auto;
}
.navbar {
  position: fixed;
  top: 120px;
  left: 30px;
  z-index: 1;
}
.navbar.affix {
  position: fixed;
  top: 40px;
}
.navbar li {
  margin: 8px 0;
}
.navbar li a {
  width: 25px;
  height: 25px;
  padding: 0;
  text-indent: -9999px;
  background: url("../../img/main/sprites_quicklink.png") no-repeat;
}
.navbar li a:hover,
.navbar li a:focus {
  background-color: transparent;
}
.navbar li .link-home {
  background-position: -7px -191px;
}
.navbar.affix-top li .link-home {
  background-position: -10px -521px;
}
.navbar li .link-biztravel {
  background-position: -7px -115px;
}
.navbar.affix-top li .link-biztravel {
  background-position: -11px -388px;
}
.navbar li.active .link-biztravel {
  background-position: -7px -153px;
}
.navbar li .link-rentacar {
  background-position: -8px -5px;
}
.navbar.affix-top li .link-rentacar {
  background-position: -12px -345px;
}
.navbar li.active .link-rentacar {
  background-position: -8px -40px;
}
.navbar li .link-mice {
  background-position: -7px -229px;
}
.navbar.affix-top li .link-mice {
  background-position: -10px -431px;
}
.navbar li.active .link-mice {
  background-position: -7px -267px;
}
.navbar li .link-tour {
  background-position: -7px -305px;
}
.navbar.affix-top li .link-tour {
  background-position: -9px -476px;
}
.navbar li.active .link-tour {
  background-position: -7px -77px;
}
.section-intro {
  position: relative;
  height: 640px;
}
.section-intro h2 {
  position: relative;
  top: 446px;
  left: 21px;
  margin: 0;
  font-family: noto;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.8px;
  color: #ffffff;
}
.section-intro p {
  position: relative;
  top: 456px;
  left: 20px;
  font-family: noto;
  font-weight: 300;
  font-size: 34px;
  line-height: 46px;
  letter-spacing: -0.8px;
  color: #ffffff;
}
.section-intro p em {
  font-weight: 700;
  background: -webkit-linear-gradient(#f37021, #ee1e24);
  background: -moz-linear-gradient(#f37021, #ee1e24);
  background: -o-linear-gradient(#f37021, #ee1e24);
  background: linear-gradient(#f37021, #ee1e24);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .section-intro p em {
    color: #ea1313;
    background: transparent;
  }
}
.section-intro img {
  max-width: none;
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(50% - 780px);
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 12s;
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.img-intro02 {
  animation-delay: -8s;
  -webkit-animation-delay: -8s;
}
.img-intro03 {
  animation-delay: -4s;
  -webkit-animation-delay: -4s;
}
.ico-scroll {
  position: absolute;
  left: calc(50% - 25px);
  bottom: 0;
  width: 50px;
  height: 70px;
}
.ico-scroll:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 35px;
  animation-name: scroll;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  background: url("../../img/main/chevron_down.png") no-repeat center;
}
@keyframes scroll {
  0% {
    bottom: 16px;
  }
  40% {
    bottom: 9px;
  }
  100% {
    bottom: 16px;
  }
}
.section-inner {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  height: 100%;
  z-index: 1;
}
.section-list {
  height: 610px;
  background-color: #ffffff;
}
.section-list .section-inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.section-list:nth-child(2n-1) {
  background-color: #fafafa;
}
.section-image {
  position: absolute;
  top: 220px;
  padding: 0 10px;
}
.section-image img {
  max-height: 230px;
}
.section-text {
  position: absolute;
  top: 70px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.section-list h3 {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#f37021, #ee1e24);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-list p {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.8px;
  color: #333333;
}
.section-list p b {
  font-weight: 700;
}
.section-list a {
  position: absolute;
  top: 380px;
  display: inline-block;
  height: 49px;
  margin-top: 50px;
  padding: 0 34px 0 20px;
  border: 1.5px solid rgba(0, 0, 0, 0.08);
  border-radius: 25px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 47px;
  letter-spacing: -0.8px;
  color: #444444;
  white-space: nowrap;
}
.section-list a:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  width: 11px;
  height: 14px;
  background: url("../../img/main/chevron_right_grey.png") no-repeat center;
}
.footer {
  position: relative;
  margin: 0;
  height: 250px;
  border: none;
  text-align: left;
}
.footer .footer-inr {
  position: relative;
  height: 100%;
  padding: 40px 20px;
  background-color: #ffffff;
}
.footer .contact span,
.footer .copyright {
  position: relative;
  margin-right: 16px;
  font-family: noto;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: #999999;
  opacity: 1;
}
.footer .copyright {
  display: none;
}
.footer .contact span.fc-darkgrey {
  font-weight: 700;
  color: #444444;
}
.footer .contact span.fc-red {
  color: #e85256;
}
.footer .contact a {
  font-family: noto;
  font-weight: 400;
  color: #999999;
}
.footer .contact span a.fc-grey {
  font-weight: 500;
  color: #555555;
}
.bar-left:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -8px;
  width: 1px;
  height: 14px;
  background-color: #cccccc;
}
.footer .right {
  margin-top: 36px;
}
.footer .sns {
  margin: 0;
}
.footer .sns li {
  float: left;
  margin: 0 20px 0 0;
}
.footer .sns li[class^="list"] a {
  display: block;
  text-indent: -9999px;
  background: url("../../img/main/sprites_sns.png") no-repeat;
}
.footer .sns li.list1 a {
  width: 29px;
  height: 24px;
  background-position: -10px -308px;
}
.footer .sns li.list1 a:hover {
  background-position: -9px -135px;
}
.footer .sns li.list2 a {
  width: 24px;
  height: 24px;
  background-position: -9px -264px;
}
.footer .sns li.list2 a:hover {
  background-position: -3px -93px;
}
.footer .sns li.list3 a {
  width: 24px;
  height: 24px;
  background-position: -10px -220px;
}
.footer .sns li.list3 a:hover {
  background-position: -4px -51px;
}
.footer .sns li.list4 a {
  width: 24px;
  height: 24px;
  background-position: -10px -352px;
}
.footer .sns li.list4 a:hover {
  background-position: -4px -177px;
}
.footer .sns li.list5 a {
  width: 24px;
  height: 24px;
  background-position: -10px -396px;
}
.footer .sns li.list5 a:hover {
  background-position: -9px -9px;
}
.scrolltop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #5b575b;
  text-indent: -9999px;
  z-index: 10;
}
.scrolltop:before {
  content: "";
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  width: 24px;
  height: 24px;
  background: url("../../img/main/arrow_up.png") no-repeat center;
}

/* ------------------------------------------------------ */
/*    overriding.css v2.0 | 2020.08.12 | UX/UI, JH Seo    */
/* ------------------------------------------------------ */
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.opacity-text {
  opacity: 0.8 !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt120 {
  margin-top: 120px !important;
}
.mb55 {
  margin-bottom: 55px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.mb65 {
  margin-bottom: 65px !important;
}
.mb70 {
  margin-bottom: 70px !important;
}
.mb75 {
  margin-bottom: 75px !important;
}
.mb120 {
  margin-bottom: 120px !important;
}
ul {
  margin: 0;
}
.lh-small {
  line-height: 1.1 !important;
}
.lh-middel-l {
  line-height: 1.3 !important;
}
.lh-middle {
  line-height: 1.5 !important;
}
.lh-big {
  line-height: 1.8 !important;
}

.btn-area > a,
.btn > a {
  font-family: noto;
}

.section-template-list,
.section-template-list-nopad {
  position: relative;
  padding: 0 27px;
  display: flex;
  flex-direction: column;
  font-family: noto;
  overflow: hidden;
}

.section-template-list-nopad {
  padding: 0;
}

.contents-inner {
  padding: 0 27px;
}

.section-template-list:first-child {
  padding-top: 60px;
}

.section-template-list > img {
  max-width: none;
  min-width: 320px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-30%);
  z-index: 1;
}

.section-template-list > img.mice-portfolio-bg {
  min-width: 372px !important;
  width: 100%;
}

.section-template-list > img.align__center {
  max-width: none;
  min-width: 320px;
  height: 100%;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0;
  left: -9999px;
  right: -9999px;
  transform: none;
  z-index: 1;
}

.section-template-list .contents__top {
  margin-top: 50px;
  color: white;
  z-index: 2;
}

.section-template-list h1,
.section-template-list h2,
.section-template-list h3,
.section-template-list p,
.section-template-list-nopad h1,
.section-template-list-nopad h2,
.section-template-list-nopad h3,
.section-template-list-nopad p {
  margin: 0;
  padding: 0;
}

.section-template-list .contents__top h1 {
  font-size: 35px;
  font-weight: 500;
}

.section-template-list .contents__top h2.network__subTitle {
  font-size: 24px;
  color: white;
}

.section-template-list .contents__top h3 {
  line-height: 1.5;
  font-weight: 400;
  opacity: 0.8;
  font-size: 19px;
}
.section-template-list .contents__top h4 {
  font-size: 18px;
}

.section-template-list .contents__top p {
  font-size: 15px;
  line-height: 1.5;
}

.section-template-list .contents__top .btms__content {
  margin-top: 25px;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
}

.section-template-list .contents__main p.network__content {
  line-height: 1.7;
  font-weight: 300;
  font-size: 14px;
}
.section-template-list .contents__main .contact__subTitle {
  font-size: 16px;
}
.section-template-list .contents__main .contact__subContact {
  font-size: 11px;
}
.section-template-list .contents__main .contact__subContact--content {
  opacity: 0.7;
}

.section-template-list .contents__main .gbt__list .gbt__item {
  position: relative;
  padding-left: 6px;
  font-size: 14px;
  font-weight: 300;
  margin-top: 3px;
}
.section-template-list .contents__main .gbt__list .gbt__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 50%;
}

.contents__top .mice-portfolio__header {
  padding: 40px 0 35px;
  text-align: center;
}

.contents__top .mice-portfolio__header h2 {
  font-weight: 900;
  color: #ed1c24;
}

.section-template-list .contents__top .mice-comp .comp-year-title {
  display: inline-block;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
}

.section-template-list .contents__top .mice-comp .comp-list {
  display: flex;
  justify-content: space-between;
}

.section-template-list .contents__top .mice-comp .comp-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-template-list .contents__top .mice-comp .comp-list li .comp-title {
  font-size: 12px;
  font-weight: 700;
}
.section-template-list .contents__top .mice-comp .comp-list li strong {
  font-size: 25px;
}

.section-template-list .contents__main {
  margin-top: 50px;
  margin-bottom: 65px;
  color: white;
  z-index: 2;
}

.contents__main .service__list .service__item {
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  padding: 40px 30px;
  min-height: 240px;
  cursor: pointer;
}

.contents__main .service__list .service__item:not(:last-child) {
  margin-bottom: 15px;
}

.contents__main .service__list .service__item.service01 {
  background-image: url("../../img/mice/img_mice_bg08.png");
}
.contents__main .service__list .service__item.service02 {
  background-image: url("../../img/mice/img_mice_bg09.png");
}
.contents__main .service__list .service__item.service03 {
  background-image: url("../../img/mice/img_mice_bg10.png");
}
.contents__main .service__list .service__item.service04 {
  background-image: url("../../img/mice/img_mice_bg11.png");
}
.contents__main .service__list .service__item.service05 {
  background-image: url("../../img/mice/img_mice_bg12.png");
}

.contents__main .service__list .service__item .service__title {
  font-size: 20px;
  color: white;
}

.contents__main .service__list .service__item ul li {
  position: relative;
  padding-left: 13px;
  color: white;
}
.contents__main .service__list .service__item ul li:not(:last-child) {
  margin-bottom: 3px;
}

.contents__main .service__list .service__item ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%s);
  width: 4px;
  height: 1px;
  background-color: white;
}

.contents__main .service__list .service__item ul .no-bullet {
  padding-left: 0;
}

.contents__main .service__list .service__item ul .no-bullet::before {
  width: 0;
  height: 0;
}

.section-template-list .contents__main .belong-maps {
  position: relative;
  max-width: 266px;
  margin: 0 auto;
}

.belong-maps > button {
  position: absolute;
  top: 0;
  z-index: 10;
  color: #fff;
  font-size: 10px;
  display: flex;
  align-items: flex-start;
}

.belong-maps .links-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-out;
  opacity: 0;
}

.belong-maps > button.on + .links-img,
.belong-maps > button:hover + .links-img {
  opacity: 1;
}

.belong-maps .links-map1 {
  top: 58px;
  left: 15px;
}
.belong-maps .links-map2 {
  top: 21px;
  left: 15px;
}
.belong-maps .links-map3 {
  top: 92px;
  left: 15px;
}
.belong-maps .links-map4 {
  top: 124px;
  left: 15px;
}
.belong-maps .links-map5 {
  top: 82px;
  right: 12px;
}
.belong-maps .links-map6 {
  top: 117px;
  right: 12px;
}
.belong-maps .links-map7 {
  top: 204px;
  right: 12px;
}

.section-template-list .contents__main .tab-panel.min-height1 {
  min-height: 1350px;
}

.section-template-list .contents__main .tab-panel.min-height2 {
  min-height: 885px;
}

.section-template-list .contents__main h2 {
  color: #ff8133;
  font-size: 25px;
}

.section-template-list .contents__main .btms__content {
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.5;
}

.section-template-list .contents__main .text-list {
  margin-top: 15px;
  margin-bottom: 34px;
}
.section-template-list .contents__main .text-list > li {
  display: flex;
  font-size: 14px;
  font-weight: 300;
}
.section-template-list .contents__main .text-list > li::before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin: auto 0;
  margin-right: 5px;
  background-color: white;
}
.section-template-list .contents__main .text-list > li:not(:first-child) {
  margin-top: 10px;
}

.section-template-list .contents__main .move-box,
.section-template-list .contents__main .flash-box {
  position: relative;
  display: flex;
}

.section-template-list .contents__main .move-box.hm__box {
  display: block;
}

.inner__bg {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 45px 20px;
}
.inner__bg2 {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 30px 15px;
}
.inner__bg3 {
  background-color: rgba(247, 248, 250, 1);
  padding: 0 25px 30px;
}
.inner__bg4 {
  background-color: white;
  padding: 0 20px;
}
.inner__bg-nopad {
  background-color: rgba(0, 0, 0, 0.1);
}

.service__contact .contact__title {
  font-weight: 900;
}

.service__contact .contact__desc {
  display: flex;
  align-items: center;
}

.service__contact .contact__desc span {
  position: relative;
  min-width: 62px;
  vertical-align: center;
}

.service__contact .contact__desc .contact__desc-label {
  margin-right: 15px;
}

.service__contact .btn {
  display: block;
}

.service__contact .btn .btns-line1 {
  color: inherit;
}

.service__contact .contact__desc .contact__desc-label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 70%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

.section-template-list .contents__main .hm__cost-saving > img {
  display: block;
  max-width: 236px;
  margin: 0 auto;
}

.section-template-list .contents__main .hm__cost-saving .link__container {
  max-width: 236px;
  margin: 0 auto;
}
.section-template-list .contents__main .hm__cost-saving .txt-link {
  display: inline-block;
  color: white;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  margin-left: 40px;
  font-size: 11px;
  font-family: noto;
}
.section-template-list .contents__main .hm__cost-saving .link__desc {
  font-size: 11px;
  opacity: 0.5;
  text-align: center;
  font-weight: 300;
}

.section-template-list .contents__main .hotel__table,
.section-template-list .contents__main .qna__table {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 2px solid white;
  border-bottom: 1px solid white;
}

.section-template-list .contents__main .qna__table {
  border-bottom: none;
}

.section-template-list
  .contents__main
  .hotel__table
  .hotel__table-row
  .table__label,
.section-template-list
  .contents__main
  .hotel__table
  .hotel__table-row
  .table__content {
  padding: 7px;
  font-weight: 300;
}

.section-template-list
  .contents__main
  .hotel__table
  .hotel__table-row
  .table__content {
  width: 100%;
}

.section-template-list .contents__main .hotel__table .hotel__table-row,
.section-template-list .contents__main .qna__table .qna__table-row {
  display: flex;
}

.section-template-list
  .contents__main
  .hotel__table
  .hotel__table-row:not(last-child),
.section-template-list .contents__main .qna__table .qna__table-row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.section-template-list
  .contents__main
  .qna__table
  .qna__table-row
  .table__label {
  display: flex;
  align-items: center;
  margin-left: 20px;
  min-width: 55px;
  font-size: 13px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: 300;
}

.section-template-list .contents__main .qna__table .qna__table-row input,
.section-template-list .contents__main .qna__table .qna__table-row textarea {
  vertical-align: center;
  margin: 7px;
  font-size: 13px;
  font-weight: 300;
  padding: 0px 10px;
  border: none;
  background-color: rgba(93, 93, 93, 1);
  color: rgba(255, 255, 255, 0.8);
  height: 40px;
}

.section-template-list .contents__main .qna__table .qna__table-row textarea {
  padding-top: 10px;
  min-height: 190px;
}

.section-template-list
  .contents__main
  .hotel__table
  .hotel__table-row
  .table__label {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  font-size: 11px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.section-template-list
  .contents__main
  .hotel__table
  .hotel__table-row
  .table__content {
  font-size: 10px;
}

.section-template-list
  .contents__main
  .hotel__table
  .hotel__table-row
  .table__summary {
  width: 100%;
  font-size: 12px;
  font-weight: 900;
  text-align: center;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.1);
}

.section-template-list .contents__main .qna__accord {
  position: relative;
  border: 1px solid white;
}

.section-template-list .contents__main .qna__accord label {
  position: relative;
  margin: 10px;
  font-size: 14px;
  color: white;
  font-family: noto;
  font-weight: 300;
  display: flex;
  align-items: center;
  min-height: 25px;
}

input[type="checkbox"] + label:before {
  background: none;
}
.section-template-list
  .contents__main
  .qna__accord
  input[type="checkbox"]
  + label::before {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.section-template-list
  .contents__main
  .qna__accord
  input[type="checkbox"]:checked
  + label::before {
  background-color: #ed1c24;
}
.section-template-list .contents__main .qna__accord label .check__icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-template-list .contents__main .qna__accord label .check__icon img {
  width: 50%;
}

.section-template-list .contents__main .qna__accord label span {
  margin-left: 5px;
}

.section-template-list .contents__main .qna__accord .accor-content {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 15px;
}

.section-template-list
  .contents__main
  .qna__accord
  .accor-content
  .agree__list {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.section-template-list
  .contents__main
  .qna__accord
  .accor-content
  .agree__list
  .agree__item {
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 10px;
  margin: 0 3px;
}

.section-template-list
  .contents__main
  .qna__accord
  .accor-content
  .agree__list
  .agree__item:not(:last-child) {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}

.section-template-list
  .contents__main
  .qna__accord
  .accor-content
  .agree__list
  .agree__item
  .agree__title {
  font-size: 13px;
}

.section-template-list
  .contents__main
  .qna__accord
  .accor-content
  .agree__list
  .agree__item
  .agree__content {
  font-size: 12px;
  font-weight: 300;
}

.section-template-list
  .contents__main
  .qna__accord
  .accor-content
  .agree__list
  .agree__item
  .red-important {
  color: #ed1c24;
  font-weight: 900;
}

.section-template-list
  .contents__main
  .qna__accord
  .accor-content
  .agree__desc {
  padding: 5px;
  font-weight: 300;
  font-size: 13px;
}

.section-template-list .contents__main .qna__contact .qna__contact-item {
  display: flex;
  align-items: center;
}

.section-template-list .contents__main .qna__contact .qna__contact-item img {
  width: 22px;
}

.section-template-list .contents__main .qna__contact .qna__contact-item p {
  margin-left: 7px;
}

.section-template-list .contents__main .move-box .top__zone {
  position: relative;
  padding: 0 10px;
}

.section-template-list .contents__main .move-box .top__zone .bg__container img {
  display: block;
  width: 100%;
  max-width: 206px;
  margin: 0 auto;
}

.section-template-list .contents__main .move-box .top__zone .hm__list {
  position: absolute;
  left: 50%;
  top: 50%;
}

.section-template-list
  .contents__main
  .move-box
  .top__zone
  .hm__list
  .hm__item.on {
  transition: opacity 0.5s ease-out;
}

.section-template-list
  .contents__main
  .move-box
  .top__zone
  .hm__list
  .hm__item
  div {
  font-size: 10px;
  font-weight: 300;
  color: black;
  position: absolute;
}

.section-template-list
  .contents__main
  .move-box
  .top__zone
  .hm__list
  .hm__item
  .hm__item01 {
  background-image: url("../../img/hotelManagement/ico_hm_img01.png");
  background-size: contain;
  background-position: center center;
  width: 39px;
  height: 36px;
  padding-left: 9px;
  display: flex;
  align-items: center;
  left: -117px;
  top: 32px;
}

.section-template-list
  .contents__main
  .move-box
  .top__zone
  .hm__list
  .hm__item
  .hm__item02 {
  background-image: url("../../img/hotelManagement/ico_hm_img02.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 38px;
  height: 37px;
  padding-left: 9px;
  display: flex;
  align-items: center;
  left: -107px;
  top: -22px;
}
.section-template-list
  .contents__main
  .move-box
  .top__zone
  .hm__list
  .hm__item
  .hm__item03 {
  background-image: url("../../img/hotelManagement/ico_hm_img03.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 37px;
  height: 37px;
  padding-left: 9px;
  display: flex;
  align-items: center;
  left: -70px;
  top: -68px;
}
.section-template-list
  .contents__main
  .move-box
  .top__zone
  .hm__list
  .hm__item
  .hm__item04 {
  background-image: url("../../img/hotelManagement/ico_hm_img04.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 35px;
  height: 38px;
  padding-left: 4px;
  display: flex;
  align-items: center;
  left: -18px;
  top: -83px;
}
.section-template-list
  .contents__main
  .move-box
  .top__zone
  .hm__list
  .hm__item
  .hm__item05 {
  background-image: url("../../img/hotelManagement/ico_hm_img05.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 38px;
  height: 39px;
  padding-left: 9px;
  display: flex;
  align-items: center;
  left: 32px;
  top: -68px;
}
.section-template-list
  .contents__main
  .move-box
  .top__zone
  .hm__list
  .hm__item
  .hm__item06 {
  background-image: url("../../img/hotelManagement/ico_hm_img06.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 39px;
  height: 38px;
  padding-left: 7px;
  display: flex;
  align-items: center;
  left: 67px;
  top: -22px;
}
.section-template-list
  .contents__main
  .move-box
  .top__zone
  .hm__list
  .hm__item
  .hm__item07 {
  background-image: url("../../img/hotelManagement/ico_hm_img07.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 39px;
  height: 38px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  left: 78px;
  top: 32px;
}

.section-template-list
  .contents__main
  .move-box
  .bottom__zone
  .bottom__zone-title {
  display: block;
  font-size: 18px;
}

.section-template-list .contents__main .move-box .bottom__zone .advisors__list {
  position: relative;
}

.section-template-list
  .contents__main
  .move-box
  .bottom__zone
  .advisors__list::before {
  content: "";
  display: block;
  position: absolute;
  left: 11px;
  top: 0;
  width: 3px;
  height: 85%;
  background-color: #8d8d8d;
}

.section-template-list
  .contents__main
  .move-box
  .bottom__zone
  .advisors__list
  .advisors__item {
  position: relative;
  display: flex;
  padding-left: 40px;
  padding-top: 3px;
}

.section-template-list
  .contents__main
  .move-box
  .bottom__zone
  .advisors__list
  .advisors__item.on::before {
  background-color: #ed1c24;
}

.section-template-list
  .contents__main
  .move-box
  .bottom__zone
  .advisors__list
  .advisors__item.on
  .advisors__item-column:first-child {
  color: #ffbc3d;
}

.section-template-list
  .contents__main
  .move-box
  .bottom__zone
  .advisors__list
  .advisors__item::before {
  content: "" attr(data-num);
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #8d8d8d;
  color: #fff;
  font-family: notoBL;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.section-template-list
  .contents__main
  .move-box
  .bottom__zone
  .advisors__list
  .advisors__item-column:first-child {
  white-space: nowrap;
  margin-right: 13px;
  min-width: 55px;
}

.section-template-list
  .contents__main
  .move-box
  .bottom__zone
  .advisors__list
  .advisors__item-column:last-child {
  font-weight: 300;
  font-size: 13px;
  opacity: 0.8;
  width: 100%;
}

.section-template-list
  .contents__main
  .move-box
  .bottom__zone
  .advisors__list
  .advisors__item
  ul
  li {
  position: relative;
  padding-left: 8px;
  width: 100%;
}
.section-template-list
  .contents__main
  .move-box
  .bottom__zone
  .advisors__list
  .advisors__item
  ul
  li::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 50%;
}

.section-template-list .contents__main .imgs.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  left: 0;
  top: 0;
}

.section-template-list .contents__main .flash-box .imgs.left {
  width: 100%;
  display: flex;
  align-content: center;
  position: absolute;
  left: 29px;
  top: 0;
}

.section-template-list .contents__main .move-box .imgs .img-obt-bg {
  margin-top: 70px;
  width: 200px;
  align-self: flex-start;
}

.section-template-list .contents__main .flash-box .imgs .img-btms-bg {
  align-self: flex-start;
  width: 18px;
}

.section-template-list .contents__main .move-box .steps,
.section-template-list .contents__main .move-box .step {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section-template-list .contents__main .move-box .steps.ac,
.section-template-list .contents__main .move-box .step.ac {
  align-items: center;
}

.section-template-list .contents__main .flash-box .steps li .icon__rect {
  width: 75px;
  height: 75px;
  min-width: 75px;
  min-height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8d8d8d;
  transition: all 0.4s ease-out;
}
.section-template-list
  .contents__main
  .flash-box
  .steps
  li
  .icon__rect
  .icon__img {
  min-width: 30px;
  width: 30px;
  opacity: 0.7;
}

.section-template-list .contents__main .flash-box .steps li.on .icon__rect {
  background-color: #ed1c24;
}

.section-template-list
  .contents__main
  .flash-box
  .steps
  li.on
  .icon__rect
  .icon__img {
  opacity: 1;
}

.section-template-list .contents__main .flash-box .steps.ab-left {
  width: auto;
  position: absolute;
  left: 0;
  top: 55px;
}
.section-template-list .contents__main .flash-box .steps.ab-left.top-zero {
  top: 0;
}

.section-template-list .contents__main .flash-box .steps.ab-left li {
  display: flex;
  align-items: center;
}

.section-template-list
  .contents__main
  .flash-box
  .steps.ab-left
  li
  .icon__column {
  margin-left: 15px;
  max-height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.section-template-list
  .contents__main
  .flash-box
  .steps.ab-left
  li
  .icon__column
  span {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 700;
  color: white;
}

.section-template-list
  .contents__main
  .flash-box
  .steps.ab-left
  li
  .icon__column
  p {
  display: none;
  opacity: 0;
  font-size: 13px;
  font-weight: 300;
}

.section-template-list
  .contents__main
  .flash-box
  .steps.ab-left
  li.on
  .icon__column
  span {
  color: #ffbc3d;
}

.section-template-list
  .contents__main
  .flash-box
  .steps.ab-left
  li.on
  .icon__column
  p {
  display: block;
  opacity: 1;
}

.section-template-list .contents__main .move-box .steps .step {
  opacity: 0;
  transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  transition: all 0.4s ease-out;
}
.section-template-list .contents__main .move-box .steps .step.on {
  opacity: 1;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}

.section-template-list .contents__main .move-box .steps.ab-left .step {
  margin: 0;
}

.section-template-list .contents__main .move-box .steps .step img {
  height: 120px;
}

.section-template-list .contents__main .move-box .steps .step p {
  font-size: 14px;
  font-weight: 300;
  width: 100%;
}

.section-template-list .contents__main .move-box .steps .step .flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-template-list .contents__main .move-box .steps .step .white__box {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 30px 80px 30px;
}

.section-template-list
  .contents__main
  .move-box
  .steps
  .step
  .white__box
  .icon {
  position: absolute;
  right: 23px;
  bottom: 23px;
  width: 60px;
}

.section-template-list
  .contents__main
  .move-box
  .steps
  .step
  .white__box
  .red__title {
  color: #ed1c24;
  font-size: 14px;
  font-weight: 900;
}

.section-template-list
  .contents__main
  .move-box
  .steps
  .step
  .white__box
  .box__list {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.section-template-list
  .contents__main
  .move-box
  .steps
  .step
  .white__box
  .box__list
  .box__item {
  font-size: 18px;
  text-align: left;
  width: 100%;
}

.section-template-list .contents__main .move-box .steps .step .flex__box {
  display: flex;
  align-items: flex-start;
}
.section-template-list .contents__main .move-box .steps .step .checkbox__img {
  width: 17px;
  height: auto;
  margin-right: 10px;
}

.section-template-list .contents__main .move-box.bt__cost-saving {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-template-list .contents__main .move-box.bt__cost-saving .flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  left: -15px;
}

.section-template-list .contents__main .move-box.bt__cost-saving img {
  width: 250px;
  max-width: 250px;
  height: auto;
}
.section-template-list .contents__main .move-box.bt__cost-saving .steps {
  width: 250px;
  max-width: 250px;
}
.section-template-list
  .contents__main
  .move-box.bt__cost-saving
  .steps
  li:nth-child(1) {
  position: relative;
  top: -135px;
}
.section-template-list
  .contents__main
  .move-box.bt__cost-saving
  .steps
  li:nth-child(2) {
  position: relative;
  top: -85px;
  left: -10px;
}
.section-template-list
  .contents__main
  .move-box.bt__cost-saving
  .steps
  li:nth-child(3) {
  position: relative;
  top: -50px;
  left: -20px;
}
.section-template-list
  .contents__main
  .move-box.bt__cost-saving
  .steps
  li:nth-child(4) {
  position: relative;
  left: -30px;
}
.section-template-list
  .contents__main
  .move-box.bt__cost-saving
  .steps
  li
  span {
  white-space: nowrap;
  text-align: center;
}

.section-template-list .contents__main .banner__imgs .imgs__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.section-template-list .contents__main .banner__imgs .imgs__row img {
  width: calc(50% - 5px);
}

.section-template-list .contents__main .tablist {
  font-size: 0;
  border: 1px solid white;
  border-radius: 2px;
}

.section-template-list .contents__main .tablist li {
  display: inline-block;
  width: 50%;
}

.section-template-list .contents__main .tablist li:nth-child(2n) {
  border-left: 1px solid white;
}

.section-template-list .contents__main .tablist li:nth-child(3) {
  border-top: 1px solid white;
}
.section-template-list .contents__main .tablist li:nth-child(4) {
  border-top: 1px solid white;
}

.section-template-list .contents__main .tablist li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  background-color: none;
  color: rgba(255, 255, 255, 0.4);
}

.section-template-list .contents__main .tablist li a[aria-selected="true"] {
  background-color: white;
  color: #5c5c5d;
  border-right: 0;
  font-weight: 900;
}

.section-template-list .contents__main.cti__main {
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 0 !important;
  padding: 30px 0 35px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.section-template-list .contents__main.cti__main h2 {
  text-align: center;
}

.section-template-list .contents__main.cti__main .steps li {
  margin: 0 !important;
}

.section-template-list .contents__main.cti__main .steps li.target img {
  width: 88px;
  height: auto;
}

.section-template-list .contents__main.cti__main .steps li.arrow {
  opacity: 0.8 !important;
}

.section-template-list .contents__main.cti__main .steps li.arrow01 img {
  height: 40px;
  width: auto;
}
.section-template-list .contents__main.cti__main .steps li.arrow02 img {
  height: 58px;
  width: auto;
  position: relative;
  right: -3px;
}

.section-template-list .contents__main.cti__main .steps li.arrow03 img {
  height: 68px;
  width: auto;
  position: relative;
  right: -3px;
}

.section-template-list .contents__main .tab-panel.bt__tab .target {
  margin: 0;
}
.section-template-list .contents__main .tab-panel.bt__tab .target img {
  max-width: 266px;
  width: 100%;
  height: auto;
  align-self: flex-start;
}

.section-template-list .contents__main .tab-panel.bt__tab img.blink__box-1st {
  position: absolute;
  height: 215px;
  width: auto;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-template-list .contents__main .tab-panel.bt__tab img.blink__box-blink {
  margin: 0 auto;
  animation: blink 0.2s 1s ease-in-out infinite alternate;
}

.section-template-list .contents__main .tab-panel.bt__tab .blink__box {
  position: relative;
  display: flex;
}

.section-template-list .contents__main .tab-panel.bt__tab .tab__bottom p {
  font-size: 13px;
  font-weight: 300;
}

.contents__main .tab-panel .list__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}
.contents__main .tab-panel .list__container .list__container-title {
  font-size: 16px;
  font-weight: 500;
}

.contents__main .tab-panel .list__container .list__item {
  font-size: 14px;
  font-weight: 300;
  position: relative;
  padding-left: 8px;
  opacity: 0.8;
}

.contents__main .tab-panel .list__container .list__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%s);
  width: 3px;
  height: 1px;
  background-color: white;
}

.section-template-list .contents__bottom {
  z-index: 2;
}

.section-template-list .contents__bottom h4,
.section-template-list .contents__bottom p {
  color: white;
  margin: 0;
}

.section-template-list-nopad .tab-panel {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.tab-panel .bt__header,
.tab-panel .bt__content {
  line-height: 1.5;
  font-weight: 300;
}

.contents-inner .inner-title {
  font-size: 28px;
  font-weight: 900;
}

.section-template-list-nopad .img-mice-bg02 {
  padding: 70px 25px 45px 25px;
  background-image: url("../../img/mice/img_mice_bg02.png");
  background-size: cover;
  background-position: center;
}

.section-template-list-nopad .img-mice-bg02 h3 {
  font-weight: 900;
  line-height: 1.5;
}
.section-template-list-nopad .img-mice-bg02 p {
  font-size: 16px;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1; /* hide images */
  content: url("../../img/mice/img_mice_bg03.png")
    url("../../img/mice/img_mice_bg04.png")
    url("../../img/mice/img_mice_bg05.png")
    url("../../img/mice/img_mice_bg06.png"); /* load images */
}

.section-template-list-nopad .img-mice-bg03 {
  background-image: url("../../img/mice/img_mice_bg03.png");
  background-size: cover;
  background-position: center;
}
.section-template-list-nopad .img-mice-bg04 {
  background-image: url("../../img/mice/img_mice_bg04.png");
  background-size: cover;
  background-position: 35% top;
}

.section-template-list-nopad .img-mice-bg05 {
  background-image: url("../../img/mice/img_mice_bg05.png");
}
.section-template-list-nopad .img-mice-bg06 {
  background-image: url("../../img/mice/img_mice_bg06.png");
}

.section-template-list-nopad .contents__mice .cont-list .cont-list__row {
  display: flex;
  justify-content: center;
}
.section-template-list-nopad
  .contents__mice
  .cont-list
  .cont-list__row
  .icon__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.icon__container img {
  width: 160px;
}

.icon__container span {
  font-size: 14px;
  font-weight: 900;
  text-align: center;
}

.mice-cont03 .tab-float h3 {
  font-size: 26px;
}

.mice-cont03 .tab-float .tab-ty5 {
  margin-bottom: 35px;
}

.mice-cont03 .tab-float .tab-ty5 .tablist-mice {
  display: flex;
  width: 100%;
}

.mice-cont03 .tablist-mice li {
  width: 100%;
  text-align: center;
  display: inline-box;
}

.mice-cont03 .tablist-mice li a {
  font-family: inherit;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  line-height: 1.5;
  height: 100%;
  border-bottom: 1px solid #fff;
  font-weight: 400;
  opacity: 0.8;
}

.mice-cont03 {
  position: relative;
}

.mice-cont03 .tab-float {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.mice-cont03 .tablist-mice li a[aria-selected="true"] {
  opacity: 1;
  border: 1px solid #fff;
  border-bottom: none;
}

.mice-cont03 .tab-panel {
  padding: 270px 27px 100px;
  color: white;
  display: none;
}

.mice-cont03 .tab-panel a {
  font-family: noto;
  font-weight: 700;
}

.mice-cont03 .tab-panel.on {
  display: block;
}

.mice-cont03 .tab-panel h3 {
  font-size: 26px;
  font-weight: 900;
}

.mice-cont03 .tab-panel ul li {
  font-size: 14px;
  font-weight: 300;
  position: relative;
  padding-left: 8px;
  opacity: 0.8;
}

.mice-cont03 .tab-panel ul li:not(:first-child) {
  margin-top: 5px;
}

.mice-cont03 .tab-panel ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%s);
  width: 3px;
  height: 1px;
  background-color: white;
}

.layer {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-family: noto;
}
.layer p {
  margin: 0;
}
.layer__inner {
  position: absolute;
  background-color: white;
  margin: 0 17px;
  padding: 20px;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.layer__inner2 {
  position: absolute;
  background-color: white;
  margin: 17px;
  top: 0;
  left: 0;
  right: 0;
}

.layer__inner .layer__head,
.layer__inner2 .layer__head {
  line-height: 0.7;
}
.layer__inner .layer__head .layer__title strong,
.layer__inner2 .layer__head .layer__title strong {
  font-size: 20px;
}

.layer__inner .layer__cont {
  background-color: #f8f9fa;
  padding: 25px;
}
.layer__inner .layer__cont2 {
  background-color: #f8f9fa;
  padding: 20px 10px;
}
.layer__inner .layer__cont .fortune__layer {
  text-align: center;
  font-size: 13px;
}

.layer__inner .layer__cont .fortune__layer .block {
  display: block;
  font-size: 14px;
  font-weight: 900;
}

.layer__inner .layer__cont2 .contact__layer {
  font-size: 14px;
}
.layer__inner .layer__cont2 .contact__layer .contact__title {
  font-weight: 900;
}
.layer__inner .layer__cont2 .contact__layer .contact__address {
  font-size: 12px;
  line-height: 1.7;
}

.layer__inner2 .layer__head {
  padding: 20px;
}

.layer__inner2 .layer__cont {
  padding: 0;
}

.layer .layer-swipe-area {
  margin: 0;
}

.layer .layer-swipe-area .info-box {
  padding: 20px 20px;
}
.layer .layer-swipe-area .info-box .tit {
  font-size: 16px;
}

.layer .layer-swipe-area .layer-swipe {
  height: auto;
  max-height: 70vh;
}

.layer .layer-swipe-area .layer-swipe .slick-dots {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
}

.layer .layer-swipe-area .info-box .detail-list,
.layer .layer-swipe-area .info-box .detail-list .lists-dash {
  margin-top: 10px;
}

.layer
  .layer-swipe-area
  .info-box
  .detail-list
  .lists-dash
  li:not(:last-child) {
  margin-bottom: 10px;
}

.layer.mice .mice-swipe .slick-prev {
  width: 34px;
  height: 34px;
  top: 50%;
  transform: translateY(-50%);
  left: 27px;
  background-image: url(../../img/btn/btn_swipe_prev.png);
  background-size: cover;
  color: transparent;
  position: fixed;
  z-index: 2;
}
.layer.mice .mice-swipe .slick-next {
  width: 34px;
  height: 34px;
  top: 50%;
  transform: translateY(-50%);
  right: 27px;
  background-image: url(../../img/btn/btn_swipe_next.png);
  background-size: cover;
  color: transparent;
  position: fixed;
  z-index: 2;
}
