/* overriding.css v1.0 | 2020.04.18 | UX/UI, HyunHyun Lee */

/* Fonts 
====================================================================*/
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 300;
	src: url('../../inc/font/NotoSansCJKkr-Light.eot');
	src: local(☺),
	    url('../../inc/font/NotoSansCJKkr-Light.woff') format('woff');
}
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 400;
	src: url('../../inc/font/NotoSansCJKkr-Regular.eot');
	src: local(☺),
		url('../../inc/font/NotoSansCJKkr-Regular.woff') format('woff');
}
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 500;
	src: url('../../inc/font/NotoSansCJKkr-Medium.eot');
	src: local(☺),
		url('../../inc/font/NotoSansCJKkr-Medium.woff') format('woff');
}
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 700;
	src: url('../../inc/font/NotoSansCJKkr-Bold.eot');
	src: local(☺),
		url('../../inc/font/NotoSansCJKkr-Bold.woff') format('woff');
}
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 300;
	src: url('../../inc/font/Roboto-Light.eot');
	src: local(☺),
        url('../../inc/font/Roboto-Light.woff') format('woff');
    unicode-range: U+0020-007E;
}
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 400;
	src: url('../../inc/font/Roboto-Regular.eot');
	src: local(☺),
		url('../../inc/font/Roboto-Regular.woff') format('woff');
    unicode-range: U+0020-007E;
}
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 500;
	src: url('../../inc/font/Roboto-Medium.eot');
	src: local(☺),
		url('../../inc/font/Roboto-Medium.woff') format('woff');
    unicode-range: U+0020-007E;
}
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 700;
	src: url('../../inc/font/Roboto-Bold.eot');
	src: local(☺),
		url('../../inc/font/Roboto-Bold.woff') format('woff');
    unicode-range: U+0020-007E;
}

/* Main 
====================================================================*/
a:focus,
a:hover {
    text-decoration: none;
}
.wrap {
    position: relative;
    overflow-y: auto;
}
.wrap-inr {
    padding-bottom: 0;
}
.header {
    position: absolute;
    height: 60px;
    background-color: rgba(51, 51, 51, 0.1);
}
.header .header-inr {
    position: relative;
    height: 60px;
    border-bottom: 1.11803px solid rgba(255, 255, 255, 0.35);
}
.header h1 {
    height: 60px;
    margin: 0;
    padding-top: 18px;
}
.header h1 a {
    height: 24px;
    background: url("../../img/main/logo_redcap.png") no-repeat;
    background-size: contain;
}
.header h1 a img {
    visibility: hidden;;
}
.header .btn-menu {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}
.header .btn-menu span {
    position: static;
    left: auto;
    width: 16px;
    height: 2px;
    margin: 2px 0;
    border-radius: 1px;
}
.main {
    height: auto;
}
.navbar {
    position: fixed;
    top: 120px;
    left: 30px;
    z-index: 1;
}
.navbar.affix {
    position: fixed;
    top: 40px;
}
.navbar li {
    margin: 8px 0;
}
.navbar li a {
    width: 25px;
    height: 25px;
    padding: 0;
    text-indent: -9999px;
    background: url("../../img/main/sprites_quicklink.png") no-repeat;
}
.navbar li a:hover,
.navbar li a:focus {
    background-color: transparent;
}
.navbar li .link-home {
    background-position: -7px -191px;
}
.navbar.affix-top li .link-home {
    background-position: -10px -521px;
}
.navbar li .link-biztravel {
    background-position: -7px -115px;
}
.navbar.affix-top li .link-biztravel {
    background-position: -11px -388px;
}
.navbar li.active .link-biztravel {
    background-position: -7px -153px;
}
.navbar li .link-rentacar {
    background-position: -8px -5px;
}
.navbar.affix-top li .link-rentacar {
    background-position: -12px -345px;;
}
.navbar li.active .link-rentacar {
    background-position: -8px -40px;
}
.navbar li .link-mice {
    background-position: -7px -229px;
}
.navbar.affix-top li .link-mice {
    background-position: -10px -431px;
}
.navbar li.active .link-mice {
    background-position: -7px -267px;
}
.navbar li .link-tour {
    background-position: -7px -305px;
}
.navbar.affix-top li .link-tour {
    background-position: -9px -476px;
}
.navbar li.active .link-tour {
    background-position: -7px -77px;
}
.section-intro {
    position: relative;
    height: 640px;
}
.section-intro h2 {
    position: relative;
    top: 446px;
    left: 21px;
    margin: 0;
    font-family: noto;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.8px;
    color: #FFFFFF;
}
.section-intro p {
    position: relative;
    top: 456px;
    left: 20px;
    font-family: noto;
    font-weight: 300;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: -0.8px;
    color: #FFFFFF;
}
.section-intro p em {
    font-weight: 700;
    background: -webkit-linear-gradient(#F37021, #EE1E24);
    background:    -moz-linear-gradient(#F37021, #EE1E24);
    background:      -o-linear-gradient(#F37021, #EE1E24);
    background:         linear-gradient(#F37021, #EE1E24);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
}
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .section-intro p em {
        color: #EA1313;
        background: transparent;
    }
}
.section-intro img {
    max-width: none;
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(50% - 780px);
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 12s;
}
@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
.img-intro02 {
    animation-delay: -8s;
    -webkit-animation-delay: -8s;
}
.img-intro03 {
    animation-delay: -4s;
    -webkit-animation-delay: -4s;
}
.ico-scroll {
    position: absolute;
    left: calc(50% - 25px);
    bottom: 0;
    width: 50px;
    height: 70px;
}
.ico-scroll:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 35px;
    animation-name: scroll;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
    background: url("../../img/main/chevron_down.png") no-repeat center;
}
@keyframes scroll {
    0%   {bottom: 16px;}
    40%  {bottom: 9px;}
    100% {bottom: 16px;}
}
.section-inner {
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
    height: 100%;
    z-index: 1;
}
.section-list {
    height: 610px;
    background-color: #ffffff;
}
.section-list .section-inner {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.section-list:nth-child(2n-1) {
    background-color: #FAFAFA;
}
.section-image {
    position: absolute;
    top: 220px;
    padding: 0 10px;
}
.section-image img {
    max-height: 230px;
}
.section-text {
    position: absolute;
    top: 70px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.section-list h3 {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#F37021, #EE1E24);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-list p {
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.8px;
    color: #333333;
}
.section-list p b {
    font-weight: 700;
}
.section-list a {
    position: absolute;
    top: 380px;
    display: inline-block;
    height: 49px;
    margin-top: 50px;
    padding: 0 34px 0 20px;
    border: 1.5px solid rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 47px;
    letter-spacing: -0.8px;
    color: #444444;
    white-space: nowrap;
}
.section-list a:after {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    width: 11px;
    height: 14px;
    background: url("../../img/main/chevron_right_grey.png") no-repeat center;
}
.footer {
    position: relative;
    margin: 0;
    height: 250px;
    border: none;
    text-align: left;
}
.footer .footer-inr {
    position: relative;
    height: 100%;
    padding: 40px 20px;
    background-color: #ffffff;
}
.footer .contact span,
.footer .copyright {
    position: relative;
    margin-right: 16px;
    font-family: noto;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.5px;
    color: #999999;
    opacity: 1;
}
.footer .copyright {
    display: none;
}
.footer .contact span.fc-darkgrey {
    font-weight: 700;
    color: #444444;
}
.footer .contact span.fc-red {
    color: #E85256;
}
.footer .contact a {
    font-family: noto;
    font-weight: 400;
    color: #999999;
}
.footer .contact span a.fc-grey {
    font-weight: 500;
    color: #555555;
}
.bar-left:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -8px;
    width: 1px;
    height: 14px;
    background-color: #cccccc;
}
.footer .right {
    margin-top: 36px;
}
.footer .sns {
    margin: 0;
}
.footer .sns li {
    float: left;
    margin: 0 20px 0 0;
}
.footer .sns li[class^='list'] a {
    display: block;
    text-indent: -9999px;
    background: url("../../img/main/sprites_sns.png") no-repeat;
}
.footer .sns li.list1 a {
    width: 29px;
    height: 24px;
    background-position: -10px -308px;
}
.footer .sns li.list1 a:hover {
    background-position: -9px -135px;
}
.footer .sns li.list2 a {
    width: 24px;
    height: 24px;
    background-position: -9px -264px;
}
.footer .sns li.list2 a:hover {
    background-position: -3px -93px;
}
.footer .sns li.list3 a {
    width: 24px;
    height: 24px;
    background-position: -10px -220px;
}
.footer .sns li.list3 a:hover {
    background-position: -4px -51px;
}
.footer .sns li.list4 a {
    width: 24px;
    height: 24px;
    background-position: -10px -352px;
}
.footer .sns li.list4 a:hover {
    background-position: -4px -177px;
}
.footer .sns li.list5 a {
    width: 24px;
    height: 24px;
    background-position: -10px -396px;
}
.footer .sns li.list5 a:hover {
    background-position: -9px -9px;
}
.scrolltop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #5B575B;
    text-indent: -9999px;
    z-index: 10;
}
.scrolltop:before {
    content: "";
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    width: 24px;
    height: 24px;
    background: url("../../img/main/arrow_up.png") no-repeat center;
}