@charset "utf-8";

/* INITIALIZE */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0;padding:0;border:0;font-weight:normal;box-sizing:border-box}
html,body {width:100%}
html {overflow-y:scroll;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased}
body {-webkit-text-size-adjust:none}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block}
ol,ul,nav {list-style:none}
em,i,address {font-style:normal}
img {vertical-align:middle}
video {min-width:100%;max-width:100%}
table {width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;empty-cells:show;text-align:center;word-wrap:break-word}
caption {overflow:hidden;height:0;font-size:1px;line-height:0}
hr,legend {position:absolute;left:-5000em;top:-5000em;font-size:1px;line-height:1px}
input,textarea,select,button,label {display:inline-block;vertical-align:top}

/* FONT */
@font-face {
	font-family:notoL;
	font-style:normal;
	font-weight:normal;
	src:url('../../inc/font/NotoSansCJKkr-Light.eot');
	src:local(☺),
		url('../../inc/font/NotoSansCJKkr-Light.woff') format('woff');
}
@font-face {
	font-family:notoR;
	font-style:normal;
	font-weight:normal;
	src:url('../../inc/font/NotoSansCJKkr-Regular.eot');
	src:local(☺),
		url('../../inc/font/NotoSansCJKkr-Regular.woff') format('woff');
}
@font-face {
	font-family:notoM;
	font-style:normal;
	font-weight:normal;
	src:url('../../inc/font/NotoSansCJKkr-Medium.eot');
	src:local(☺),
		url('../../inc/font/NotoSansCJKkr-Medium.woff') format('woff');
}
@font-face {
	font-family:notoB;
	font-style:normal;
	font-weight:normal;
	src:url('../../inc/font/NotoSansCJKkr-Bold.eot');
	src:local(☺),
		url('../../inc/font/NotoSansCJKkr-Bold.woff') format('woff');
}
@font-face {
	font-family:notoDL;
	font-style:normal;
	font-weight:normal;
	src:url('../../inc/font/NotoSansCJKkr-DemiLight.eot');
	src:local(☺),
		url('../../inc/font/NotoSansCJKkr-DemiLight.woff') format('woff');
}
@font-face {
	font-family:notoT;
	font-style:normal;
	font-weight:normal;
	src:url('../../inc/font/NotoSansCJKkr-Thin.eot');
	src:local(☺),
		url('../../inc/font/NotoSansCJKkr-Thin.woff') format('woff');
}
@font-face {
	font-family:notoBL;
	font-style:normal;
	font-weight:normal;
	src:url('../../inc/font/NotoSansCJKkr-Black.eot');
	src:local(☺),
		url('../../inc/font/NotoSansCJKkr-Black.woff') format('woff');
}

/* LINK */
a,a:hover {text-decoration:none}

/* FONT */
body,a,input,textarea,select,button,table,pre {font-family:notoR,sans-serif;color:#333;letter-spacing:-.03em;}
body,textarea {font-size:16px;line-height:1}
pre {line-height:24px;white-space:pre-line}

/* FORM */
input[type='text'],
input[type='password'],
textarea,
select {margin:0;padding:0;width:100%;border:1px solid #ccc;border-radius:0;background:transparent}
input[type='button'],
input[type='image'],
input[type='file'],
input[type='submit'],
button {cursor:pointer}
input[type='button'],
button {position:relative;border:0;background:transparent}
textarea {resize:none;overflow-y:auto;background-color:#fff;box-sizing:border-box}
input[type='text'][disabled],
input[type='text'][readonly],
input[type='password'][disabled],
input[type='password'][readonly],
textarea[disabled],
textarea[readonly],
select[disabled] {background-color:#ececec;color:#888}
select::-ms-expand {display:none}
@media screen and (min-width: 0\0) and (min-resolution: .001dpcm) {select {background:transparent}} /* IE9 Hack */
button {margin:0;padding:0}
button[disabled] {cursor:default}
input[type='hidden'],
input::-ms-clear,
input::-ms-reveal {display:none}
input[type='button']::-moz-focus-inner {margin:-1px;padding:0}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {color:#888}
::-webkit-input-placeholder {text-align:left}
::-moz-placeholder {text-align:left}
:-moz-placeholder {text-align:left}
:-ms-input-placeholder {text-align:left}

/* 다국어 */
.header .gnb > ul {width:auto;}
.header .header-inr:after,
.header .gnb > ul:after{content:""; display:block; clear:both;}
.multi_lang_area {display:inline-block;position:relative;margin:14px 0 0 42px;vertical-align:top;}
.multi_lang_area #user_lang {display:inline-block;width:85px;height:38px;padding:12px 0 0 20px;background:url(../../img/bg/bg_header_lang_select_black.png) no-repeat 57px 22px;font-size:14px;color:#111;line-height:26px;text-align:left;vertical-align:top; outline:0;}
.multi_lang_area #user_lang {background-image:url(../../img/bg/bg_header_lang_select_black.png);color:#111111;}
.multi_lang_area #user_lang.on {background-color:#ffffff;background-image:url(../../img/bg/bg_header_lang_select_black_on.png);box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3);}
.multi_lang_area .lang_list {display:none;position:absolute;top:38px;z-index:9999;width:85px;margin-top:-2px;padding:6px 0 13px 0;background:#ffffff;box-shadow:2px 5px 5px rgba(0, 0, 0, 0.3);}
.multi_lang_area #user_lang.on ~ .lang_list {display:block;}
.multi_lang_area .lang_list li button {height:26px;padding-left:20px;font-size:14px;color:#111111;line-height:26px;}
.multi_lang_area .lang_list li button:hover,
.multi_lang_area .lang_list li button:focus {color:#fe0000;text-decoration:underline;}


/* 20191202 사업영역 */
.clearfix:after{content:""; display:block; clear:both;}
.visual-area.technology{height:1087px; background-image:url(../../img/section/bg_tech.jpg); text-align:left;}
.visual-area.fix .img{height:481px;}
.tech-cont.fix{margin:58px auto 0;}

.tech-cont.fix .section.sec1 .tab-ty-box,
.tech-cont.fix .section.sec2 .tab-ty-box,
.tech-cont.fix .section.sec3 .tab-ty-box,
.tech-cont.fix .section.sec4 .tab-ty-box{padding:0;}

.tech-cont.fix .section.sec5,
.tech-cont.fix .section.sec6,
.tech-cont.fix .section.sec7,
.tech-cont.fix .section.sec8,
.tech-cont.fix .section.sec9,
.tech-cont.fix .section.sec10,
.tech-cont.fix .section.sec11{padding-top:0; }
.tech-cont.fix .tab-ty-box{padding:0 30px;}
.tech-cont.fix .tbl-ty1.bg-blur.sm td{padding:12px 20px;}
.tech-cont.fix .tbl-ty1.bg-blur.sm th{padding:12px 20px; font-family:notoR; font-weight:400;}

.sub_tit_wrap{margin-bottom:50px;}
.sub_tit_wrap .tit{font-family:notoBL; font-size:40px; color:#fff; font-weight:900; line-height:1.3;}
.sub_tit_wrap .txt{margin-top:45px; font-family:notoL; font-size:30px; color:#fff;}
.sub_tit_wrap .txt .bold{font-family:notoBL;}
.tbl_box .top_txt{font-family:notoL; font-size:18px; color:#fff; font-weight:300;}

.tech-cont.fix .sec7 .terms-list>li{border-color: rgba(255,255,255,.3); border-width: 1px 0 0; background: rgba(0,0,0,.2);}
.tech-cont.fix .sec7 .terms-list>li{border-top:0;}
.terms-list.fix{margin-top:20px;}
.terms-list.fix input + label.type3{width:inherit; padding-left:58px; font-family:notoR;font-size:15px; color:#fff;}
.terms-list.fix input + label.type3:before{left:20px; top:25px; width:25px; height:25px; background-size:25px auto; background-image: url(../../img/ico/ico_check_big02.png);}
.terms-list.fix .accor-content{display:none; padding:30px 20px; height:auto; border-color: rgba(255,255,255,.3); border-width: 1px 0 0; border-style:solid; font-size:15px; color:#fff;}
.terms-list.fix .accor-content dl{font-family:notoL;}
.terms-list.fix .accor-content dl dt{margin-bottom:15px; color:#fff;}
.terms-list.fix .accor-content dl dd{opacity:.4;}

.inq_list_wrap{margin-top:15px;}
.inq_list_wrap dt{float:left; margin-right:22px; font-family:notoM; font-size:16px; color:#fff;}
.inq_list_wrap dd{float:left;}
.inq_list_wrap li{float:left; position:relative; margin-left:22px; padding:3px 0 3px 32px; color:#fff;}
.inq_list_wrap li:first-child{margin-left:0;}
.inq_list_wrap li:before{content:""; display:block; position:absolute; top:0; left:0; width:22px; height:22px; background-position:0 0; background-repeat:no-repeat;}
.inq_list_wrap li:first-child:before{background-image:url(../../img/section/ico_customer.png);}
.inq_list_wrap li:last-child:before{background-image:url(../../img/section/ico_email.png);}

.tech-cont.fix .sec8 .btn-area{margin-top:20px;}
.tech-cont.fix .sec8 .btn-area .btns-solid1{height:50px; line-height:50px;}

.map_area .left_zone{float:left; width:558px;}
.map_area .right_zone{float:right; width:558px;}

.tech-cont.fix .belong-maps{margin-top:0;}
.tech-cont.fix .belong-maps .img{height:481px;}
.tech-cont.fix .img-box{margin-top:0;}
.tech-cont.fix .tit_s{margin-bottom:42px; font-family:notoB; font-size:30px; color:#ff8133;}
.tech-cont.fix .half-info{width:100%;}
.tech-cont.fix .half-info dt{margin-bottom:10px; line-height:inherit;}
.tech-cont.fix .half-info dd{margin-bottom:10px; font-size:inherit;}
.tech-cont.fix .half-info dd:last-child{margin-bottom:0;}
.tech-cont.fix .half-info li{float:left;}
.tech-cont.fix .half-info li:first-child{width:92px; margin-right:21px; font-family:notoM; font-size:16px;}
.tech-cont.fix .half-info li:last-child{font-family:notoL; font-size:14px;}

.tech-cont.fix .belong-maps > button{font-family:notoM;}
.tech-cont.fix .belong-maps .links-map1{top:111px; left:41px;}
.tech-cont.fix .belong-maps .links-map2{top:83px; left:41px;}
.tech-cont.fix .belong-maps .links-map3{top:140px; left:41px;}
.tech-cont.fix .belong-maps .links-map4{top:205px; left:41px;}
.tech-cont.fix .belong-maps .links-map8{top:314px; left:41px;}

.tech-cont.fix .belong-maps .links-map5{top:159px; right:49px;}
.tech-cont.fix .belong-maps .links-map6{top:217px; right:49px;}
.tech-cont.fix .belong-maps .links-map7{top:343px; right:49px;}
.tech-cont.fix .belong-maps .links-map9{top:255px; right:84px;}
.tech-cont.fix .belong-maps .links-map10{top:279px; right:84px;}
.tech-cont.fix .belong-maps .links-map11{top:304px; right:84px;}

.img_wrap{margin-bottom:45px; padding:0 228px 50px 311px; background-color:rgba(0,0,0,.15); /* border-top:1px solid rgba(255,255,255,.3); border-bottom:1px solid rgba(255,255,255,.3); */ text-align:center;}
.img_wrap .img_box{float:left;}
.img_wrap .txt_box{float:left;margin-left:-95px;padding-top:125px; text-align:left;}
.img_wrap .txt_box .txt{font-family:notoR; font-size:32px; color:#fff; line-height:1.1;}

.txt_wrap{}
.txt_wrap .left_zone{float:left; width:50%;}
.txt_wrap .right_zone{float:right; width:50%;}
.txt_wrap .right_zone .inside{padding-left:140px;}
.txt_wrap .tit-item{margin-bottom:25px; font-family:notoB; font-size:32px; color:#fff;}
.txt_wrap .txt-box{margin-top:0;}
.list_dotted li{position:relative; padding-left:12px;}
.list_dotted li:before{content:""; display:block; position:absolute; top:13px; left:0; width:3px; height:3px; background-color:#ffff; border-radius:50%;}
.dl_list{margin-bottom:42px;}
.dl_list dt{margin-bottom:18px; font-family:notoB; font-size:30px; color:#ff8133;}
.dl_list dd{font-family:notoL; font-size:18px; color:#fff;}
.process_wrap{padding:0 60px 33px 70px; background-color:rgba(0,0,0,.15);}
.process_wrap .left_zone{float:left; width:536px; padding-top:72px;}
.process_wrap .right_zone{float:right; width:514px; padding:39px 0 0 76px; box-sizing:border-box;}

.tech-cont.fix .sec5 .like-tab-slide{padding:0 !important;}
.tech-cont.fix .sec5 .move-box .imgs{width:536px; padding-top:0 !important;}
.tech-cont.fix .sec5 .move-box .steps.ty-txt li{font-family:notoL; font-size:20px; color:#111;}
.tech-cont.fix .sec5 .move-box .steps.ty-txt .pos1{left:0; top:225px;background:url('../../img/section/bg_hotel_lst01.png') no-repeat;background-position:center center;line-height:81px;width:89px;height:81px;padding-left:20px;}
.tech-cont.fix .sec5 .move-box .steps.ty-txt .pos2{left:20px; top:104px;background:url('../../img/section/bg_hotel_lst02.png') no-repeat;background-position:center center;line-height:81px;width:85px;height:81px;padding-left:20px;}
.tech-cont.fix .sec5 .move-box .steps.ty-txt .pos3{left:104px; top:10px;color:#fff;background:url('../../img/section/bg_hotel_lst03.png') no-repeat;background-position:center center;line-height:81px;width:81px;height:81px;padding-left:20px;}
.tech-cont.fix .sec5 .move-box .steps.ty-txt .pos4{left:227px; top:-30px;background:url('../../img/section/bg_hotel_lst04.png') no-repeat;background-position:center center;line-height:86px;width:80px;height:86px;padding-left:12px;}
.tech-cont.fix .sec5 .move-box .steps.ty-txt .pos7{left:352px; top:10px;color:#fff;background:url('../../img/section/bg_hotel_lst05.png') no-repeat;background-position:center center;line-height:81px;width:81px;height:81px;padding-left:20px;}
.tech-cont.fix .sec5 .move-box .steps.ty-txt .pos8{left:427px; top:104px;background:url('../../img/section/bg_hotel_lst06.png') no-repeat;background-position:center center;line-height:81px;width:85px;height:81px;padding-left:18px;}
.tech-cont.fix .sec5 .move-box .steps.ty-txt .pos9{left:457px; top:225px;background:url('../../img/section/bg_hotel_lst07.png') no-repeat;background-position:center center;line-height:81px;width:89px;height:81px;padding-left:30px;}

.tit_advisors{display:block; margin-bottom:13px; font-family:notoB; font-size:24px; color:#fff; text-align:center;}
.advisors_list{position:relative;}
.advisors_list:before{content:""; display:block; position:absolute; left:21px; top:0; width:4px; height:312px; background-color:#8d8d8d;}
.advisors_list>ul>li{position:relative; margin-bottom:35px; padding:11px 0 2px 75px;}
.advisors_list>ul>li:hover{cursor:pointer;}
.advisors_list>ul>li:last-child{margin-bottom:0;}
.advisors_list>ul>li:before{content:"" attr(data-num); position:absolute; top:0; left:0; width:45px; height:45px; background-color:#8d8d8d; color:#fff; font-family:notoBL; font-size:20px; border-radius:50%; text-align:center; line-height:45px;}
.advisors_list dl dt{float:left; width:106px; font-family:notoM; font-size:20px; color:#fff;}
.advisors_list dl dd{float:left;}
.advisors_list dl ul li{position:relative; margin-bottom:10px; padding-left:12px; font-family:notoL; font-size:16px; color:#fff;}
.advisors_list dl ul li:last-child{margin-bottom:0;}
.advisors_list dl ul li:before{content:""; display:block; position:absolute; top:7px; left:0; width:3px; height:3px; background-color:#fff; border-radius:50%;}
.advisors_list>ul>li.on:before{background-color:#ed1c24;}
.advisors_list>ul>li.on dt{color:#ffbc3d;}
.advisors_list>ul>li:hover:before{background-color:#ed1c24;}
.advisors_list>ul>li:hover dt{color:#ffbc3d;}

.tech-cont.fix .sec5 .tablist{right:30px;}
.tech-cont.fix .sec5 .tbl-ty1.bg-blur{margin-top:0;}
.tech-cont.fix .sec5 .left .box_area{margin-right:50px; padding:0 0 12px 25px;background-color:rgba(0,0,0,.15);}
.tech-cont.fix .sec5 .left .box_area .imgs{overflow:hidden;}
.tech-cont.fix .sec5 .left .box_area .imgs img{margin-top:-30px;}
.tech-cont.fix .sec5 .left .box_area .txt-link{margin:20px 0 0 90px;}
.tech-cont.fix .sec5 .left .txt_under{margin-top:30px; font-family:notoL; font-size:16px; line-height:1.5; color:rgba(255,255,255,.4); text-align:center;margin-left: -25px;}
.tech-cont.fix .sec5 .in-sep .right{float:right; width:700px;}
.tech-cont.fix .sec5 .in-sep .right .tit{display:block; margin-bottom:17px; font-family:notoB; font-size:24px; color:#fff;}
.tech-cont.fix .sec5 .in-sep .tbl-ty1{float:none; width:inherit;}




