@charset "utf-8";

/* VISUAL */
.visual-area {text-align:center;}
.visual-area h1 {font-family:notoBL;font-size:70px;line-height:82px;}
.visual-area h1 + .txt {margin-top:58px;font-family:notoB;font-size:30px;line-height:32px;}
.visual-area .tit-txt {margin-top:80px;}
.visual-area .txt-ty1 {width:1240px;margin:50px auto 0;text-align:left;}
.visual-area .s-txt {margin-top:34px;font-family:notoL;font-size:18px;line-height:28px;}
.visual-area .img {overflow:hidden;height:630px;background-repeat:no-repeat;background-position:50% 0;text-align:center;}
.visual-area .img .inner {width:1240px;margin:0 auto;}
.visual-area .img .tit-ty2,
.visual-area .img .tit-txt {color:#fff;text-align:left;}
.visual-area .img .tit-ty2 {margin-top:5px;font-size:40px;line-height:52px;}
.visual-area .img .tit-txt {margin-top:404px;}
.visual-area .movie {padding-top:80px;margin:0 auto;text-align:center;}
.visual-area .movie > .inner {display:inline-block;width:1240px;height:620px;vertical-align:top;}

.visual-area.company {height:340px;padding-top:100px;background:url('../../img/content/img_visual_company.jpg') no-repeat 50% 0;color:#fff;box-sizing:border-box;}
.visual-area.greet {height:auto;/*background-color:#f8f9fa;*/overflow:hidden;margin:123px 0 530px;padding:0 0 35px;}
.visual-area.greet  h2.tit-ty2.fontR{text-align:left;font-size:50px;line-height:42px;}
.visual-area.greet .txt-ty1{color:#333;}
.visual-area.greet .ceo-name{color:#000;font-size:18px;line-height:28px;text-align:left;margin:50px 0 0}
.visual-area.greet .cen-name strong{font-weight:bold;}
.visual-area.greet > .inner {position:relative;width:1240px;margin:0 auto;padding:89px 0 100px;text-align:left;}
.visual-area.greet .ceo-massage{z-index:10;position:relative;}
.visual-area.greet .ceo-massage p {font-family:notoBL;font-size:70px;line-height:82px;}
.visual-area.greet .ceo-massage p span {display:inline-block;margin-top:10px;font-size:22px;color:#666;vertical-align:top;}
.visual-area.greet .ceo-massage .txt {display:block;position:relative;margin-top:40px;padding-top:40px;font-size:18px;line-height:28px;color:#555;}
.visual-area.greet .ceo-massage .txt:before {content:'';position:absolute;left:0;top:0;width:20px;height:2px;background-color:#555;}
.visual-area.greet .ceo-img {position:absolute;right:0;top:-40px;}
.visual-area.service {height:630px;padding-top:116px;background:url('../../img/content/img_visual_company.jpg') no-repeat 50% 0;color:#fff;}
.visual-area.rental {height:450px;padding-top:100px;background:url('../../img/content/img_visual_rental.jpg') no-repeat 50% 0;color:#fff;}
.visual-area.business {background:url('../../img/content/img_visual_business.jpg') no-repeat 50% 0;}
/*.visual-area.technology {padding-top:75px;background:url('../../img/content/img_visual_technology.jpg') no-repeat 50% 0;}
.visual-area.technology .tit-txt {margin-top:0;}
.visual-area.technology h1 {margin-top:18px;font-size:50px;line-height:62px;color:#111;} 이전버전*/
.visual-area.consulting {height:720px;background:url('../../img/content/img_visual_consulting.jpg') no-repeat 50% 0;}
.visual-area.consulting > .inner {width:1240px;margin:0 auto;padding:114px 0;color:#fff;text-align:left;}
.visual-area.consulting .txt {font-size:18px;line-height:26px;}
.visual-area.consulting h1 {margin-top:17px;}
.visual-area.consulting .link-list {margin-top:118px;}
.visual-area.consulting .link-list ul {display:table;width:100%;}
.visual-area.consulting .link-list li {display:table-cell;}
.visual-area.consulting .link-list li:nth-child(1) {width:365px;}
.visual-area.consulting .link-list li:nth-child(2) {width:380px;}
.visual-area.consulting .link-list li:nth-child(3) {width:285px;}
.visual-area.consulting .link-list li a {color:#fff;}
.visual-area.consulting .link-list li strong a {font-family:notoB;font-size:32px;line-height:42px;}
.visual-area.consulting .link-list li .dep2 {margin-top:12px;}
.visual-area.consulting .link-list li .dep2 a {font-family:robotoL;font-size:18px;line-height:30px;text-decoration:underline;}
.visual-area.mice{position:relative;}
.visual-area.mice .img {height:560px;background-image:url('../../img/content/img_visual_mice01.jpg');}
.visual-area.mice .txt-wrap{position:absolute;width:100%;color:#fff;}
.visual-area.mice .txt-wrap .tit-txt{margin-top:100px;color:#fff;font-family:notoB;font-size:24px;}
.visual-area.mice .txt-wrap .tit-ty1{color:#fff;font-size:70px;line-height:80px;}
.visual-area.mice .txt-wrap .txt-ty1{text-align:center;color:#fff;opacity:0.8;}
.visual-area.network .img {position:relative;background-image:url('../../img/content/img_visual_network.jpg');}
.visual-area.recruit {height:280px;padding-top:78px;background:url('../../img/content/img_visual_recruit.jpg') no-repeat 50% 0;color:#fff;}
.visual-area.recruit h1 {margin-top:25px;font-size:50px;line-height:62px;}
.visual-area.history {height:340px;padding-top:100px;background:url('../../img/content/img_visual_history.jpg') no-repeat 50% 0;color:#fff;box-sizing:border-box;}
.visual-area.network02 {height:340px;padding-top:100px;background:url('../../img/content/img_visual_network02.jpg') no-repeat 50% 0;color:#fff;box-sizing:border-box;}

.lists-dash.colm-ty {display:table;width:1240px;margin:40px auto 0;text-align:left;}
.lists-dash.colm-ty li {display:inline-table;width:50%;}

/*INTRO*/
.intro-wrap .video-area{height:720px;overflow:hidden;background:#252525 url('../../img/temp/temp_video.jpg') 0 0 no-repeat;background-size:cover;}
.intro-wrap .video-area .video-inr{position:relative;margin:80px auto;width:1240px;height:560px;}
.intro-wrap .video-area .video-inr a{position:relative;display:block;}
.intro-wrap .video-area .video-inr a:after{content:'';position:absolute;left:50%;top:50%;margin:-58px 0 0 -58px;width:116px;height:116px;background:url('../../img/btn/btn_play.png');}
.intro-wrap [class^="tab-wrap"]{position:relative;}
.intro-wrap [class^="tab-wrap"] .tab-area{position:absolute;top:100px;left:50%;transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0);-moz-transform:translate(-50%, 0);}
.intro-wrap [class^="tab-wrap"] .tab-area li{display:inline-block;padding:0 30px;}
.intro-wrap [class^="tab-wrap"] .tab-area li a{font-size:24px;font-family:'notoBL';opacity:0.4;color:#fff;}
.intro-wrap [class^="tab-wrap"] .tab-area li.current a{display:block;font-size:30px;opacity:1;}
.intro-wrap [class^="tab-wrap"] .inner{margin:0 auto;width:1240px;position:relative;}
.intro-wrap [class^="tab-wrap"] .tit-ty1{margin:0;font-size:50px; color:#fff;}
.intro-wrap [class^="tab-wrap"] .tit-ty2{margin-bottom:0;font-size:30px;color:#111;text-align:center;}
.intro-wrap [class^="tab-wrap"] .txt-ty1{font-size:18px; color:#fff;text-align:center;}
.intro-wrap .tab-wrap01 .tit-ty1{text-align:left;line-height:80px;position:absolute;left:0;top:-30px;}
.intro-wrap .tab-wrap01 .in-cont{padding:220px 0 40px;height:874px;background:url('../../img/content/bg_intro.png') no-repeat center center;background-size:cover;}
.intro-wrap .tab-wrap01 .tab-area li.current a{color:#c70000;}
.intro-wrap .tab-wrap02 .tab-area li a{color:#111;}
.intro-wrap .tab-wrap02 .in-cont{padding:220px 0 200px;height:922px;background:url('../../img/content/bg_intro02.png') no-repeat center center;background-size:cover;}
.intro-wrap .tab-wrap02 .tit-ty1{color:#c70000;}
.intro-wrap .tab-wrap02 .txt-ty1{color:#666;}
.intro-wrap .cont-btm{/*padding:0 0 100px*/;background:#fff;}
.intro-wrap .cont-btm .tit-ty2{text-align:center;font-family:notoBL;color:#111111;}
.intro-wrap .btn-area [class^='btns-']{margin:0;width:50%;height:200px;line-height:200px;font-size:16px;overflow:hidden;position:relative;}
.intro-wrap .btn-area [class^='btns-'] .txt{position:relative;}
.intro-wrap .btn-area [class^='btns-'] .bg-img{position:absolute;left:0;top:0;width:100%;height:100%;}
.intro-wrap .btn-area [class^='btns-']:hover .bg-img{transform:scale( 1.2 );}
.intro-wrap .btn-area .btns-solid1 .bg-img{background:url('../../img/content/bg_btn01.png') no-repeat center;transition: all ease .5s;}
.intro-wrap .btn-area .btns-solid2 .bg-img{background:url('../../img/content/bg_btn02.png') no-repeat center;transition: all ease .5s;}
.intro-wrap .btn-area .bg-img + .txt {font-size:23px;}

.intro-wrap .in-cont .txt-sub {position:absolute;left:34%;top:-80px;color:#fff; font-size:13px;font-weight:normal;}

.intro-wrap .hovered-list {width:1240px;margin:100px auto 95px auto;}
.intro-wrap .hovered-list:after {content:"";display:block;clear:both;}
.intro-wrap .hovered-list .thumb {position:relative;float:left;width:32%;height:397px;margin-left:2%;cursor:pointer;}
.intro-wrap .hovered-list .thumb:first-child {margin-left:0;}
.intro-wrap .hovered-list .thumb .imgs img {width:100%;height:100%;}
.intro-wrap .hovered-list .thumb .subs {position:absolute;left:0;top:0;display:table;width:100%;height:100%;/* background:rgba(0,0,0,.5); */transition:all 1s ease-out;}
.intro-wrap .hovered-list .thumb .subs .cell {display:table-cell;text-align:center;vertical-align:middle;color:#fff;}
.intro-wrap .hovered-list .thumb .subs strong {display:block;font-size:30px;line-height:42px;font-weight:bold;text-shadow:1px 1px 1px rgba(0,0,0,.3);}
.intro-wrap .hovered-list .thumb .subs span {position:relative;height:134px;padding-top:70px;display:block;font-size:18px;line-height:32px;font-weight:normal;box-sizing:border-box;opacity:0;margin-bottom:-134px;transition:all .3s ease-out;}
.intro-wrap .hovered-list .thumb .subs span:before {content:"";position:absolute;left:50%;top:35px;display:block;width:40px;height:2px;margin-left:-20px;background-color:#fff;opacity:0;border-radius:28px;-webkit-border-radius:28px;}
.intro-wrap .hovered-list .thumb:hover .subs {background:rgba(0,0,0,.7);}
.intro-wrap .hovered-list .thumb:hover .subs span {opacity:1;margin-bottom:0;}
.intro-wrap .hovered-list .thumb:hover .subs span:before {opacity:1;}

.intro-wrap .flow-slide {position:relative;background-color:#f5f5f5;text-align:center;padding:95px 0;}
.intro-wrap .flow-slide .slick-slide .slide-inner {border:1px solid #e0e0e0;background:#fff;width:295px;height:150px;}
.intro-wrap .flow-slide .slick-arrow {position:absolute;top:0;z-index:100;width:295px;height:100%;background:rgba(255,255,255,.4);color:transparent;}
.intro-wrap .flow-slide .slick-prev {left:0;}
.intro-wrap .flow-slide .slick-next {right:18px;}

.work-chk-list{}
.work-chk-list ul{overflow:hidden;}
.work-chk-list ul li{float:left;margin:13px 0 0 13px;padding:25px 30px;width:300px;height:300px;line-height:1;font-family:notoR;position:relative;background:#fff; transition:all .6s ease-out;}
.work-chk-list ul li:first-child{margin-left:626px;}
.work-chk-list ul li:nth-child(3){margin-left:0;}
.work-chk-list ul li:nth-child(-n+2){margin-top:0;}
.work-chk-list ul li.on{background:#c70000;}
.work-chk-list ul li:after{content:'';width:64px;height:57px;background:url('../../img/ico/ico_cont_chk.png') no-repeat;background-position:0 -57px;position:absolute;bottom:30px;right:25px;}
.work-chk-list ul li.on:after{background-position:0 0;}
.work-chk-list ul li [class^="ico"]{display:block;height:42px;background-position:0 -42px;}
.work-chk-list ul li.on [class^="ico"]{background-position:0 0;}
.work-chk-list ul li .ico01{width:42px;background-image:url('../../img/ico/ico_work01.png');}
.work-chk-list ul li .ico02{width:41px;background-image:url('../../img/ico/ico_work02.png');}
.work-chk-list ul li .ico03{width:60px;background-image:url('../../img/ico/ico_work03.png');}
.work-chk-list ul li .ico04{width:49px;background-image:url('../../img/ico/ico_work04.png');}
.work-chk-list ul li .ico05{width:44px;background-image:url('../../img/ico/ico_work05.png');}
.work-chk-list ul li .ico06{width:45px;background-image:url('../../img/ico/ico_work06.png');}
.work-chk-list ul li .txt{display:inline-block;margin-top:15px;font-size:22px;line-height:30px;color:#333;}
.work-chk-list ul li.on .txt{color:#fff;}
.comp-list{display:table;margin:auto;padding-top:45px;width:1240px;table-layout:fixed;}
.comp-list li{display:table-cell;text-align:center;color:#c70000;}
.comp-list li .sub-tit{display:block;font-size:18px;font-family:'notoBL';}
.comp-list li .count-num{display:block;padding:4px 0 24px;font-size:120px;font-family:'notoBL';}
.comp-list li .sub-txt{font-size:23px;font-family:'notoB';color:#111;}
.cont-btm .comp-list{padding-top:0;}
.cont-btm .comp-list li {position:relative;text-align:left;}
.cont-btm .comp-list li:before {content:"· · ·";position:absolute;left:-74px;top:50%;display:block;width:110px;height:6px;margin-top:-3px;font-size:40px;color:#ed1c24;text-align:center;}
.cont-btm .comp-list li:last-child:before {left:-36px}
.cont-btm .comp-list li:first-child:before {display:none;}
.cont-btm .comp-list li .inr {position:relative;display:inline-block;width:340px;padding:190px 0 40px;background-color:#f5f5f5;}
.cont-btm .comp-list li:nth-child(2) {text-align:center;}
.cont-btm .comp-list li:last-child {text-align:right;}
.cont-btm .comp-list li .inr:before {content:"";position:absolute;left:50%;top:28px;display:block;width:100px;height:100px;margin-left:-50px;background:url('../../img/content/ico_competi.png') 0 0 no-repeat;}
.cont-btm .comp-list li:nth-child(2) .inr:before {background-position:-100px 0;}
.cont-btm .comp-list li:last-child .inr:before {background-position:-200px 0;}
.cont-btm .comp-list li .inr:after {content:"";position:absolute;left:50%;top:157px;display:block;width:40px;height:2px;margin-left:-20px;background-color:#231f20;}
.cont-btm .comp-list li .sub-tit{text-align:center;}
.cont-btm .comp-list li .count-num{font-size:100px;text-align:center;}
.cont-btm .comp-list li .sub-txt{text-align:center;}

.intro-wrap .slider-container{}
.intro-wrap .slider-container .slider{position:relative;}
.intro-wrap .slider-container .slider{display:block;z-index:10;position:relative;}
.intro-wrap .slider-container .slick-slide{float:left;box-sizing:border-box;}
.intro-wrap .slider-container .slick-slide .inner {width:100%; min-height:520px; text-align:center;}
.intro-wrap .slider-container .slick-slide p.txt-ty1 {margin-top:22px; color:#111;}
.intro-wrap .slider-container .slick-slide .slide-links {display:inline-block; margin-top:25px;font-size:16px; color:#333;}
.intro-wrap .slider-container .slick-slide .imgs {position:absolute; left:50%; height:360px; margin:40px 0 0 -960px;}
.intro-wrap .slider-container .slick-arrow{position:absolute;top:330px;z-index:50;font-size:18px;font-family:'notoB';color:#111;line-height:1;opacity:1;}
.intro-wrap .slider-container .slick-arrow.slick-disabled{left:-9999%;top:-9999%; opacity:0;}
.intro-wrap .slider-container .slick-arrow.slick-prev{left:16.5%;text-align:left;}
.intro-wrap .slider-container .slick-arrow.slick-next{right:18%;text-align:right;}

/* MICE */
[class^="mice-cont"]{padding:80px 0;}
[class^="mice-cont"] .cont-inr{width:1240px;margin:auto;}
[class^="mice-cont"] .cont-inr .tit-ty1-1{display:block;margin:0 0 50px;}
.mice-cont01 .cont-inr{padding:87px 86px;background:url('../../img/content/bg_mice01.png') no-repeat center;}
.mice-cont02{height:794px;background:url('../../img/content/bg_mice02.png') no-repeat center;}
.mice-cont02 .cont-inr .tit-ty1-1{margin:0 0 38px;}
.mice-cont02 .cont-list{overflow:hidden;padding:0 100px;}
.mice-cont02 .cont-list li{float:left;margin-top:30px;width:25%;text-align:center;}
.mice-cont02 .cont-list li:nth-child(-n+4){margin-top:0;}
.mice-cont02 .cont-list li .txt{display:block;min-height:56px;font-family:'notoB';font-size:20px;color:#333;line-height:28px;}
.mice-cont02 .cont-list li .txt a{font-size:16px;text-decoration:underline}
.mice-cont02 .cont-list li [class^="ico-img"]{display:block;margin:0 auto 15px;width:160px;height:160px;}
.mice-cont02 .cont-list li .ico-img01{background:url('../../img/content/ico_mice01.png');}
.mice-cont02 .cont-list li .ico-img02{background:url('../../img/content/ico_mice02.png');}
.mice-cont02 .cont-list li .ico-img03{background:url('../../img/content/ico_mice03.png');}
.mice-cont02 .cont-list li .ico-img04{background:url('../../img/content/ico_mice04.png');}
.mice-cont02 .cont-list li .ico-img05{background:url('../../img/content/ico_mice05.png');}
.mice-cont02 .cont-list li .ico-img06{background:url('../../img/content/ico_mice06.png');}
.mice-cont02 .cont-list li .ico-img07{background:url('../../img/content/ico_mice07.png');}
.mice-cont02 .cont-list li .ico-img08{background:url('../../img/content/ico_mice08.png');}
.mice-cont03{position:relative;padding:0;}
.mice-cont03 .tab-float{position:absolute;left:50%;top:75px;margin-left:-620px}
.mice-cont03 .tab-float .tit-ty1-1{color:#fff;}
.mice-cont03 .tab-float .tab-ty2 li a{border:1px solid transparent;border-bottom:1px solid #fff;color:#fff;}
.mice-cont03 .tab-float .tab-ty2 li a[aria-selected='true']{border:1px solid #fff;border-bottom:1px solid transparent;}
.mice-cont03 .tab-panel{padding:370px 0 100px;height:790px;box-sizing:border-box;}
.mice-cont03 .tab-panel.first.on{background:url('../../img/content/bg_mice04.jpg') no-repeat center;}
.mice-cont03 .tab-panel.second.on{background:url('../../img/content/bg_mice05.jpg') no-repeat center;}
.mice-cont03 .tab-panel.third.on{background:url('../../img/content/bg_mice06.jpg') no-repeat center;}
.mice-cont03 .cont-list{overflow:hidden;}
.mice-cont03 .cont-list > li{float:left;width:55%}
.mice-cont03 .cont-list > li:first-child{width:45%}
.mice-cont03 .cont-list li strong{float:left;width:45%;padding-right:60px;color:#fff;font-size:50px;font-weight:bold;text-align:right;box-sizing:border-box;}
.mice-cont03 .cont-list li .lists-dash{float:left;}
.mice-cont03 .cont-list li .lists-dash li{color:#fff;}
.mice-cont03 .cont-box{display:table;width:100%;height:205px;margin-top:100px;padding:0 80px;background:#c70000;}
.mice-cont03 .cont-box .tit{display:table-cell;width:250px;color:#fff;font-size:32px;font-family:'notoB';line-height:40px;vertical-align:middle;}
.mice-cont03 .cont-box ul{display:table-cell;color:#fff;vertical-align:middle;}
.mice-cont03 .cont-box ul li{display:inline-block;padding:0 30px 6px 0;font-size:20px;font-family:'notoB';line-height:32px;}
.cont-portfolio{position:relative;height:920px;padding:60px 0;background-color:#f8f9fa;box-sizing:border-box;}
.cont-portfolio .tit{position:absolute;top:50%;left:50%;margin:-195px 0 0 -230px;padding-top:200px;width:460px;height:460px;background:url('../../img/content/bg_mice_tit.png') no-repeat;text-align:center;font-size:28px;line-height:28px;font-family:'notoB';color:#fff;}
.cont-portfolio [class^="category"]{display:table;width:250px;height:250px;text-align:center;border-radius:50%;position:absolute;cursor:pointer;box-shadow:1px 1px 10px 0 rgba(0,0,0,.4);-webkit-box-shadow:1px 1px 10px 0 rgba(0,0,0,.4);}
.cont-portfolio [class^="category"] .cate-inr{display:table-cell;vertical-align:middle;}
.cont-portfolio [class^="category"] strong{font-size:24px;color:#fff;font-family:'notoB';line-height:28px;}
.cont-portfolio [class^="category"] .elem-list{margin-top:14px;}
.cont-portfolio [class^="category"] .elem-list li{font-size:16px;color:#fff;font-family:'notoL';line-height:24px;}
.cont-portfolio .category-01{top:60px;left:50%;margin-left:-125px;background:url('../../img/content/bg_mice_pf01.png') center center no-repeat;}
.cont-portfolio .category-02{top:276px;right:197px;background:url('../../img/content/bg_mice_pf02.png') center center no-repeat;}
.cont-portfolio .category-03{bottom:60px;right:298px;background:url('../../img/content/bg_mice_pf03.png') center center no-repeat;}
.cont-portfolio .category-04{bottom:60px;left:298px;background:url('../../img/content/bg_mice_pf04.png') center center no-repeat;}
.cont-portfolio .category-05{top:276px;left:197px;background:url('../../img/content/bg_mice_pf05.png') center center no-repeat;}
.cont-portfolio .category-01 .elem-list02{top:120px;left:277px;}
.cont-portfolio .category-02 .elem-list02{top:90px;left:277px;}
.cont-portfolio .category-03 .elem-list02{top:90px;left:277px;}
.cont-portfolio .category-04 .elem-list02{top:100px;left:-106px;text-align:right;}
.cont-portfolio .category-05 .elem-list02{top:90px;left:-176px;text-align:right;}
.cont-portfolio + .customer-box {margin-top:100px;}

/* LIST */
.share-list {display:table;width:100%;table-layout:fixed;}
.share-list > div {display:table-cell;vertical-align:top;}
.share-list > div [class^='tit-ty'] {margin:70px 60px 30px 0;vertical-align:top;}
.share-list > div [class^='tit-ty']:first-child {margin-top:0;}
.share-list .logo-img {margin-top:30px;padding:43px 0;border:1px solid #dde2ea;background-color:#f8f9fa;text-align:center;}
.share-list2 {display:table;width:100%;margin-top:70px;table-layout:fixed;}
.share-list2 > div {display:table-cell;vertical-align:top;}
.share-list2 > div [class^='tit-ty'] {display:inline-block;margin:0 60px 0 0;vertical-align:top;}
.share-list2 > div .tit-ty2 + .txt-ty1,
.share-list2 > div ul {display:inline-block;margin-top:4px;vertical-align:top;}
.logo-box {margin-top:40px;}
.logo-box ul:after {content:"";display:block;clear:both;}
.logo-box li {float:left;margin-left:20px;}
.logo-box li:first-child {margin-left:0;}
.logo-box li .img {height:131px;}
.logo-box li .txt {margin-top:15px;font-family:notoL;font-size:18px;}
.logo-box2 {position:relative;border:1px solid #dde2ea;padding:59px 0;}
.logo-box2 .txt {position:absolute;left:40.8%;top:88px;width:52%;}
.logo-box2 .txt strong{font-family:notoB;font-size:32px;color:#666;}
.logo-box2 .txt p{margin-top:20px;font-family:notoL;font-size:18px;line-height:140%;color:#333;}

.diagram-list {padding:80px 0;display:table;width:100%;table-layout:fixed;border-top:1px dashed #babdc3;}
.diagram-list:first-of-type{border-top:none;}
.diagram-list .tit-ty3{font-size:36px;line-height:1;}
.diagram-list .tit-ty4{font-size:24px;line-height:1;color:#333;font-weight:bold;}
.diagram-list .tit-area{display:table-cell;width:365px;vertical-align:top;}
.diagram-list .cont-area{display:table-cell;vertical-align:top;}
.diagram-list .cont-area > li{float:left;width:33.33333%;}
.diagram-list .cont-area .basic-list li{margin-top:14px;font-size:16px;color:#333;}
.diagram-list .cont-area .basic-list li:first-child{margin-top:24px;}
.diagram-list .cont-area .basic-list li:before{content:'\00B7';padding-right:8px;display:inline-block;}
.diagram-list .cont-area .tit-list{display:table;width:100%;}
.diagram-list .cont-area .tit-list li{padding-left:40px;display:table-cell;font-size:24px;font-weight:bold;line-height:32px;position:relative;}
.diagram-list .cont-area .tit-list li:first-child{padding-left:0;}
.diagram-list .cont-area .tit-list li:before{content:'/';position:absolute;left:0;top:0;color:#999;font-weight:normal;}
.diagram-list .cont-area .tit-list li:first-child:before{display:none;}
.diagram-list .cont-area .tit-list li em{font-weight:bold;}

.member-list > ul {border-top:2px solid #111;}
.member-list > ul > li {overflow:hidden;padding:40px;border-bottom:1px solid #ddd;}
.member-list > ul > li .img {overflow:hidden;float:left;width:170px;margin-right:40px;}
.member-list > ul > li .list-box {overflow:hidden;margin-top:15px;}
.member-list > ul > li .list-box .tit {display:block;font-family:notoB;font-size:24px;line-height:26px;}
.member-list > ul > li .list-box .list {overflow:hidden;position:relative;margin-top:40px;}
.member-list > ul > li .list-box .list ul {display:table;width:100%;margin:-30px 0 0 -41px;}
.member-list > ul > li .list-box .list li {display:inline-table;width:50%;margin-top:30px;padding-left:40px;}
.member-list > ul > li .list-box .list li:before {content:'';position:absolute;width:1px;height:100%;margin-left:-40px;background-color:#dde2ea;}
.member-list > ul > li .list-box .list li em {float:left;width:86px;white-space:nowrap;}
.member-list > ul > li .list-box .list li.con1 em {letter-spacing:28px;}
.member-list > ul > li .list-box .list li.con4 em {letter-spacing:7px;}
.member-list > ul > li .list-box .list li p {overflow:hidden;}
.member-list > ul > li .list-box .list li p span {display:block;}
.member-list > ul > li .list-box .list li p span + span {margin-top:10px;}

.report-list ul {border-top:2px solid #111;}
.report-list li {min-height:102px;border-bottom:1px solid #ddd;}
.report-list li .tit {float:left;width:350px;padding:34px 0 0 40px;font-family:notoB;font-size:24px;line-height:36px;}
.report-list li .list {overflow:hidden;padding:24px 0;}
.report-list li .list a {width:280px;text-align:left;}
.report-list li .list a + a {margin-left:10px;}
.report-list li .list a i {float:right;margin:16px -10px 0 0;}

.contact-list {margin-top:80px;}
.contact-list ul {display:table;width:100%;table-layout:fixed;text-align:center;}
.contact-list li {display:table-cell;vertical-align:top;}
.contact-list li + li {border-left:1px solid #dde2ea;}
.contact-list li:before {content:'';display:block;height:78px;background-repeat:no-repeat;background-position:50% 0;}
.contact-list li:nth-child(1):before {background-image:url('../../img/ico/ico_contact01.png');}
.contact-list li:nth-child(2):before {background-image:url('../../img/ico/ico_contact02.png');}
.contact-list li:nth-child(3):before {background-image:url('../../img/ico/ico_contact03.png');}
.contact-list li strong {display:block;margin-bottom:24px;font-family:notoB;font-size:32px;color:#111;}
.contact-list li p {font-size:18px;padding:0 50px;font-family:notoL;line-height:26px;}
.contact-list li p span {display:block;}

.hire-list {border-top:2px solid #111;}
.hire-list li {display:table;width:100%;padding:40px;border-bottom:1px solid #dde2ea;}
.hire-list li > div {display:table-cell;vertical-align:middle;}
.hire-list li .tit {width:108px;}
.hire-list li .tit span {display:block;width:70px;height:70px;background-color:#111;font-family:notoR;line-height:70px;color:#fff;text-align:center;}
.hire-list li .txt span {display:block;margin-bottom:14px;font-family:notoL;font-size:16px;}
.hire-list li .txt strong {display:block;font-family:notoB;font-size:24px;}
.hire-list li .btn {width:150px;}
.hire-list li .btn button {width:100%;}
.hire-list li .no-data {text-align:center;}
.hire-list li .no-data strong {display:block;margin-top:26px;font-family:notoB;font-size:24px;line-height:30px;}
.hire-list li .no-data button {margin-top:35px;padding:0 55px;}

/* BOX */
.customer-box {position:relative;margin-top:70px;padding:46px 50px 48px;background-color:#f8f9fa;}
.customer-box .tit {margin-bottom:28px;font-family:notoB;font-size:28px;line-height:32px;color:#111;}
.customer-box .list {overflow:hidden;}
.customer-box .list dt,
.customer-box .list dd {float:left;line-height:26px;}
.customer-box .list dt {margin-right:14px;font-family:notoM;font-size:16px;color:#333;}
.customer-box .list dt:after {content:'';display:inline-block;width:1px;height:14px;margin:-3px 0 0 14px;background-color:#babdc3;vertical-align:middle;}
.customer-box .list dd + dt {margin-left:40px;}
.customer-box .list dd {font-family:notoL;color:#666;}
.customer-box .list dd .mail {color:#3a9dde;}
.customer-box .btn {position:absolute;right:50px;top:50%;margin-top:-20px;}
.customer-box .btn .btns-line1 {width:130px;}

.half-bg-box {margin:0 -24px;}
.half-bg-box .box-row {display:table;width:100%;border-spacing:24px 0;table-layout:fixed;}
.half-bg-box .box-row + .box-row {margin-top:24px;}
.half-bg-box .box-col {display:table-cell;padding:50px;background-color:#f8f9fa;vertical-align:top;}
.half-bg-box .txt-ty1 {margin-top:30px;}
.half-bg-box .lists-dash {margin-top:28px;}
.half-bg-box.consulting {text-align:center;}
.half-bg-box.consulting .box-col {position:relative;height:608px;vertical-align:middle;}
.half-bg-box.consulting .box-col a {position:absolute;left:0;top:0;width:100%;height:100%;padding-top:42%;vertical-align:middle;}
.half-bg-box.consulting .box-col a:before {content:'';position:absolute;left:0;top:0;width:100%;height:100%;background-color:#000;filter:alpha(opacity=0);opacity:0;-webkit-transition:opacity .3s ease-in-out;transition:opacity .3s ease-in-out}
.half-bg-box.consulting .box-col a:hover:before {filter:alpha(opacity=40);opacity:.4}
.half-bg-box.consulting .tit-ty2,
.half-bg-box.consulting .txt-ty1,
.half-bg-box.consulting .lists-dash {position:relative;z-index:2;color:#fff;}
.half-bg-box.consulting .lists-dash {margin-top:55px;}
.half-bg-box.consulting .lists-dash > li {}
.half-bg-box.consulting .lists-dash > li:before {display:inline-block;position:static;margin:-3px 4px 0 0;background-color:#fff;vertical-align:middle;}
.half-bg-box.consulting .box-row:nth-child(1) .box-col:nth-child(1) {background:url('../../img/content/img_consulting01.jpg') no-repeat 0 0;}
.half-bg-box.consulting .box-row:nth-child(1) .box-col:nth-child(2) {background:url('../../img/content/img_consulting02.jpg') no-repeat 0 0;}
.half-bg-box.consulting .box-row:nth-child(2) .box-col:nth-child(1) {background:url('../../img/content/img_consulting03.jpg') no-repeat 0 0;}
.half-bg-box.consulting .box-row:nth-child(2) .box-col:nth-child(2) {background:url('../../img/content/img_consulting04.jpg') no-repeat 0 0;}

.half-box {display:table;width:100%;table-layout:fixed;}
.half-box > div {display:table-cell;}
.half-box .cell-radio {display:inline-block;}
.half-box .cell-radio input[type='radio'] + label {width:150px;}

.half-box2 {margin:0 -40px;}
.half-box2 .inner {display:table;width:100%;border-spacing:40px 0;table-layout:fixed;}
.half-box2 .inner > div {display:table-cell;}
.half-box2 .tit {margin:40px 0 25px;font-family:notoB;font-size:28px;color:#333;}
.half-box2 .tit span {margin-left:15px;font-size:16px;}
.half-box2 .txt p {font-family:notoL;font-size:16px;line-height:28px;color:#666;}
.half-box2 .txt p:first-child {color:#333;}
.half-box2 .txt p + p {margin-top:30px;}

.tbl-ty2 + .half-box {margin-top:80px;}

.stock-box .total {margin-bottom:15px;font-family:notoL;font-size:24px;line-height:26px;}
.stock-box .total strong {margin-right:10px;}
.stock-box .total em span {font-family:notoB;}
.stock-box .half {overflow:hidden;}
.stock-box .left {float:left;margin-right:40px;border:1px solid #dde2ea;}
.stock-box .right {overflow:hidden;}
.stock-box .right [class^='tbl-ty'] {margin-top:0;}

.btm-box {overflow:hidden;margin-top:25px;}
.btm-box .left {float:left;}
.btm-box .right {float:right;}
.btm-box .right [class^='btns-'] {padding:0 40px;}
.btm-box .right select + [class^='btns-'] {margin-left:6px;}
.btm-box .refer-txt {margin-top:0;}

.category-box {display:table;width:100%;border:1px solid #dde2ea;}
.category-box > div {display:table-cell;vertical-align:top;}
.category-box .category-tab {width:310px;border-right:1px solid #dde2ea;background-color:#f8f9fa;}
.category-box .category-tab ul {padding:39px 29px;}
.category-box .category-tab li + li {margin-top:20px;}
.category-box .category-tab li a {display:block;position:relative;height:45px;padding:0 20px;-webkit-border-radius:45px;border-radius:45px;line-height:45px;}
.category-box .category-tab li a[aria-selected='true'] {background-color:#c70000;-webkit-box-shadow:3px 3px 10px rgba(0,0,0,.2);box-shadow:3px 3px 10px rgba(0,0,0,.2);color:#fff;}
.category-box .category-tab li a[aria-selected='true']:after {content:'';position:absolute;right:20px;top:50%;width:8px;height:13px;margin-top:-6px;background:url('../../img/bg/bg_assets_arrow.png') no-repeat 0 0;}
.category-box .category-con .category-panel {display:none;}
.category-box .category-con .category-panel.on {display:block;}

.history-list {padding:56px 60px;}
.history-list dl + dl,
.history-list dt,
.history-list dd {margin-top:28px;}
.history-list dt:first-child,
.history-list dt:first-child + dd {margin-top:0;}
.history-list dt {position:relative;float:left;width:136px;margin-right:10px;font-family:notoB;font-size:24px;line-height:26px;color:#111;}
.history-list dt strong {float:right;font-size:17px;color:#333;}
.history-list dd {overflow:hidden;font-family:notoL;font-size:15px;line-height:26px;color:#555;}

.step-recruit-box {position:relative;margin:100px 0;text-align:center;}
.step-recruit-box:before {content:'';position:absolute;left:0;right:0;top:50%;width:100%;height:2px;background:url('../../img/content/bg_recruit_step_dot.png') repeat-x 0 0;}
.step-recruit-box img {position:relative;}

.step-consulting-box {margin:0 -38px;}
.step-consulting-box ol {display:table;width:100%;border-spacing:38px 0;table-layout:fixed;}
.step-consulting-box li {display:table-cell;padding:80px 0;background-color:#fff;text-align:center;}
.step-consulting-box li .tit {display:block;margin-bottom:42px;font-family:notoB;font-size:32px;color:#111;}
.step-consulting-box li .txt {font-family:notoL;font-size:18px;line-height:26px;color:#666;}
.step-consulting-box li .txt em {font-family:notoB;color:#111;}

.map-box {border:1px solid #dde2ea;}
.message-bg-box {padding:30px;background-color:#f8f9fa;font-family:notoL;font-size:18px;line-height:28px;}

.btms-system {width:1240px;margin:55px auto 0;}
.btms-system .slider-nav {margin-top:35px;table-layout:fixed;}
.btms-system .slider-nav .slick-track {width:auto !important;}
.btms-system .slider-nav .slick-slide {position:relative;width:20% !important;border-bottom:1px solid #e8ebf0;opacity:.3;}
.btms-system .slider-nav .slick-slide div {vertical-align:top;}
.btms-system .slider-nav .slick-slide a {display:block;overflow:hidden;padding:0 0 45px 20px;}
.btms-system .slider-nav .slick-slide:first-child a {padding-left:0;}
.btms-system .slider-nav .slick-slide em {display:block;font-family:notoB;font-size:30px;line-height:38px;color:#111;text-align:left;}
.btms-system .slider-nav .slick-slide a > span {display:block;position:relative;margin-top:20px;font-family:notoL;font-size:18px;color:#333;text-align:left;}
.btms-system .slider-nav .slick-slide.slick-current {opacity:1;}
.btms-system .slider-nav .slick-slide.slick-current:after {content:'';position:absolute;left:0;right:0;bottom:-1px;height:2px;background-color:#c4112d;}

.award-box {margin-top:80px;padding:60px 60px 30px;background-color:#fff;}
.award-box dt,
.award-box dd {padding:30px 0;border-top:1px dashed #d9dde4;}
.award-box dt:first-child,
.award-box dt:first-child + dd {border-top:0;}
.award-box dt {float:left;width:135px;font-family:notoM;font-size:32px;color:#333;}
.award-box dd {overflow:hidden;}
.award-box dd .lists-dash > li {overflow:hidden;}
.award-box dd .lists-dash > li a {float:right;width:110px;}

.branch-map-box {position:relative;}
.branch-map-box .map-tab a {position:absolute;right:116px;width:200px;padding:0 30px;background:#f8f9fa url('../../img/content/bg_branch_arrow.png') no-repeat right 20px center;font-family:notoB;font-size:20px;line-height:65px;color:#333;text-align:left;box-sizing:border-box;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
.branch-map-box .map-tab a[aria-selected='true'] {background-color:#c70000;background-image:url('../../img/content/bg_branch_arrow_on.png');color:#fff;}
.branch-map-box .map-tab li.list1 a {top:152px}
.branch-map-box .map-tab li.list2 a {top:237px;}
.branch-map-box .map-tab li.list3 a {top:322px;}
.branch-map-box .map-tab li.list4 a {top:407px;}
.branch-map-box .map-tab li.list5 a {top:492px;}
.branch-map-box .map-tab li.list6 a,
.branch-map-box .map-tab li.list7 a {left:116px;right:auto;}
.branch-map-box .map-tab li.list6 a {top:152px;}
.branch-map-box .map-tab li.list7 a {top:322px;}
.branch-map-box .map-panel {width:608px;height:814px;margin:0 auto;text-align:center;}
.branch-map-box .map-panel li {display:none;}
.branch-map-box .map-panel li.on {display:block;}
.branch-map-box .img {text-align:center;}
.branch-map-box .overseas-box {display:table;width:100%;table-layout:fixed;margin-top:80px;padding:50px;background-color:#f8f9fa;}
.branch-map-box .overseas-box > div {display:table-cell;}
.branch-map-box .overseas-box .tit {margin-bottom:10px;font-family:notoB;font-size:28px;}
.branch-map-box .overseas-box .tit img {display:inline-block;margin:2px 19px 0 0;vertical-align:top;}
.branch-map-box .overseas-box dl {overflow:hidden;padding-left:60px;}
.branch-map-box .overseas-box dt,
.branch-map-box .overseas-box dd {margin-top:15px;font-size:16px;line-height:26px;}
.branch-map-box .overseas-box dd + dt {clear:both;}
.branch-map-box .overseas-box dt {float:left;width:95px;font-family:notoB;}
.branch-map-box .overseas-box dd {overflow:hidden;font-family:notoL;color:#666;}
.branch-map-box .overseas-box dd a {color:#3a9dde;}
.branch-map-box .layer-map {position:absolute;left:50%;top:245px;margin-left:-260px;}
.branch-map-box .layer-map .inner {overflow:hidden;width:520px;padding:0 40px 40px;-webkit-box-shadow:0 7px 18px rgba(0,0,0,.1);box-shadow:0 7px 18px rgba(0,0,0,.1);background-color:#fff;box-sizing:border-box;}
.branch-map-box .layer-map dt {height:100px;font-family:notoB;font-size:24px;line-height:100px;color:#111;}
.branch-map-box .layer-map dd .tab-ty {margin-bottom:22px;}
.branch-map-box .layer-map dd .tab-ty ul {overflow:hidden;}
.branch-map-box .layer-map dd .tab-ty li {float:left;margin-right:30px;}
.branch-map-box .layer-map dd .tab-ty li a {position:relative;font-size:16px;line-height:28px;color:#333;}
.branch-map-box .layer-map dd .tab-ty li a[aria-selected='true'] {font-family:notoB;}
.branch-map-box .layer-map dd .tab-ty li a[aria-selected='true']:before {content:'';position:absolute;left:0;right:0;bottom:-1px;height:2px;background-color:#333;}
.branch-map-box .layer-map dd .address {margin-top:25px;font-family:notoL;font-size:14px;line-height:22px;}
.branch-map-box .layer-map .close {overflow:hidden;position:absolute;right:0;top:0;width:100px;height:100px;background:url('../../img/btn/btn_close01.png') no-repeat 50% 50%;text-indent:-5000em;}

.portfolio-box {position:relative;margin-bottom:-100px;}
.portfolio-box > ul {display:inline-block;width:100%;vertical-align:top;}
.portfolio-box > ul > li {float:left;width:50%;position:relative;height:1020px;vertical-align:top;}
.portfolio-box > ul > li:nth-child(1) {text-align:left;}
.portfolio-box > ul > li:nth-child(2) {text-align:right;}
.portfolio-box > ul > li .default {position:absolute;top:0;width:100%;height:100%;}
.portfolio-box > ul > li.off [class^='default'] {visibility:hidden;}
.portfolio-box > ul > li.on [class^='default'] {visibility:visible;}
.portfolio-box > ul > li:nth-child(1) .default {background:url('../../img/content/bg_portfolio01.jpg') no-repeat 100% 0;}
.portfolio-box > ul > li:nth-child(2) .default {background:url('../../img/content/bg_portfolio02.jpg') no-repeat 0 0;}
.portfolio-box > ul > li .default .inner {position:absolute;top:0;width:542px;padding-top:228px;-webkit-transition: all .7s ease;-moz-transition: all .7s ease;-o-transition: all .7s ease;transition: all .7s ease;}
.portfolio-box > ul > li.on .default .inner {padding-top:118px;}
.portfolio-box > ul > li:nth-child(1) .default .inner {right:0;}
.portfolio-box > ul > li:nth-child(2) .default .inner {left:0;}
.portfolio-box > ul > li .default a {display:inline-block;}
.portfolio-box > ul > li:nth-child(1) .default a:after,
.portfolio-box > ul > li:nth-child(2) .default a:after {content:'';display:inline-block;width:147px;height:22px;margin-top:40px;background-repeat:no-repeat;background-position:0 0;}
.portfolio-box > ul > li:nth-child(1) .default a:after {background-image:url('../../img/content/bg_portfolio_arrow01.png');}
.portfolio-box > ul > li:nth-child(2) .default a:after {background-image:url('../../img/content/bg_portfolio_arrow02.png');}
.portfolio-box > ul > li.on .default a:after {display:none;}
.portfolio-box > ul > li .default .tit {display:block;margin-top:19px;font-family:notoB;font-size:60px;line-height:72px;color:#fff;}
.portfolio-box > ul > li .default .txt {display:block;font-size:18px;line-height:26px;color:#fff;}
.portfolio-box > ul > li:nth-child(1) .default .txt {text-align:left;}
.portfolio-box > ul > li:nth-child(2) .default .txt {text-align:right;}
.portfolio-box > ul > li .default .btn {display:none;}
.portfolio-box > ul > li .default .btn a {display:inline-block;width:110px;height:40px;margin-top:60px;border:2px solid #fff;font-family:notoM;font-size:16px;line-height:36px;color:#fff;text-align:center;box-sizing:border-box;}
.portfolio-box > ul > li.on .default .btn {display:block;}
.portfolio-box > ul > li .shortcuts {display:none;position:absolute;top:0;z-index:10;width:60px;height:100%;}
.portfolio-box > ul > li.off .shortcuts {display:block;}
.portfolio-box > ul > li:nth-child(1) .shortcuts {left:0;background:url('../../img/content/bg_portfolio01.jpg') no-repeat right 0;}
.portfolio-box > ul > li:nth-child(2) .shortcuts {right:0;background:url('../../img/content/bg_portfolio02.jpg') no-repeat 0 0;}
.portfolio-box > ul > li .shortcuts a {display:block;height:100%;padding-top:188px;color:#fff;text-align:center;}
.portfolio-box > ul > li .shortcuts a span {display:inline-block;writing-mode:tb-rl;}

.portfolio-box > ul > li .default-view {visibility:hidden;position:absolute;top:0;z-index:5;width:700px;padding-top:70px;-webkit-transition: all .6s ease;-moz-transition: all .6s ease;-o-transition: all .6s ease;transition: all .6s ease;}
.portfolio-box > ul > li.off .default-view {visibility:hidden;-webkit-transition: all 0s ease;-moz-transition: all 0s ease;-o-transition: all 0s ease;transition: all 0s ease;}
.portfolio-box > ul > li.on .default-view {visibility:visible;}
.portfolio-box > ul > li:nth-child(1) .default-view {right:-460px;}
.portfolio-box > ul > li:nth-child(1).on .default-view {right:-620px;}
.portfolio-box > ul > li:nth-child(1) .default-view .txt {padding:38px 0 0 140px;}
.portfolio-box > ul > li:nth-child(2) .default-view {left:-460px;}
.portfolio-box > ul > li:nth-child(2).on .default-view {left:-620px;}
.portfolio-box > ul > li:nth-child(2) .default-view .txt {padding:38px 140px 0 0;}
.portfolio-box > ul > li .default-view .img {width:700px;}
.portfolio-box > ul > li .default-view .txt {text-align:left;}
.portfolio-box > ul > li .default-view .txt dt {font-family:notoB;font-size:28px;line-height:72px;}
.portfolio-box > ul > li .default-view .lists-dash > li + li {margin-top:4px;}
.portfolio-box .portfolio-swipe .slick-disabled {opacity:.5;}
.portfolio-box .portfolio-swipe .slick-prev,
.portfolio-box .portfolio-swipe .slick-next {overflow:hidden;position:absolute;top:508px;z-index:2;width:16px;height:30px;text-indent:-5000em;}
.portfolio-box .portfolio-swipe .slick-prev {background-image:url('../../img/btn/btn_slide_prev03.png');}
.portfolio-box .portfolio-swipe .slick-next {background-image:url('../../img/btn/btn_slide_next03.png');}
.portfolio-box > ul > li:nth-child(1) .portfolio-swipe .slick-prev {right:61px;}
.portfolio-box > ul > li:nth-child(1) .portfolio-swipe .slick-next {right:0;}
.portfolio-box > ul > li:nth-child(2) .portfolio-swipe .slick-prev {right:201px;}
.portfolio-box > ul > li:nth-child(2) .portfolio-swipe .slick-next {right:140px;}

.finish-box {margin-top:100px;text-align:center;}
.finish-box .ico {display:block;margin-bottom:40px;text-align:center;}
.finish-box .ico:before {content:'';display:inline-block;width:120px;height:120px;background:url('../../img/ico/ico_finish.png') no-repeat 50% 0;vertical-align:top;}
.finish-box .tit {font-size:32px;font-weight:bold;line-height:26px;color:#111;}
.finish-box .txt {margin-top:15px;font-size:20px;line-height:28px;color:#555;}
.finish-box .info {margin-top:20px;font-family:notoL;font-size:16px;line-height:24px;color:#666;}

/* EVENT */
.event-list {overflow:hidden;margin:0 -20px;}
.event-list ul {display:table;width:100%;margin-top:-55px;border-spacing:10px 0;table-layout:fixed;font-size:0;}
.event-list li {display:inline-table;position:relative;width:50%;margin-top:55px;vertical-align:top;}
.event-list li:nth-child(2n) {margin-right:0;}
.event-list.n3 li {width:33.33%;}
.event-list.n3 li:nth-child(3n) {margin-right:0;}
.event-list li a {display:block;}
.event-list .img {position:relative;display:block;width:100%;overflow:hidden;text-align:center;}
.event-list .img img {width:100%;}
.event-list strong {display:block;overflow:hidden;height:65px;margin-top:28px;font-size:24px;line-height:34px;color:#111;}
.event-list p {display:block;line-height:26px;margin-top:20px;font-size:16px;color:#666;}
.event-list .end-txt,
.event-list .movie {display:none;position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,.5);font-size:24px;color:#fff;text-align:center;}
.event-list .end-txt em {position:absolute;left:0;right:0;top:50%;margin-top:-10px;}
.event-list .movie em {overflow:hidden;position:absolute;left:50%;top:50%;width:90px;height:90px;margin:-45px 0 0 -45px;background:url('../../img/btn/btn_movie.png') no-repeat 0 0;text-indent:-5000em;}
.event-list + .pagination {padding-top:0}

/* TIME */
.time-list {display:block;width:100%;border-spacing:10px 0;table-layout:fixed;text-align:center;}
.time-list .tit strong {font-family:notoB;font-size:32px;color:#111;}
.time-list .tit span {margin-left:10px;font-family:notoL;font-size:18px;}
.time-list .img {margin-top:25px;}
.time-list .img img {max-width:100%;}
.time-list .btn {margin-top:30px;text-align:center;}

/* TABLE */
.tbl-finance {margin-top:20px;border-top:2px solid #111;}
.tbl-finance th,
.tbl-finance td {height:70px;padding:0 20px;border:solid #dde2ea;border-width:0 0 1px 1px;}
.tbl-finance th:first-child,
.tbl-finance td:first-child {border-left:0;}
.tbl-finance thead th {background-color:#f5f6f8;font-size:18px;font-family:notoB;line-height:28px;}
.tbl-finance tbody th,
.tbl-finance tbody td {font-family:notoL;font-size:16px;}
.tbl-finance tbody th {text-align:left;}
.tbl-finance tbody td {text-align:right;}
.tbl-finance tbody td img {margin-right:8px;}
.tbl-finance tbody tr.bg1 th,
.tbl-finance tbody tr.bg1 td {background-color:#f2fbfb;}
.tbl-finance tbody tr.bg2 th,
.tbl-finance tbody tr.bg2 td {background-color:#f8f9fa;}

.gallery-swipe .slick-slide {transform:scale(0.81);transition:1s;opacity:.5;}
.gallery-swipe .slick-slide.slick-center {transform:scale(1);opacity:1;}
.gallery-swipe .slick-prev,
.gallery-swipe .slick-next {overflow:hidden;position:absolute;top:50%;z-index:2;width:37px;height:71px;margin-top:-75px;text-indent:-5000em;}
.gallery-swipe .slick-prev {left:23%;background-image:url('../../img/btn/btn_slide_prev02.png');}
.gallery-swipe .slick-next {right:23%;background-image:url('../../img/btn/btn_slide_next02.png');}
.gallery-swipe .slick-dots {margin-top:60px;}

/* SITEMAP */
.layer .sitemap {width:1240px;padding-bottom:0;}
.layer .sitemap .layer-head {border-bottom:0;}
.layer .sitemap .layer-head .layer-tit {font-size:48px;text-align:center;}
.layer .sitemap .layer-cont {padding:30px 60px;}
.layer .sitemap-area {overflow:hidden;}
.layer .sitemap-area a {display:block;position:relative;}
.layer .sitemap-area .dep1 {display:table;width:100%;table-layout:fixed;}
.layer .sitemap-area .dep1 > li {display:table-cell;}
.layer .sitemap-area .dep1 > li:last-child {width:14%;}
.layer .sitemap-area .dep1 > li > a {margin-bottom:26px;font-size:24px;font-family:notoB;color:#111;text-shadow:2px 2px 2px rgba(0,0,0,.2);}
.layer .sitemap-area .dep2 > li {margin-top:18px;}
.layer .sitemap-area .dep2 > li > a {font-size:16px;color:#333;}
.layer .sitemap-area .dep3 {margin-bottom:30px;}
.layer .sitemap-area .dep3 > li {position:relative;margin-top:18px;padding-left:7px;}
.layer .sitemap-area .dep3 > li:before {content:'';position:absolute;left:0;top:7px;width:4px;height:1px;background-color:#333;}
.layer .sitemap-area .dep3 > li + li {margin-top:14px;}
.layer .sitemap-area .dep3 > li > a {font-size:14px;font-family:notoL;color:#333;}
.layer .sitemap-area .dep4 {margin-bottom:20px;}
.layer .sitemap-area .dep4 > li {margin-top:8px;}
.layer .sitemap-area .dep4 > li > a {font-size:13px;font-family:notoL;line-height:18px;color:#999;}

/* 20190618 사업영역 */
/*.visual-area.technology {height:963px;text-align:left;background:url('../../img/bg/bg_tech.jpg') no-repeat 50% 0;}*/
.visual-area.technology .tit-txt {margin-top:0;}
.visual-area.technology h1 {margin-top:18px;font-size:50px;line-height:62px;color:#111;}

.tech-menu{width:100%;height:160px;}
.tech-menu.on{background-color:rgba(0,0,0,0.25);}
.tech-menu > nav{margin:0 auto;width:1240px;}
.tech-menu > nav > ul:after{display:block;clear:both;content:'';}
.tech-menu > nav > ul > li{float:left;width:25%;text-align:left;box-sizing:border-box;}
.tech-menu .dep1{display:block;padding:25px 30px 15px 30px;font-size:20px;font-weight:bold;color:#aaa;}
.tech-menu.on li:hover .dep1,
.tech-menu li .dep2 li.on a{color:#fff;}
.tech-menu .dep2{display:none;padding-left:30px;}
.tech-menu.on .dep2{display:block;}
.tech-menu .dep2 > li{margin-bottom:5px;box-sizing:border-box;}
.tech-menu .dep2 > li > a{display:block;font-size:14px;color:#8d8d8d;}
.tech-menu .dep2 > li > a:hover{color:#fff;}

.tech-cont{margin:40px auto 0;width:1240px;}
.tech-cont .cont-box{position:relative;}
.tech-cont .section{position:relative;display:none;}
.tech-cont .section.sec6,
.tech-cont .section.sec7,
.tech-cont .section.sec8,
.tech-cont .section.sec9,
.tech-cont .section.sec10,
.tech-cont .section.sec11{padding-top:100px;}
.tech-cont .tablist,
.tech-cont .like-tablist{position:absolute;top:0;right:0;z-index:10;}
.tech-cont .tablist{border:1px solid #fff;border-radius:2px;}
.tech-cont .tablist li{float:left;}
.tech-cont .like-tablist li{float:left;margin-right:20px;padding:20px 0 5px;font-size:18px;font-weight:bold;color:#fff;border-bottom:1px solid #fff;}
.tech-cont .tablist li a{display:inline-block;padding:0 20px;font-size:18px;line-height:37px;color:rgba(255,255,255,.4);background:none;border-right:1px solid #fff;}
.tech-cont .tablist li:last-child a{border-right:0;}
.tech-cont .tablist li a[aria-selected="true"]{font-weight:bold;color:#5c5c5d;background-color:#fff;border-right:0;}

.tech-cont .tab-panel:after,
.tech-cont .like-tab-panel:after{display:block;content:'';clear:both}

.tech-cont .tit-box{float:left;padding-left:25px;width:620px;height:270px;}
.tech-cont .sec1 .tit-box,
.tech-cont .sec2 .tit-box,
.tech-cont .sec3 .tit-box,
.tech-cont .sec4 .tit-box,
.tech-cont .sec5 .tit-box{float:none;width:100%;height:auto;}
/*.tech-cont .tit-box.dtd{background:url('../../img/content/bg_tit_tech01.png') no-repeat 25px 100%;}
.tech-cont .tit-box.front{background:url('../../img/content/bg_tit_tech02.png') no-repeat 25px 100%;}*/
.tech-cont .tit-box h2{font-family:notoB;font-size:40px;line-height:50px;color:#fff;}
.tech-cont .tit-box p{margin-top:20px;color:#fff;font-family:notoL;line-height:32px;}
.tech-cont .tit-box p.large-txt{margin-top:5px;font-size:30px;color:#fff;font-family:notoR;}
.tech-cont .tit-box p.img{height:auto;margin-top:6px;text-align:left;}
.tech-cont .txt-link{display:inline-block;margin:20px 0 0 75px;font-size:17px;line-height:32px;color:#fff;border-bottom:1px solid #fff;}
.tech-cont .tab-slide .tab-slide-cont{min-height:220px;}
.tech-cont .like-tab-slide{float:left;width:620px;padding:65px 30px 0;}
.tech-cont .sec2 .like-tab-slide,
.tech-cont .sec3 .like-tab-slide,
.tech-cont .sec4 .like-tab-slide,
.tech-cont .sec5 .like-tab-slide{float:none;width:100%;padding-top:40px;}
.tech-cont .sec8 .like-tab-slide,
.tech-cont .sec9 .like-tab-slide,
.tech-cont .sec10 .like-tab-slide,
.tech-cont .sec11.like-tab-slide{padding-top:0;}

.tech-cont .tab-slide {padding:40px 30px 0;}
.tech-cont .tab-slide > strong{font-size:24px;line-height:32px;color:#fff;font-family:notoB}
.tech-cont .tab-slide .in-order {margin-top:10px;}
.tech-cont .tab-slide .inverse-order {margin-top:30px;}
.tech-cont .tab-slide .in-order:after,
.tech-cont .tab-slide .inverse-order:after {content:"";display:block;clear:both;}
.tech-cont .tab-slide .in-order .tab-slide-cont,
.tech-cont .tab-slide .inverse-order .tab-slide-cont {position:relative;width:217px;box-sizing:border-box;background-color:rgba(0,0,0,.15);border:1px solid transparent;padding:17px 20px 0;transition:all .4s ease-out;}
.tech-cont .tab-slide .tab-slide-cont.on {background-color:rgba(0,0,0,.5);border:1px solid #ababaa;}
.tech-cont .tab-slide .in-order .tab-slide-cont {float:left;margin-left:24px;}
.tech-cont .tab-slide .inverse-order .tab-slide-cont {float:right;margin-right:24px;}
.tech-cont .tab-slide .in-order .tab-slide-cont:first-child {width:216px;margin-left:0;}
.tech-cont .tab-slide .inverse-order .tab-slide-cont:first-child {width:216px;margin-right:0;}
.tech-cont .tab-slide.tech-slide02 .in-order .tab-slide-cont,
.tech-cont .tab-slide.tech-slide02 .inverse-order .tab-slide-cont {width:377px;}
.tech-cont .tab-slide .in-order .tab-slide-cont:after {content:"";position:absolute;right:-21px;top:50%;display:block;width:16px;height:16px;background:url('../../img/content/bg_arrow.png') 0 0 no-repeat;margin-top:-8px;}
.tech-cont .tab-slide .in-order .tab-slide-cont:last-child:after {right:50%;top:inherit;bottom:-22px;margin:0 -8px 0 0;transform:rotate(90deg);-webkit-transform:rotate(90deg)}
.tech-cont .tab-slide .inverse-order .tab-slide-cont:after {content:"";position:absolute;left:-21px;top:50%;display:block;width:16px;height:16px;background:url('../../img/content/bg_arrow.png') 0 0 no-repeat;margin-top:-8px;transform:rotate(180deg);-webkit-transform:rotate(180deg)}
.tech-cont .tab-slide .inverse-order .tab-slide-cont:last-child:after {display:none;}
.tech-cont .tab-slide .tab-slide-cont .tit-item {font-size:20px;color:#fff;letter-spacing:0.5px;}
.tech-cont .tab-slide .tab-slide-cont.on .tit-item {color:#ffbc3d}
.tech-cont .tab-slide .tab-slide-cont p.service-item {margin-top:10px;font-family:notoL;font-size:16px;color:#fff;line-height:30px;word-break:keep-all;}

.tech-cont .tab-slide.tech-slide02 .tab-slide-cont:after{display:block;content:'';clear:both;}

.tech-cont .tab-slide [class*="icons"]:before {content:"";position:absolute;right:10px;bottom:10px;display:block;width:50px;height:50px;background:url('../../img/content/ico_btms.png') 0 0 no-repeat;}
.tech-cont .tab-slide .icons01:before {background-position:0 0;}
.tech-cont .tab-slide .icons02:before {background-position:-50px 0;}
.tech-cont .tab-slide .icons03:before {background-position:-100px 0;}
.tech-cont .tab-slide .icons04:before {background-position:-150px 0;}
.tech-cont .tab-slide .icons05:before {background-posion:0 -50px;}
.tech-cont .tab-slide .icons08:before {background-positition:-200px 0;}
.tech-cont .tab-slide .icons06:before {background-position:-250px 0;}
.tech-cont .tab-slide .icons07:before {background-position:-50px -50px;}
.tech-cont .tab-slide .icons09:before {background-position:-100px -50px;}
.tech-cont .tab-slide .icons10:before {background-position:-150px -50px;}
.tech-cont .tab-slide .icons11:before {background-position:-200px -50px;}
.tech-cont .tab-slide .icons12:before {background-position:-250px -50px;}
.tech-cont .tab-slide .icons13:before {background-position:0 -100px;}

.tech-cont .tab-slide .tit-item,
.tech-cont .like-tab-slide .tit-item{font-size:32px;font-weight:bold;color:#fff;line-height:140%;}
.tech-cont .like-tab-slide .tit-item.sm{font-size:24px;color:#fff;}
.tech-cont .like-tab-slide .tit-item.sm + .tit-item{margin-top:15px;}
.tech-cont .like-tab-slide .tit-item span{font-family:notoL;font-size:18px;}
.tech-cont .tab-slide .service-item,
.tech-cont .like-tab-slide .service-item{margin-top:20px;}
.tech-cont .tab-slide .no-tit{margin-top:50px;}
.tech-cont .tab-slide .service-item li,
.tech-cont .like-tab-slide .service-item li {padding:5px 2px;font-family:notoL;font-size:18px;color:#fff;line-height:130%;}
.tech-cont .like-tab-slide .service-item.lists li {line-height:160%;letter-spacing:-1px;}
.tech-cont .tab-slide .service-item li a,
.tech-cont .like-tab-slide .service-item li a,
.tech-cont .like-tab-slide p.service-item{display:block;font-size:18px;color:#fff;letter-spacing:-1px;}
.tech-cont .like-tab-slide .lists-dot li {display:inline-block;font-size:18px;color:#fff;margin-right:14px;}
.tech-cont .like-tab-slide .lists-dot > li:before {background-color:#fff;left:5px;top:9px;}
.tech-cont .like-tab-slide .full-imgs {width:100%;margin-top:15px;}
.tech-cont .like-tab-slide .full-imgs img {width:100%;}

.tech-cont .stepper-lists{position:relative;margin-top:25px;}
.tech-cont .stepper-lists.steps {position:static;}
.tech-cont .stepper-lists:after{content:"";display:block;clear:both;}
.tech-cont .stepper-lists:before{content:"";position:absolute;left:0;top:0;z-index:1;display:block;width:100%;height:246px;background:url('../../img/content/bg_stepper01.png') 0 0 no-repeat;}
.tech-cont .stepper-lists .stepper-inner{position:relative;z-index:2;float:left;width:33%;padding:45px 0 0 125px;}
.tech-cont .stepper-lists .stepper-inner:first-child{width:34%;}
.tech-cont .stepper-lists .stepper-inner p{display:table;width:100%;}
.tech-cont .stepper-lists .stepper-inner p strong{display:table-cell;height:50px;font-size:18px;font-weight:normal;line-height:26px;color:#fff;vertical-align:middle;}
.tech-cont .stepper-lists .stepper-inner ul{}
.tech-cont .stepper-lists .stepper-inner ul li{font-family:notoL;font-size:16px;line-height:30px;color:#fff;}

.tech-cont .img-box{margin-top:32px;}
.tech-cont .tbl-ty1.bg-blur{margin-top:20px;border-color:#fff;}
.tech-cont .tbl-ty1.bg-blur th{padding:7px 20px;font-size:16px;color:#fff;text-align:left;background:none;border-color:rgba(255,255,255,0.15);}
.tech-cont .tbl-ty1.bg-blur th.sbj{background:rgba(225,225,225,.2);font-family:notoB;font-size:26px;}
.tech-cont .tbl-ty1.bg-blur td{padding:7px 20px;font-family:notoL;font-size:14px;color:#fff;line-height:28px;text-align:left;border-color:rgba(255,255,255,0.15);}
.tech-cont .tbl-ty1.bg-blur td.sbj{padding:10px 20px;background:rgba(225,225,225,.2);font-family:notoB;font-size:20px;}
.tech-cont .tbl-ty1.bg-blur.sm table{border-bottom-color:rgba(255,255,255,0.2);}
.tech-cont .tbl-ty1.bg-blur.sm th{padding:12px 10px;font-size:15px;font-family:notoDL;background:rgba(0,0,0,.05);}
.tech-cont .tbl-ty1.bg-blur.sm td{padding:12px 10px;border-left:0;background:rgba(0,0,0,.05);}
.tech-cont .tbl-ty1.bg-blur.sm td input[type="text"]{height:40px;background:rgba(255,255,255,.1);border:0;line-height:40px;font-size:13px;color:rgba(255,255,255,.4);}
.tech-cont .tbl-ty1.bg-blur.sm td textarea{height:170px;background:rgba(255,255,255,.1);border:0;font-size:13px;color:rgba(255,255,255,.4);}

.tech-cont .txt-box{margin-top:25px;font-family:notoL;font-size:18px;line-height:32px;color:#fff;}
.tech-cont .txt-box strong{font-family:notoB;}
.tech-cont .txt-box.sm{font-size:16px;line-height:28px;}

.tech-cont .half-info{display:table;width:100%;margin-top:25px;}
.tech-cont .half-info dl{display:table-cell;width:50%;}
.tech-cont .half-info dl dt{font-family:notoB;font-size:20px;line-height:32px;color:#fff;}
.tech-cont .half-info dl dd{font-family:notoL;font-size:14px;line-height:22px;color:#fff;}
.tech-cont .half-info dl dd strong{display:block;margin-top:7px;font-size:16px;line-height:32px;}

.tech-cont .scroll-box{overflow-y:auto;height:350px;padding-right:10px;margin-right:-30px;}
.tech-cont .scroll-box .terms-list{margin-top:20px;}
.tech-cont .scroll-box .terms-list input + label.type3{min-height:60px;padding-left:65px;line-height:58px;color:#fff;font-family:notoR;font-size:15px;}
.tech-cont .scroll-box .terms-list input + label.type3:before{opacity:.4;top:16px;width:24px;height:24px;background-size:100%;}
.tech-cont .scroll-box .terms-list > li{border-color:rgba(255,255,255,.3);border-width:1px 0;background:rgba(0,0,0,.2);}
.tech-cont .scroll-box .terms-list .accor-content{overflow:hidden;height:inherit;border-color:rgba(255,255,255,.2);color:#fff;}
.tech-cont .scroll-box .btn-area{margin-top:20px;}
.tech-cont .scroll-box .btn-area .btns-solid1{min-width:150px;height:50px;line-height:50px;font-size:16px}

.layer-inner.sp-size{width:480px;}
.layer-inner.sp-size .layer-head{padding:40px 40px 0;border-bottom:0;}
.layer-inner.sp-size .layer-cont {overflow-y:visible;}
.layer-inner.sp-size .fortune-layer{padding:60px 30px;background:#f8f9fa;font-size:18px;line-height:28px;text-align:center;}
.layer-inner.sp-size .fortune-layer strong{display:block;margin-top:24px;font-family:notoB;font-size:20px;line-height:30px;}
.layer-inner.sp-size .fortune-layer strong span{display:block;}

.tech-cont .bg-blur{background:rgba(0,0,0,.15)}
.tech .wrap-inr{padding:0;}
.footer.stick-btm {margin-top:0;}
.footer.stick-btm .footer-inr {position:static;}

.move-box {position:relative;}
.sec4 .move-box .imgs {padding-top:40px;}
.sec5 #tech-tab05_1 .move-box .imgs {padding-top:20px;text-align:center;}
.move-box .steps {position:absolute;right:120px;top:72px;}
.move-box .steps li {opacity:0;transform:scale(.8,.8);-webkit-transform:scale(.8,.8);transition:all .4s ease-out;}
.move-box .steps li.on {opacity:1;transform:scale(1,1);-webkit-transform:scale(1,1);}
.move-box .steps.ty-txt li {font-family:notoL;font-size:18px;color:rgba(255,255,255,.4);}
.sec2 .move-box .steps {left:0;top:105px;width:100%;}
.sec2 .move-box .steps li {display:inline-block;width:33%;text-align:center;}
.sec3 .move-box .steps {left:0;top:25px;width:100%;}
.sec3 .move-box .steps li {display:inline-block;width:19.75%;text-align:center;}
.sec4 #tech-tab04_2 .move-box .steps.ty-txt {top:96px;width:220px;}
.sec4 #tech-tab04_2 .move-box .steps.ty-txt li {color:#fff;margin-top:68px;}
.sec4 #tech-tab04_2 .move-box .steps.ty-txt li:first-child {margin-top:0;}
.sec4 #tech-tab04_3 .move-box .steps {top:0;left:0;width:100%;height:100%;}
.sec4 #tech-tab04_3 .move-box .steps li {position:absolute;left:50%;top:50%;margin:-172px -0 0 -235px;}
.sec4 #tech-tab04_3 .move-box .steps li:first-child {margin:-5px 0 0 -107px;}
.sec5 .move-box .steps {left:0;top:0;width:100%;height:100%;}
.sec5 .move-box .steps.ty-txt li {position:absolute;}
.sec5 .move-box .steps.ty-txt li.pos1 {left:115px;top:87px;}
.sec5 .move-box .steps.ty-txt li.pos2 {left:310px;top:59px;}
.sec5 .move-box .steps.ty-txt li.pos3 {left:460px;top:154px;}
.sec5 .move-box .steps.ty-txt li.pos4 {left:495px;top:270px;}
.sec5 .move-box .steps.ty-txt li.pos5 {left:420px;top:420px;}
.sec5 .move-box .steps.ty-txt li.pos6 {left:290px;top:480px;}
.sec5 .move-box .steps.ty-txt li.pos7 {left:130px;top:450px;}
.sec5 .move-box .steps.ty-txt li.pos8 {left:0px;top:345px;}
.sec5 .move-box .steps.ty-txt li.pos9 {left:0px;top:200px;}

.in-sep {padding-top:15px;}
.in-sep:after {content:"";display:block;clear:both;}
.in-sep .left {position:relative;float:left;width:480px;}
.in-sep .tbl-ty1 {float:right;width:700px;}

/* 약관 */
.mem-rule .tit-ty1{margin:58px 0 0;font-size:24px;text-align:left;line-height:1;color:#333;}
.mem-rule .tit-ty2{margin:40px 0 0;font-size:20px;line-height:1;color:#333;}
.mem-rule .txt{margin:25px 0 0;font-size:16px;color:#666;line-height:28px;font-family:notoL;}
.mem-rule .txt + .txt{margin-top:2px;}
.mem-rule .tx-list li{margin-top:5px;font-size:16px;color:#666;line-height:28px;font-family:notoL;}
.mem-rule .tx-list li:first-child{margin-top:20px;}
.mem-rule .tx-list ul{padding:10px 0 10px 20px;}
.mem-rule .tx-list ul li:first-child{margin-top:0;}
.mem-rule table{margin-top:30px;border-top:2px solid #22242b;}
.mem-rule table tr th{padding:24px 0;font-size:18px;font-weight:bold;color:#333;background:#f5f6f8;border-left:1px solid #dde2ea;border-bottom:1px solid #dde2ea;}
.mem-rule table tr td{padding:24px 0;font-size:16px;font-weight:normal;color:#666;border-left:1px solid #dde2ea;border-bottom:1px solid #dde2ea;}
.mem-rule table tr th:first-child,
.mem-rule table tr td:first-child{border-left:none;}
.mem-rule table tr td.border-l {border-left:1px solid #dde2ea;}
.mem-rule .index-list{margin-top:20px;padding:35px 40px 40px;background:#f8f9fa;overflow:hidden;}
.mem-rule .index-list .tit-ty2{font-size:20px;}
.mem-rule .index-list .colm{float:left;width:50%;}
.mem-rule .index-list .colm ul{margin-top:16px;}
.mem-rule .index-list .colm ul li{padding-top:10px;font-size:16px;color:#666;font-family:notoL;}
.mem-rule .index-list .colm ul li:first-child{padding-top:0;}
.mem-rule .index-list .colm ul li em{font-weight:bold;color:#333;font-family:notoB;}

/* 조직도 */
.org-chart li{display:inline-block;width:100%;text-align:center;font-size:18px;}
.org-chart li strong{display:inline-block;padding:25px 0;width:192px;font-family:notoB;font-size:20px;}
.org-item1>li>strong{color:#fff;background:#c70000;}
.org-item2{display:table;padding-top:70px;width:100%;position:relative;}
.org-item2:before{content:'';width:80%;height:1px;background:#dde2ea;position:absolute;left:10%;top:35px;}
.org-item2>li{display:table-cell;width:20%;position:relative;}
.org-item2>li:before{content:'';width:1px;height:35px;background:#dde2ea;position:absolute;left:50%;top:-35px;}
.org-item2>li:nth-child(3):before{height:70px;top:-70px;}
.org-item2>li>strong{color:#333;background:#f5f6f8;border:1px solid #dde2ea;}
.org-item-detail{margin:30px auto 0;width:192px;position:relative;}
.org-item-detail:before{content:'';width:1px;height:100%;background:#dde2ea;position:absolute;left:50%;top:-30px;}
.org-item-detail>li{display:block;padding:25px 0;font-family:notoL;border:1px solid #dde2ea;background:#fff;position:relative;}
.org-item-detail>li+li{margin-top:10px;}

/* 마이스 수정부분 */
.mice-comp{width:1240px;margin:0 auto;font-size:18px;text-align:center;color:#666;}
.mice-comp .comp-list{padding-top:77px;}
.mice-comp .comp-list li:first-child{width:30%}
.mice-comp .comp-list li .sub-tit{font-size:18px;}
.mice-comp .comp-list li .count-num{font-size:100px;padding-bottom:32px;}
.collaboration-comp{width:1240px;margin:0 auto;padding:62px 0 30px;}
.collaboration-comp ul:after{content:"";display:block;clear:both;}
.collaboration-comp ul li{float:left;margin:20px 0 0 20px;}
.collaboration-comp ul li:first-child,
.collaboration-comp ul li:nth-child(4n+1){margin-left:0;}

/* 2019-09-20 사업영역 지도 추가*/
.belong-maps{position:relative;margin-top:15px;}
.belong-maps > button {position:absolute;top:0;z-index:10;color:#fff;font-size:18px;}
.belong-maps .links-map1 {left:40px;top:115px;}
.belong-maps .links-map2 {left:30px;top:88px;}
.belong-maps .links-map3 {left:30px;top:150px;}
.belong-maps .links-map4 {left:83px;top:208px;}
.belong-maps .links-map5 {right:25px;top:179px;}
.belong-maps .links-map6 {right:20px;top:228px;}
.belong-maps .links-map7 {right:54px;top:332px;}
.belong-maps .links-img {position:absolute;left:0;top:0;z-index:1;width:100%;height:100%;transition:all .4s ease-out;opacity:0;}
.belong-maps > button.on + .links-img,
.belong-maps > button:hover + .links-img {opacity:1;}

.netword-list li {margin-top:10px;}
.netword-list li:first-child {margin-top:0;6}
.netword-list dt {font-size:18px;}
.netword-list dd {margin-top:5px;font-size:15px;font-weight:normal;line-height:20px;color:#666;}
.netword-list dd span {display:inline-block;}
.netword-list dd span + span {margin-left:20px;}

/* 201909_ITSP_개인정보처리방침 START 2019-09-10 변경추가 */
.underline {text-decoration:underline;}
.agree_bx * {font-family:"맑은 고딕", "Malgun Gothic", Arial, Helvetica, "Apple SD Gothic Neo", sans-serif !important;line-height:1.6 !important; color:#77787b;word-break:keep-all;word-wrap:normal !important;letter-spacing:normal !important;}
.agree_bx, .agree_bx p, .agree_bx div, .agree_bx table, .agree_bx ul, .agree_bx ul li, .agree_bx button {font-size:16px !important; line-height:1.6 !important;}
.agree_bx .ext_link {border:0 !important;background-color:#fff !important;color:#77787b !important;padding:0 25px 0 0 !important;background: url("../../img/ico/ico_link.png") no-repeat 100% 70%; background-size: 14px auto;}
.agree_bx .clr5 {color:#c70000 !important;}
.agree_bx .ac {text-align: center !important;}
.agree_bx .list-ty-dash,
.agree_bx p.list-ty-dash {margin-left:20px !important;}
.agree_bx ul.list-ty-dash>li,
.agree_bx p.list-ty-dash,
.agree_bx span.list-ty-dash {position:relative;padding-left:10px !important;}
.agree_bx ul.list-ty-dash>li:before,
.agree_bx p.list-ty-dash:before,
.agree_bx span.list-ty-dash:before {content:'';position:absolute;left:0;top:13px !important;display:inline-block;width:4px;height:1px;background-color:#77787b !important}
.agree_bx ul.list-ty-num {overflow: hidden}
.agree_bx ul.list-ty-num>li {position:relative;display:block;box-sizing: border-box;margin:0 !important;padding-left:22px !important;line-height:1.6 !important;}
.agree_bx ul.list-ty-num>li:first-child {margin-top: 0 !important;}
.agree_bx ul.list-ty-num>li>.num {position:absolute;left:0;top:1px;letter-spacing:-0.025em !important;}
.agree_bx .tx_indent {padding-left:20px !important;}
.agree_bx div p strong {display:block;margin-top:40px !important;font-size:1.2em !important;font-weight:bold;color:#444 !important;}
.agree_bx>.index {padding:30px;background:#f8f8f8;overflow:hidden;}
.agree_bx>.index>li {float:left;width:50%;padding-right:20px;font-weight:bold;color:#333 !important;line-height:1.6 !important;box-sizing:border-box;}
.agree_bx>.index>li>a{color:#333 !important;}
.agree_bx>h2 {font-size:1.4em !important;line-height:2 !important;color:#444 !important;}
.agree_bx .table_col_wrap {overflow:hidden;}
.agree_bx .table_col_wrap>.table_col {float:left; width:33.33%;box-sizing:border-box;margin:0;padding:0;border:1px solid #e4e4e4; border-collapse: collapse; border-spacing:0;}
.agree_bx .table_col_wrap>.table_col>dt,
.agree_bx .table_col_wrap>.table_col>dd {display:block;text-align:center;margin:0; padding:5px;}
.agree_bx .table_col_wrap>.table_col>dt {font-weight:bold;background:#f8f8f8; color:#555;}
.agree_bx .table_col_wrap>.table_col>dd {border-top:1px solid #e4e4e4;}
.agree_bx>div>.table-responsive {margin-top:20px !important;border-collapse:collapse;width:100%;}
.agree_bx>div>.table-responsive:after {display: block;content:"";clear:both;overflow:hidden}
.agree_bx>div>.table-responsive>.person_tb {clear:both;width:100%;margin:0;border-top:2px #222 solid;border-bottom:1px solid #dde2ea;border-collapse:collapse;border-spacing:0;}
.agree_bx>div>.table-responsive>.person_tb>a {color:#666}
.agree_bx>div>.table-responsive>.person_tb>thead>tr>th,
.agree_bx>div>.table-responsive>.person_tb>thead>tr>td {padding:15px;border:1px solid #e4e4e4;}
.agree_bx>div>.table-responsive>.person_tb>tbody>tr>th,
.agree_bx>div>.table-responsive>.person_tb>tbody>tr>td{padding:10px;border:1px solid #e4e4e4;}
.agree_bx>div>.table-responsive>.person_tb>thead>tr>th {background:#f8f8f8;font-weight:bold;color:#555;text-align:center;}
.agree_bx>div>.table-responsive>.person_tb>tbody>tr:first-child>th,
.agree_bx>div>.table-responsive>.person_tb>tbody>tr:first-child>td {border-top:0}
.agree_bx>div>.table-responsive>.person_tb>tbody>tr>th {background:#77787b;color:#555;font-weight:normal}
.agree_bx>div>.table-responsive>.person_tb>tbody>tr>td {line-height:1.6;text-align:left;}
.agree_bx>div>.table-responsive>.person_tb>tbody>tr>th strong,
.agree_bx>div>.table-responsive>.person_tb>tbody>tr>td strong {font-weight:bold !important;}
.agree_bx>div>.table-responsive>.person_tb>tbody>tr>td span,
.tech-cont .scroll-box .terms-list > li .agree_bx td span {font-size:inherit !important;}
.agree_bx .addfile {width:auto;padding:10px 0;font-weight:bold;color:#77787b !important;}
.agree_bx .addfile a {color:#77787b !important;}
.agree_bx .addfile:after {content:'';display:inline-block;vertical-align:middle;width:18px;height:18px;margin:0 5px !important;background:url("../../img/ico/ico_download.png") no-repeat 0 0;}
.agree_bx .unerline {display:inline-block;font-size:11px !important;font-weight:bold;line-height:100%;text-decoration:underline !important;}
.agree_bx .comment {font-size: .938em !important;}
.agree_bx .emphasis {font-size:120% !important;color:#c70000 !important;font-weight:bold !important;}

.accor-content .agree_bx,
.accor-content .agree_bx p,
.accor-content .agree_bx div,
.accor-content .agree_bx table,
.accor-content .agree_bx ul li,
.accor-content .agree_bx ol li,
.accor-content .agree_bx dl dt,
.accor-content .agree_bx dl dd {font-size:14px !important;line-height: 1.6 !important;}
.accor-content .agree_bx p strong {margin-top:15px !important;font-size:16px !important;line-height: 1.6 !important;}
.accor-content .agree_bx>div>ul.list-ty-num {overflow: hidden}
.accor-content .agree_bx>div>ul.list-ty-num>li {position:relative;margin-top:0 !important; padding-left:18px !important;}
.accor-content .agree_bx>div>ul.list-ty-num>li:first-child {margin-top:0 !important; }
.accor-content .agree_bx>div>ul.list-ty-num>li>.num {position:absolute;left:0;top:0;font-size:14px !important;line-height: 1.4 !important;}
/* 201909_ITSP_개인정보처리방침 END 2019-09-23 수정 */

/* 개인정보처리방침 2019-09-19 pkg - content에서 옮겨옴(맨아래개인정보처리방침 목록에관한 요청이 있었습니다)  */
.prev-protect {margin-top:50px;padding:40px;background:#f8f9fa;font-size:18px;font-weight:bold;color:#333;line-height:28px;}
.prev-protect:after {content:'';display:block;clear:both}
.prev-protect a {display:inline-block;float:left;width:25%;font-size:16px;font-weight:normal;}
.prev-protect a.protect-version {float:none;display:block;width:100%;margin-bottom:30px;font-size:18px;font-weight:bold;}
.prev-protect a:hover {text-decoration:underline;text-decoration-color:#767677;}
.prev-protect a, .prev-protect a:link, .prev-protect a:visited {color:#666;}

.person-box {margin-top:60px;padding:20px 35px 34px;background-color:#f8f9fa;box-sizing:border-box;}
.person-box p {margin-top:14px;}
.person-box a {font-size:16px;line-height:15px;color:#333;}
.person-box a:hover {text-decoration:underline;}

.terms-list.fix > li .agree_bx * {color:#fff !important;}
.terms-list.fix > li .agree_bx table {border-color:#fff;}
.terms-list.fix > li .agree_bx th {background:#888;border-color:#999;}
.terms-list.fix > li .agree_bx th:not(:last-child) > span {color:#333 !important;}
.terms-list.fix > li .agree_bx td {border-color:#999;}

/* 2019.12.03 */
/*  수정 */
/*.visual-area.technology{background:url('../../img/new/bg_tech.jpg') no-repeat 50% 0}*/
.tech-cont .tit-box p{margin-top:0;font-size:18px}
.tech-cont .tablist{right:30px}
.tech-cont .tab-slide{padding:60px 0 0 30px}
.tech-cont .tab-slide > strong{font-size:30px;color:#ff8133}
.tech-cont .tab-slide .in-order{margin-top:0}
.tech-cont .tab-slide .inverse-order{margin-top:0}
.tech-cont .tab-slide .in-order .tab-slide-cont,
.tech-cont .tab-slide .inverse-order .tab-slide-cont{width:204px;min-height:245px;margin:0;padding:0 5px;text-align:center;background-color:transparent;border:none}
.tech-cont .tab-slide .in-order .tab-slide-cont:after{content:none}
.tech-cont .tab-slide .tab-slide-cont .tit-item{font-family:'notoM';font-weight:normal}
.tech-cont .tab-slide .inverse-order .tab-slide-cont:after{content:none}
.tech-cont .tab-slide .tab-slide-cont p.service-item{opacity:0;margin-top:0;line-height:24px;/*transition:all .4s ease-out*/}
.tech-cont .tab-slide [class*="icons"]:before{left:50%;top:0;margin:17px 0 0 -18px;width:36px;height:36px;z-index:1;background-image:url("../../img/new/ico_btms.png");opacity:0.7}
.tech-cont .tab-slide .icons01:before{background-position:0 0}
.tech-cont .tab-slide .icons02:before{background-position:-36px 0}
.tech-cont .tab-slide .icons03:before{background-position:-72px 0}
.tech-cont .tab-slide .icons04:before{background-position:-108px 0}
.tech-cont .tab-slide .icons05:before{background-position:-144px 0}
.tech-cont .tab-slide .icons06:before{background-position:0 -36px}
.tech-cont .tab-slide .icons07:before{background-position:-36px -36px}
.tech-cont .tab-slide .icons08:before{background-position:-72px -36px}
.tech-cont .tab-slide .icons09:before{background-position:-108px -36px}
.tech-cont .tab-slide .icons10:before{background-position:-144px -36px}
.tech-cont .tab-slide .icons11:before{background-position:0 -72px}
.tech-cont .tab-slide .icons12:before{background-position:-36px -72px}
.tech-cont .tab-slide .icons13:before{background-position:-72px -72px}
.tech-cont .tablist li a{font-family:'notoL'}
.tech-cont .tablist li a[aria-selected="true"]{font-family:'notoB'}
.tech-cont .like-tab-slide .tit-item.sm{font-size:30px;color:#ff8133}
.tech-cont .like-tab-slide .lists-dot li{display:block}
.tech-cont .tab-slide .service-item,
.tech-cont .like-tab-slide .service-item{margin-top:15px;font-family:'notoL'}
.sec3 .move-box .steps{top:117px;display:table;width:100%}
.sec3 .move-box .steps li{display:table-cell}
.sec3 .move-box .steps li:nth-child(1), .sec3 .move-box .steps li:nth-child(5){width:16.78%}
.sec3 .move-box .steps li:nth-child(2), .sec3 .move-box .steps li:nth-child(4){width:19.32%}
.sec3 .move-box .steps li:nth-child(3){width:27.8%;padding-right:20px;box-sizing:border-box}
.sec4 #tech-tab04_2 .move-box .steps.ty-txt li{margin-top:87px}
.sec4 #tech-tab04_3 .move-box .steps:after{content:'';display:block;clear:both}
.sec4 #tech-tab04_3 .move-box .steps{position:static;margin-top:30px}
.sec4 #tech-tab04_3 .move-box .steps li:first-child{margin:20px 0 0 0}
.sec4 #tech-tab04_3 .move-box .steps li{position:static;width:220px;height:180px;float:left;margin:20px 0 0 20px;background-color:rgba(0,0,0,0.1);border:1px solid rgba(255,255,255,0.1);box-sizing:border-box}

/* 추가 */
.tech-cont .tit-box h2 .large-txt{font-size:24px;font-family:'notoL'}
.tech-cont .tit_str{padding-top:10px;font-size:30px;font-family:'notoL';color:#fff}
.tech-cont .tit_str strong{font-family:'notoB'}
.tech-cont .tit_str+.tab-slide-cont{margin-top:45px}
.tech-cont .door_box{margin-top:50px;padding-left:20px;background:url("../../img/new/bg_door.png") no-repeat 0 22px}
.tech-cont .tab-slide.tech-slide01 .tit-item{padding-top:80px;margin-bottom:5px}
.tech-cont .tab-slide .tit-item:before{position:absolute;content:'';display:block;left:50%;top:0;margin-left:-35px;width:70px;height:70px;background-color:#8d8d8d;border-radius:50%;transition:all .4s ease-out}
.tech-cont .tab-slide.tech-slide01 .in-order{padding-right:140px}
.tech-cont .tab-slide.tech-slide01 .inverse-order{padding-right:170px}
.tech-cont .tab-slide.tech-slide01 .in-order .tab-slide-cont:first-child{width:204px}
.tech-cont .tab-slide.tech-slide01 .inverse-order .tab-slide-cont:first-child{width:204px}
.tech-cont .tab-slide .tab-slide-cont.on{color:#ffbc3d;background-color:transparent;border:none}
.tech-cont .tab-slide .tab-slide-cont.on .tit-item{font-family:'notoB'}
.tech-cont .tab-slide .tab-slide-cont.on .tit-item:before{background-color:#ed1c24}
.tech-cont .tab-slide .tab-slide-cont.on .service-item{opacity:1}
.tech-cont .tab-slide .tab-slide-cont.on[class*="icons"]:before{opacity:1}
.tech-cont .front_box:after{content:'';display:block;clear:both}
.tech-cont .front_box{position:relative;margin-top:45px;background:url("../../img/new/bg_front.png") no-repeat 400px 20px}
.tech-cont .tab-slide.tech-slide02 .tab-slide-cont{position:relative;padding-right:250px;width:50%;float:left;min-height:145px;text-align:right;box-sizing:border-box;transition:all .4s ease-out}
.tech-cont .tab-slide.tech-slide02 .tab-slide-cont:nth-child(2n){float:right;margin-top:45px;text-align:left;padding:0 0 0 230px}
.tech-cont .tab-slide.tech-slide02 .tab-slide-cont .tit-item{height:70px;line-height:70px;padding-bottom:5px}
.tech-cont .tab-slide.tech-slide02 .tab-slide-cont .tit-item:before{left:auto;right:160px}
.tech-cont .tab-slide.tech-slide02 .tab-slide-cont:nth-child(2n) .tit-item:before{left:168px}
.tech-cont .tab-slide.tech-slide02 .tab-slide-cont[class*="icons"]:before{left:auto;right:176px}
.tech-cont .tab-slide.tech-slide02 .tab-slide-cont:nth-child(2n)[class*="icons"]:before{left:169px}
.tech-cont .tab-slide.tech-slide02 .tab-slide-cont:nth-child(5){margin-top:47px}
.tech-cont .tab-slide.tech-slide02 .tab-slide-cont:nth-child(6){margin-top:0}
/* .tech-cont .tab-slide.tech-slide02 .tab-slide-cont.on .tit-item{margin-bottom:10px;height:auto;line-height:inherit} */
.tech-cont .like-tab-slide .lists-dot{margin-top:10px}
.sec3 .like-tab-slide .tit-item.sm{position:relative;top:60px;z-index:1;text-align:center}
.tech-cont .sec3 .like-tab-slide p.service-item{font-size:16px}
.sec3 .move-box{margin-top:-20px}
.sec3 h4{margin-top:20px;font-size:20px;font-family:'notoB';color:#fff}
.sec4 #tech-tab04_1 .move-box{margin-top:40px;position:relative}
.sec4 #tech-tab04_1 .move-box .steps:after{content:'';display:block;clear:both}
.sec4 #tech-tab04_1 .move-box .steps{position:static}
.sec4 #tech-tab04_1 .move-box .steps li+li{margin-left:65px}
.sec4 #tech-tab04_1 .move-box .steps li{float:left}
.sec4 #tech-tab04_3 .move-box .steps li:nth-child(4){clear:both;margin-left:0}
.sec4 #tech-tab04_3 .move-box .steps .cont_box{padding:29px 19px}
.sec4 #tech-tab04_3 .move-box .steps h4{font-size:20px;font-family:'notoM';color:#fff}
.sec4 #tech-tab04_3 .move-box .steps p{margin-top:20px;font-size:16px;font-family:'notoL';color:#fff;line-height:30px}
.sec4 #tech-tab04_3 .move-box .imgs{padding-top:0;position:absolute;right:-70px;bottom:-30px}
.sec4 #tech-tab04_3 .move-box .txt-service{padding-top:10px;width:100%;position:absolute;left:0;bottom:-20px;text-align:center;color:#fff;line-height:20px;font-size:15px;font-weight:normal;}
.sec4 #tech-tab04_3 .txt-service-btm {padding-top:80px;color:#fff;line-height:24px;font-size:16px;font-weight:normal;}
.sec4 #tech-tab04_3 .move-box .trophy{position:absolute}
.tech-cont .like-tab-slide .tit-item+.service-item{margin-top:10px}
.sparkle{
	opacity:0;
	-webkit-animation:blink 0.2s 3s ease-in-out infinite alternate;
	-moz-animation:blink 0.2s 3s ease-in-out infinite alternate;
	animation:blink 0.2s 3s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
	0%{opacity:0}
	100%{opacity:1}
}
@-moz-keyframes blink{
	0%{opacity:0}
	100%{opacity:1}
}
@keyframes blink{
	0%{opacity:0}
	100%{opacity:1}
}

/* gbn, intro 추가분 */
.intro_page .header .header-inr {overflow:visible;}
.intro_page .header.intro {position:absolute;top:0;left:0;z-index:100;width:100%;}
.intro_page .header.intro.active {background:#ffffff;}
.intro_page .header h1 a {display:block;width:143px;height:34px;background:url('../../img/layout/logo_redcap_white.png') no-repeat 0 0;text-indent:-999em;}
.intro_page .header.intro.active h1 a {background-image:url('../../img/layout/logo_redcap.png');}
.intro_page .header.intro .gnb > ul > li > a {color:#ffffff;}
.intro_page .header.intro .gnb > ul {width:auto;}
.intro_page .header.intro.active .gnb > ul > li > a {color:#111111;}
.multi-lang-area {display:inline-block;position:relative;margin:14px 0 0 42px;vertical-align:top;}
.multi-lang-area .user-lang {display:inline-block;width:85px;height:38px;padding:12px 0 0 20px;outline:0;background:url('../../img/bg/bg_header_lang_select_black.png') no-repeat 57px 22px;color:#111111;font-size:14px;line-height:26px;text-align:left;vertical-align:top;}
.intro_page .multi-lang-area .user-lang {background:url('../../img/bg/bg_header_lang_select.png') no-repeat 57px 22px;color:#ffffff;}
.intro_page .header.intro.active .multi-lang-area .user-lang {color:#111;background-image:url('../../img/bg/bg_header_lang_select_black.png');}
.multi-lang-area .user-lang.on,
.intro_page .header.intro.active .multi-lang-area .user-lang.on {background-color:#ffffff;background-image:url('../../img/bg/bg_header_lang_select_black_on.png');box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3);}
.multi-lang-area .lang_list {display:none;position:absolute;top:38px;z-index:9999;width:85px;margin-top:-2px;padding:6px 0 13px 0;background:#ffffff;box-shadow:2px 5px 5px rgba(0, 0, 0, 0.3);}
.multi-lang-area .user-lang.on ~ .lang_list {display:block;}
.multi-lang-area .lang_list li button {height:26px;padding-left:20px;font-size:14px;color:#111111;line-height:26px;}
.multi-lang-area .lang_list li button:hover,
.multi-lang-area .lang_list li button:focus {color:#fe0000;text-decoration:underline;}
#intro_mov {overflow:hidden;position:relative;}
#intro_mov .overlay {display:none;position:absolute;width:100%;height:100%;background:url('../../img/bg/07.png') repeat 0 0;}
#intro_mov video {width:100%;height:auto;vertical-align:top;}
.intro_page .gnb-dim {z-index:10;}

/* 자세히보기버튼추가 */
.intro-btn {width:100%;text-align:center;}
.intro-btn .btn-more{position:relative;display:inline-block;width:135px;text-align:center;font-size: 23px;color: #c70000;padding-bottom:13px;margin-top:60px;letter-spacing:-1px;}
.intro-btn .btn-more::after{position:absolute;bottom:0;left:0;right:0;margin:auto;content: '';display:block;width:100px;height:3px;background:#c70000;transition: .2s;}
.intro-btn .btn-more:hover::after{width:135px;}

/* Q&A 약관보기 수정 */
.terms-list.fix.qna .accor-content {padding:10px 20px;height:auto;}

/* 2020-01-30 동영상 크기조절 */
@media (min-width:768px) and (max-width:1366px) {
	#intro_mov video {
	/* width:2000px; */
	vertical-align:top;
	position: absolute;
	top: -28px;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto;
	background:#000;
	margin-bottom:20px;
	}
}