@charset "utf-8";

/* SKIP */
.skip-nav {position:relative;z-index:9999}
.skip-nav a {position:absolute;left:0;right:0;top:-27px;background-color:#000;filter:alpha(opacity=90);opacity:0.9;text-align:center}
.skip-nav a:focus,
.skip-nav a:active {top:0}
.skip-nav a span {color:#fff;font-size:11px;line-height:26px;letter-spacing:-1px}

/* COMMON */
html, body, .wrap {height:100%;}
.wrap {min-width:1280px;}
.wrap-inr {position:relative;min-height:100%;padding-bottom:117px;}

/* HEADER */
.header .header-inr {/*overflow:hidden;*/width:1240px;margin:0 auto;}
.header h1 {float:left;height:94px;padding-top:30px;font-size:0;}
.header h1 a {display:block;}

/* GNB */
.gnb {float:right;padding-top:18px;}
.gnb > ul {display:inline-block;width:100%;vertical-align:top;}
.gnb > ul > li {float:left;}
.gnb > ul > li > a {display:block;padding:25px 16px;font-family:notoB;font-size:18px;line-height:26px;color:#111-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;}
.gnb > ul > li:last-child > a {padding-right:0;}
.gnb > ul > li > a[aria-expanded='true'] {color:#c70000;}
.gnb-category {visibility:hidden;position:absolute;left:0;top:94px;z-index:200;width:100%;border-top:1px solid #dde2ea;}
.gnb-category.on {display:block}
.gnb-category .inner {position:relative;z-index:110;background-color:#fff}
.gnb-category a {color:#333;line-height:26px}
.gnb-category li {position:relative;}
.gnb-category .gnb-dep1 {display:table;position:relative;width:1240px;margin:0 auto;font-size:0;}
/*.gnb-category .gnb-dep1:before {content:'';position:absolute;left:85px;top:0;bottom:0;z-index:2;width:1px;background-color:#dde2ea;}*/
.gnb-category .gnb-dep1:after {content:'';display:block;clear:both}
.gnb-category .gnb-dep1-item {border-right:1px solid #dde2ea;border-left:1px solid #dde2ea;box-sizing:border-box}
.gnb-category .gnb-dep1-item:before{content:'';position:absolute;left:25%;top:0;z-index:-1;width:1px;height:100%;background-color:#dde2ea;}
.gnb-category .gnb-dep1-item:after {content:'';position:absolute;left:50%;top:0;z-index:-1;width:25%;height:100%;border-left:1px solid #dde2ea;border-right:1px solid #dde2ea;}
/*.gnb-category .gnb-dep1-item:before {left:483px;}
/* .gnb-category .gnb-dep1-item:after {left:881px;} */
.gnb-category .gnb-dep1-link {font-size:18px;font-weight:bold}
.gnb-category .gnb-dep2:after{content:'';display:block;clear:both}
.gnb-category .gnb-dep2 {display:table;width:100%;}
.gnb-category .gnb-dep2 > li {display:inline-table;width:25%;padding:40px 0 20px 40px;}
.gnb-category .gnb-dep2 a {white-space:nowrap;}
.gnb-category .gnb-dep2 a:hover,
.gnb-category .gnb-dep2 a.on {color:#c70000;}
.gnb-category .gnb-dep3 {position:relative;}
.gnb-category .gnb-dep2-item > a {font-size:18px;font-weight:bold;line-height:38px;color:#111;}
.gnb-category .gnb-dep3-item > a {font-size:16px;line-height:34px;color:#333;}
.gnb-category .gnb-dep3 .btns-dep4 {position:absolute;right:15px;top:-5px;display:block;width:35px;height:35px;color:transparent;}
.gnb-category .gnb-dep3 .btns-dep4:before,
.gnb-category .gnb-dep3 .btns-dep4:after {content:"";position:absolute;left:50%;top:50%;display:block;background:#333;}
.gnb-category .gnb-dep3 .btns-dep4:before {width:11px;height:1px;margin-left:-5px;}
.gnb-category .gnb-dep3 .btns-dep4:after {width:1px;height:11px;margin-top:-5px;}
.gnb-category .gnb-dep3 .btns-dep4.on:after {display:none;}
.gnb-category .gnb-dep4 {display:none;}
.gnb-category .gnb-dep4-item > a {position:relative;padding-left:11px;font-size:14px;line-height:30px;color:#666;}
.gnb-category .gnb-dep4-item > a:before {content:"";position:absolute;left:0;top:10px;display:block;width:4px;height:1px;background:#666;}
.gnb-dim {position:fixed;left:0;right:0;top:144px;bottom:0;z-index:1;background:rgba(0,0,0,.5)}

/* LOCATION */
/*.location {overflow:hidden;height:60px;border:1px solid #dde2ea;border-width:1px 0;background-color:#f8f9fa}
.location .location-inr {width:1240px;margin:0 auto;}
.location .home {float:left;width:60px;height:60px;content:'';border-left:1px solid #dde2ea;background:url('../../img/layout/ico_home.png') center no-repeat}
.location .home span {display:block;text-indent:-9999em;width:1px;height:1px;margin:-1px;overflow:hidden}
.location .history {width:1240px;margin:0 auto}
.location li {float:left;margin-left:-1px}
.location li select {min-width:210px;height:58px;border-width:0 1px;margin:0;font-size:16px;-webkit-border-radius:0;border-radius:0;border-color:#dde2ea;background:#f8f9fa url('../../img/layout/bg_select.png') no-repeat 100% 50%}
.location li select option {background-color:#fff}
.location li select[disabled] {color:#999;background:#f8f9fa url('../../img/layout/bg_select_disabled.png') no-repeat 100% 50%}*/

/* LOCATION */
.location {height:62px;border:1px solid #dde2ea;border-width:1px 0;background-color:#f8f9fa}
.location .btn-home {float:left;width:60px;height:60px;content:'';border-left:1px solid #dde2ea;border-right:1px solid #dde2ea;background:url('../../img/layout/ico_home.png') center no-repeat}
.location .btn-home span {display:block;text-indent:-9999em;width:1px;height:1px;margin:-1px;overflow:hidden}
.location .history {width:1240px;margin:0 auto}
.location:after, .location .history:after, .history-lst:after {content:'';display:block;clear:both}
.location .history-lst > li {float:left;}
.location .location-menu {min-width:210px;height:60px;margin:0;font-size:16px;border-right:1px solid #dde2ea;cursor:pointer;position:relative;}
.location .location-menu:after{content:'';width:11px;height:7px;background:url('../../img/layout/ico_location.png') no-repeat 0 0;position:absolute;right:24px;top:26px;}
.location .location-menu.on:after{background:url('../../img/layout/ico_location.png') no-repeat 0 -7px;}
.location .location-menu strong{display:block;padding:0 40px 0 30px;height:60px;line-height:60px;color:#111;}
.location .location-menu .dep-list{position:relative;display:none;margin:0 -1px;padding:10px 0 15px;background:#f8f9fa;border:1px solid #dde2ea;z-index:10;}
.location .location-menu .dep-list li a{display:block;padding:0 28px;height:40px;line-height:40px;color:#111;font-size:16px;font-weight:bold;}
.location .location-menu .dep-list li a:hover{color:#c70000;text-decoration:underline;}


.intro_page .location {height:62px;border:1px solid #6c6f73;border-width:1px 0;background-color:transparent;}
.intro_page .location .btn-home {float:left;width:60px;height:60px;content:'';border-left:1px solid #6c6f73;border-right:1px solid #6c6f73;background:url('../../img/layout/ico_home_white.png') center no-repeat}
.intro_page .location .btn-home span {display:block;text-indent:-9999em;width:1px;height:1px;margin:-1px;overflow:hidden}
.intro_page .location .history {width:1240px;margin:0 auto}
.intro_page .location:after,.intro_page .location .history:after, .history-lst:after {content:'';display:block;clear:both}
.intro_page .location .history-lst > li {float:left;}
.intro_page .location .location-menu {min-width:210px;height:60px;margin:0;font-size:16px;border-right:1px solid #6c6f73;cursor:pointer;position:relative;}
.intro_page .location .location-menu:after{content:'';width:11px;height:7px;background:url('../../img/layout/ico_location_white.png') no-repeat 0 0;position:absolute;right:24px;top:26px;}
.intro_page .location .location-menu.on:after{background:url('../../img/layout/ico_location_white.png') no-repeat 0 0;}
.intro_page .location .location-menu strong{display:block;padding:0 40px 0 30px;height:60px;line-height:60px;color:#fff;}
.intro_page .location .location-menu .dep-list{position:relative;display:none;margin:0 -1px;padding:10px 0 15px;background:transparent;border:1px solid #6c6f73;z-index:10;}
.intro_page .location .location-menu .dep-list li a{display:block;padding:0 28px;height:40px;line-height:40px;color:#fff;font-size:16px;font-weight:bold;}
.intro_page .location .location-menu .dep-list li a:hover{color:#c70000;text-decoration:underline;}





.intro_page .location {height:62px;border:1px solid #6c6f73;border-width:1px 0;background-color:transparent;}
.intro_page .location .btn-home {float:left;width:60px;height:60px;content:'';border-left:1px solid #6c6f73;border-right:1px solid #6c6f73;background:url('../../img/layout/ico_home_white.png') center no-repeat}
.intro_page .location .btn-home span {display:block;text-indent:-9999em;width:1px;height:1px;margin:-1px;overflow:hidden}
.intro_page .location .history {width:1240px;margin:0 auto}
.intro_page .location:after,.intro_page .location .history:after, .history-lst:after {content:'';display:block;clear:both}
.intro_page .location .history-lst > li {float:left;}
.intro_page .location .location-menu {min-width:210px;height:60px;margin:0;font-size:16px;border-right:1px solid #6c6f73;cursor:pointer;position:relative;}
.intro_page .location .location-menu:after{content:'';width:11px;height:7px;background:url('../../img/layout/ico_location_white.png') no-repeat 0 0;position:absolute;right:24px;top:26px;}
.intro_page .location .location-menu.on:after{background:url('../../img/layout/ico_location_white.png') no-repeat 0 0;}
.intro_page .location .location-menu strong{display:block;padding:0 40px 0 30px;height:60px;line-height:60px;color:#fff;}
.intro_page .location .location-menu .dep-list{position:relative;display:none;margin:0 -1px;padding:10px 0 15px;background:transparent;border:1px solid #6c6f73;z-index:10;}
.intro_page .location .location-menu .dep-list li a{display:block;padding:0 28px;height:40px;line-height:40px;color:#fff;font-size:16px;font-weight:bold;}
.intro_page .location .location-menu .dep-list li a:hover{color:#c70000;text-decoration:underline;}

/* CONTENT */
.division {margin-top:80px;}
.division.bg {padding:80px 0;background-color:#f8f9fa;}
.division.bg:last-child {margin-bottom:-100px;}
.division-inr {position:relative;width:1240px;margin:0 auto;}
.division iframe {border:1px solid #dde2ea;}

/* FOOTER */
.footer {margin-top:100px;}
.footer .footer-inr {position:absolute;left:0;right:0;bottom:0;height:117px;padding-top:28px;background-color:#252525;box-sizing:border-box;}
.intro_page .footer .footer-inr {position:static;}
.footer .inner {width:1240px;margin:0 auto;}
.footer .inner:after {content:'';display:block;clear:both;}
.footer .left {float:left;}
.footer .right {float:right;}
.footer .contact,
.footer .copyright {font-family:notoL;font-size:13px;line-height:20px;color:#fff;}
.footer .contact span,
.footer .copyright {opacity:.4;}
.footer .contact a {font-family:notoL;color:#fff;}
.footer .contact span {margin-right:12px;}
.footer .contact span:last-child a {color:#c44040;}
.footer .contact span strong {font-family:notoB;}
.footer .copyright {margin-top:5px;}
.footer .contact,
.footer .contact span:last-child {opacity:1;}
.footer .contact span:last-child a {color:#c44040;}
.footer .sns {float:left;margin-right:50px;}
.footer .sns li {float:left;margin:18px 0 0 12px;}
.footer .sns li[class^='list'] a {content:'';display:block;overflow:hidden;background-repeat:no-repeat;background-position:0 0;text-indent:-5000em;vertical-align:top;}
.footer .sns li.list1 a {width:24px;height:21px;background-image:url('../../img/layout/btn_sns01.png');}
.footer .sns li.list2 a {width:10px;height:20px;background-image:url('../../img/layout/btn_sns02.png');}
.footer .sns li.list3 a {width:12px;height:19px;background-image:url('../../img/layout/btn_sns03.png');}
.footer .sns li.list4 a {width:13px;height:21px;background-image:url('../../img/layout/btn_sns04.png');}/* 2019-09-20 추가 */
.footer .sns li.list5 a {width:20px;height:20px;background-image:url('../../img/layout/btn_sns05.png');}/* 2019-09-20 추가 */
.footer .family {float:right;width:160px;opacity:.7;}
.footer .family a {display:block;font-family:notoL;font-size:13px;color:#fff;}
.footer .family > a {height:38px;border-bottom:1px solid #676767;background:url('../../img/layout/bg_family_select.png') no-repeat 100% 50%;line-height:38px;}
.footer .family > a[aria-expanded='true'] {background-image:url('../../img/layout/bg_family_select_on.png');}
.footer .family ul {display:none;}


