@charset "utf-8";

/* LAYOUT */
html, body, .wrap, .wrap-inr, .main, .container, .contents {height:100%;}
html {overflow-y:auto;}
.wrap {overflow:hidden;min-width:1280px;}
.header,
.footer {position:fixed;left:0;right:0;z-index:2;}
.header {top:0;}
.header h1 a {background-image:url('../../img/layout/logo_redcap_main.png');}
.header .gnb a {color:#fff;}
.footer {bottom:0;background:rgba(0,0,0,.3);}
.footer .family > a {border-bottom:1px solid rgba(255,255,255,.3);}
body {overflow-x:hidden;}

.footer .footer-inr {background:rgba(0,0,0,.3);}

/* SWIPER */
.main-slider {margin:-1px;}
.slick-slider.slider-for .slick-slide [class^='slide'] {position:relative;}
.slick-slider.slider-for .slick-slide.slick-current [class^='slide'] {
	z-index:2;
}
.slick-slider.slider-for .slick-slide .slide1:after {background-image:url('../../img/main/img_visual_bg01.jpg');}
.slick-slider.slider-for .slick-slide .slide2:after {background-image:url('../../img/main/img_visual_bg02.jpg');}
.slick-slider.slider-for .slick-slide .slide3:after {background-image:url('../../img/main/img_visual_bg03.jpg');}
.slick-slider.slider-for .slick-slide .slide4:after {background-image:url('../../img/main/img_visual_bg04.jpg');}
.slick-slider.slider-for .slick-slide [class^='slide']:after {
	content:'';position:absolute;left:0;right:0;top:0;bottom:0;background-repeat:no-repeat;background-position:50% 0;
}
/* .slick-slider.slider-for .slick-slide.slick-current [class^='slide']:after {
	-webkit-animation:slide-zoom 2.3s ease-out;-ms-animation:slide-zoom 2.3s ease-out;animation:slide-zoom 2.3s ease-out;
}

@-webkit-keyframes slide-zoom {
	from {
		-ms-transform: scale(1.2,1.2);
		-webkit-transform: scale(1.2,1.2);
		transform: scale(1.2,1.2);
	}
	to {
		-ms-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
	}
}
@keyframes slide-zoom {
	from {
		-ms-transform: scale(1.2,1.2);
		-webkit-transform: scale(1.2,1.2);
		transform: scale(1.2,1.2);
	}
	to {
		-ms-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
	}
} */

.slick-slider.slider-for .slick-slide .inner {position:relative;width:1240px;margin:0 auto;}
.slick-slider.slider-for .slick-slide [class^='txt'] {position:absolute;left:0;right:0;top:0;z-index:2;color:#fff;}
.slick-slider.slider-for .slick-slide .txt {overflow:hidden;/* height:72px; */margin-top:21%;font-family:notoBL;font-size:70px;line-height:82px;letter-spacing:-.04em;}
.slick-slider.slider-for .slick-slide .slide3 .txt {margin-top:23%;}
/* .slick-slider.slider-for .slick-slide.slick-current .txt p {
	opacity:0;
	-webkit-animation:slide-up 1.15s .35s ease forwards;animation:slide-up 1.15s .35s ease-in-out forwards;
}
@-webkit-keyframes slide-up {
	from {-webkit-transform:translateY(80px);}
	to {-webkit-transform:translateY(0);opacity:1;}
}
@keyframes slide-up {
	from {transform:translateY(80px);}
	to {transform:translateY(0);opacity:1;}
} */

.slick-slider.slider-nav {position:absolute;left:0;right:0;bottom:29%;z-index:2;}
.slick-slider.slider-nav .slick-list {overflow:visible;position:relative;width:1240px;margin:0 auto;}
.slick-slider.slider-nav .slick-track {/* overflow:hidden; */width:auto !important;}
.slick-slider.slider-nav .slick-slide {width:auto !important;margin-left:150px;vertical-align:top;}
.slick-slider.slider-nav .slick-slide:first-child {margin:0;}
.slick-slider.slider-nav .slick-slide a {display:block;min-width:146px;color:#fff;white-space:nowrap;vertical-align:top;opacity:.3;outline:0 none;}
.slick-slider.slider-nav .slick-slide.slick-current a {position:relative;padding-bottom:60px;opacity:1;}
.slick-slider.slider-nav .slick-slide.slick-current a:after {
	content:'';position:absolute;left:0;bottom:0;width:146px;height:22px;background:url('../../img/main/bg_slide_current.png') no-repeat 0 100%;opacity:0;
	-webkit-animation:slide-right .25s .3s ease forwards;animation:slide-right .25s .3s ease forwards;
}
@-webkit-keyframes slide-right {
	from {-webkit-transform:translateX(-40px);}
	to {-webkit-transform:translateY(0);opacity:1;}
}
@keyframes slide-right {
	from {transform:translateX(-40px);}
	to {transform:translateY(0);opacity:1;}
}

.slick-slider.slider-nav .slick-slide em {display:block;font-family:notoB;font-size:32px;}
.slick-slider.slider-nav .slick-slide span {display:block;margin-top:15px;font-family:notoL;font-size:18px;}

.slick-slider.slider-for .slick-dots{position:absolute;left:50%;bottom:135px;width:300px;margin-left:-150px;text-align:center;}
.slick-slider.slider-for .slick-dots li{width:30px;}
.slick-slider.slider-for .slick-dots li + li{margin-left:15px;}
.slick-slider.slider-for .slick-dots li button{width:15px;height:15px;}
.slick-slider.slider-for .slick-dots li.slick-active button{width:25px;height:25px;background-color:#fff;}

/* 메인헤더 추가 */
.multi-lang-area {display:inline-block;position:relative;margin:14px 0 0 42px;vertical-align:top;}
.multi-lang-area .user-lang {display:inline-block;width:85px;height:38px;padding:12px 0 0 20px;outline:0;background:url('../../img/bg/bg_header_lang_select.png') no-repeat 57px 22px;color:#fff;font-size:14px;line-height:26px;text-align:left;vertical-align:top;}
.multi-lang-area .user-lang.on {background-color:#fff;background-image:url('../../img/bg/bg_header_lang_select_black_on.png');box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3);color:#111;}
.multi-lang-area .lang_list {display:none;position:absolute;top:38px;z-index:9999;width:85px;margin-top:-2px;padding:6px 0 13px 0;background:#ffffff;box-shadow:2px 5px 5px rgba(0, 0, 0, 0.3);}
.multi-lang-area .user-lang.on ~ .lang_list {display:block;}
.multi-lang-area .lang_list li button {height:26px;padding-left:20px;font-size:14px;color:#111111;line-height:26px;}
.multi-lang-area .lang_list li button:hover,
.multi-lang-area .lang_list li button:focus {color:#fe0000;text-decoration:underline;}

/* 2020-01-12 텍스트 위치 조정 */
@media (min-width:768px) and (max-width:1366px) {
	.slick-slider.slider-for .slick-slide [class^='slide'] .txt {margin-top:12%;font-size:60px;line-height:72px;}
}