/* overriding.css v1.0 | 2020.04.17 | UX/UI, HyunHyun Lee */

/* Fonts 
====================================================================*/
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 300;
	src: url('../../inc/font/NotoSansCJKkr-Light.eot');
	src: local(☺),
	    url('../../inc/font/NotoSansCJKkr-Light.woff') format('woff');
}
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 400;
	src: url('../../inc/font/NotoSansCJKkr-Regular.eot');
	src: local(☺),
		url('../../inc/font/NotoSansCJKkr-Regular.woff') format('woff');
}
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 500;
	src: url('../../inc/font/NotoSansCJKkr-Medium.eot');
	src: local(☺),
		url('../../inc/font/NotoSansCJKkr-Medium.woff') format('woff');
}
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 700;
	src: url('../../inc/font/NotoSansCJKkr-Bold.eot');
	src: local(☺),
		url('../../inc/font/NotoSansCJKkr-Bold.woff') format('woff');
}
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 300;
	src: url('../../inc/font/Roboto-Light.eot');
	src: local(☺),
        url('../../inc/font/Roboto-Light.woff') format('woff');
    unicode-range: U+0020-007E;
}
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 400;
	src: url('../../inc/font/Roboto-Regular.eot');
	src: local(☺),
		url('../../inc/font/Roboto-Regular.woff') format('woff');
    unicode-range: U+0020-007E;
}
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 500;
	src: url('../../inc/font/Roboto-Medium.eot');
	src: local(☺),
		url('../../inc/font/Roboto-Medium.woff') format('woff');
    unicode-range: U+0020-007E;
}
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 700;
	src: url('../../inc/font/Roboto-Bold.eot');
	src: local(☺),
		url('../../inc/font/Roboto-Bold.woff') format('woff');
    unicode-range: U+0020-007E;
}

/* Main 
====================================================================*/
#main {
    overflow-y: auto;
    height: auto;
    font-family: noto;
}
a:focus,
a:hover {
    text-decoration: none;
}
.wrap-inr {
    padding-bottom: 0;
}
.header {
    position: absolute;
    height: 80px;
    background-color: rgba(51, 51, 51, 0.12);
}
.header h1 {
    height: 34px;
    margin-top: 22px;
    padding-top: 0px;
}
.header h1 a {
    background: url("../../img/main/logo_redcap_on.png") no-repeat;
}
.header h1 a img {
    visibility: hidden;;
}
.header:hover {
    background-color: #fff;
}
.header:hover h1 a {
    background: url("../../img/main/logo_redcap_on.png") no-repeat;
}
.header:hover .gnb>ul>li>a {
    color: #333333;
}
.gnb {
    padding-top: 0;
}
.gnb>ul>li {
    margin: 0 40px;
}
.header .gnb>ul>li>a {
    position: relative;
    font-family: noto;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    letter-spacing: 0;
    transition: none;
    padding: 0;
    height: 80px;
    line-height: 80px;
}
.gnb>ul>li>a:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background: linear-gradient(to right, #F37021, #EE1E24);
}
.main {
    height: auto;
}
.navbar {
    position: fixed;
    top: 120px;
    left: 30px;
    z-index: 1;
}
.navbar.affix {
    position: fixed;
    top: 40px;
}
.navbar li {
    margin: 8px 0;
}
.navbar li a {
    width: 25px;
    height: 25px;
    padding: 0;
    text-indent: -9999px;
    background: url("../../img/main/sprites_quicklink.png") no-repeat;
}
.navbar li a:hover,
.navbar li a:focus {
    background-color: transparent;
}
.navbar li .link-home {
    background-position: -7px -191px;
}
.navbar.affix-top li .link-home {
    background-position: -10px -521px;
}
.navbar li .link-biztravel {
    background-position: -7px -115px;
}
.navbar.affix-top li .link-biztravel {
    background-position: -11px -388px;
}
.navbar li.active .link-biztravel {
    background-position: -7px -153px;
}
.navbar li .link-rentacar {
    background-position: -8px -5px;
}
.navbar.affix-top li .link-rentacar {
    background-position: -12px -345px;;
}
.navbar li.active .link-rentacar {
    background-position: -8px -40px;
}
.navbar li .link-mice {
    background-position: -7px -229px;
}
.navbar.affix-top li .link-mice {
    background-position: -10px -431px;
}
.navbar li.active .link-mice {
    background-position: -7px -267px;
}
.navbar li .link-tour {
    background-position: -7px -305px;
}
.navbar.affix-top li .link-tour {
    background-position: -9px -476px;
}
.navbar li.active .link-tour {
    background-position: -7px -77px;
}
.section-intro {
    position: relative;
    height: 880px;
    overflow: hidden;
}
.section-intro h2 {
    position: relative;
    top: 364px;
    margin: 0;
    font-family: noto;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.8px;
    color: #FFFFFF;
}
.section-intro p {
    position: relative;
    top: 378px;
    font-family: noto;
    font-weight: 300;
    font-size: 54px;
    line-height: 68px;
    letter-spacing: -0.8px;
    color: #FFFFFF;
}
.section-intro p em {
    font-weight: 700;
    background: -webkit-linear-gradient(#F37021, #EE1E24);
    background:    -moz-linear-gradient(#F37021, #EE1E24);
    background:      -o-linear-gradient(#F37021, #EE1E24);
    background:         linear-gradient(#F37021, #EE1E24);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
}
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .section-intro p em {
        color: #EA1313;
        background: transparent;
    }
}
.section-intro img {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 12s;
}
@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
.img-intro02 {
    animation-delay: -8s;
    -webkit-animation-delay: -8s;
}
.img-intro03 {
    animation-delay: -4s;
    -webkit-animation-delay: -4s;
}
.ico-scroll {
    position: absolute;
    left: calc(50% - 25px);
    bottom: 0;
    width: 50px;
    height: 70px;
    background: url("../../img/main/ico_mouse.png") no-repeat center top;
}
.ico-scroll:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 35px;
    animation-name: scroll;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
    background: url("../../img/main/chevron_down.png") no-repeat center;
}
@keyframes scroll {
    0%   {bottom: 8px;}
    40%  {bottom: 1px;}
    100% {bottom: 8px;}
}
.section-inner {
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
    height: 100%;
    z-index: 1;
}
.section-list {
    height: 480px;
    background-color: #ffffff;
}
.section-list .section-inner {
    display: flex;
    flex-flow: row;
    align-items: center;
}
.section-list:nth-child(2n-1) {
    background-color: #FAFAFA;
}
.section-image+.section-text,
.section-text+.section-image {
    margin-left: 100px;
}
.section-list h3 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#F37021, #EE1E24);
    background:    -moz-linear-gradient(#F37021, #EE1E24);
    background:      -o-linear-gradient(#F37021, #EE1E24);
    background:         linear-gradient(#F37021, #EE1E24);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .section-list h3 {
        color: #EA1313;
        background: transparent;
    }
}
.section-list p {
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.8px;
    color: #333333;
}
.section-list p b {
    font-weight: 700;
}
.section-list a {
    position: relative;
    display: inline-block;
    margin-top: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -1px;
    color: #444444;
}
.section-list a:after {
    content: "";
    position: absolute;
    top: 7px;
    right: -24px;
    width: 11px;
    height: 14px;
    background: url("../../img/main/chevron_right.png") no-repeat center;
}
.footer {
    position: relative;
    margin: 0;
    height: 200px;
}
.footer .footer-inr {
    position: relative;
    height: 100%;
    padding-top: 50px;
    background-color: #ffffff;
}
.footer .contact span,
.footer .copyright {
    position: relative;
    margin-right: 16px;
    font-family: noto;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #999999;
    opacity: 1;
}
.footer .copyright {
    margin-top: 10px;
}
.footer .contact span.fc-darkgrey {
    font-weight: 700;
    color: #444444;
}
.footer .contact span.fc-red {
    color: #E85256;
}
.footer .contact a {
    font-family: noto;
    font-weight: 400;
    color: #999999;
}
.footer .contact span a.fc-grey {
    font-weight: 500;
    color: #555555;
}
.bar-left:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -8px;
    width: 1px;
    height: 14px;
    background-color: #cccccc;
}
.footer .right {
    margin-top: 26px;
}
.footer .sns {
    margin-right: 25px;
}
.footer .sns li {
    margin: 8px 0 0 12px;
}
.footer .sns li[class^='list'] a {
    background: url("../../img/main/sprites_sns.png") no-repeat;
}
.footer .sns li.list1 a {
    width: 29px;
    height: 24px;
    background-position: -10px -308px;
}
.footer .sns li.list1 a:hover {
    background-position: -9px -135px;
}
.footer .sns li.list2 a {
    width: 24px;
    height: 24px;
    background-position: -9px -264px;
}
.footer .sns li.list2 a:hover {
    background-position: -3px -93px;
}
.footer .sns li.list3 a {
    width: 24px;
    height: 24px;
    background-position: -10px -220px;
}
.footer .sns li.list3 a:hover {
    background-position: -4px -51px;
}
.footer .sns li.list4 a {
    width: 24px;
    height: 24px;
    background-position: -10px -352px;
}
.footer .sns li.list4 a:hover {
    background-position: -4px -177px;
}
.footer .sns li.list5 a {
    width: 24px;
    height: 24px;
    background-position: -10px -396px;
}
.footer .sns li.list5 a:hover {
    background-position: -9px -9px;
}
.footer .family {
    width: 180px;
    opacity: 1;
}
.footer .family > a {
    width: 180px;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding-left: 12px;
    font-family: noto;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: #808080;
    background: url("../../img/main/arrow_up_right.png") no-repeat center right 8px;
}
.scrolltop {
    position: fixed;
    bottom: 30px;
    right: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #5B575B;
    text-indent: -9999px;
    z-index: 10;
}
.scrolltop:before {
    content: "";
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    width: 24px;
    height: 24px;
    background: url("../../img/main/arrow_up.png") no-repeat center;
}
@media screen and (min-width: 1919px) {
    .section-intro img {
        width: 100%;
    }
}